# Initialization

In [123]:
# Loading libraries

import pandas as pd
import numpy as np
import plotly.express as px
from IPython.display import display

## Load Data

In [124]:
# load *.csv file into dataframes

try:
    vehicles_df = pd.read_csv('vehicles_us.csv')
except:
    vehicles_df = pd.read_csv('https://practicum-content.s3.us-west-1.amazonaws.com/datasets/vehicles_us.csv')

# EDA - Exploratory Data Analysis

<span style="color: blue;"><u>**OBJECTIVE**</u></span>
1. Review uploaded `vehicles_us.csv` file
2. Check for missing values/Nulls, NaN (*Not a Number, etc.*)

<br>

<span style="color: darkorange;"><u>**Findings / Observations**</u></span>
- 51525 row with 13 columns
- missing values, nulls, & NaNs found in the following (5) attributes:
    1. `model_year` (3619)
    2. `cylinders` (5260)
    3. `odometer` (7892)
    4. `paint_color` (9267)
    5. `is_4wd` (25953)
- `is_4wd` column is boolean logic (1 = Y vs. 0 = N)
    - NaN found and may need to determine if these will be zero (0 = No)
- found several ford model names that can be consolidated
    - `ford f-150` (2796) with `ford f150` (530)
    - `ford f-250` (422) with `ford f250`	(339)
    - keep `f-###` model name format 
- <>

<br>

<span style="color: red;"><u>**Note-2-Self**</u></span>
- will need to parse out the manufacturer and vehicle model from `model` column
    - *see code shared by Jester* 
- `date_posted` and `model_year` column as `object` datatype
    - convert to `datetime` datatype
- `model_year` column as `float` datatype
    - convert to `datetime` datatype for ease of data visualization
- may want to clean the `model_year` column to be 4-digit year (YYYY)
- <>

In [146]:
# EDA - displays rows with missing values

display(vehicles_df[vehicles_df.isna().any(axis=1)].head(60))

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
76,3000,2010.0,nissan versa,like new,4.0,gas,200412.0,automatic,hatchback,silver,NaN,2018-09-23,33
77,4200,2012.0,ford focus,like new,4.0,gas,144273.0,automatic,sedan,silver,NaN,2018-06-11,19
80,26900,2014.0,chevrolet silverado 1500 crew,good,8.0,gas,68607.0,automatic,pickup,NaN,1.0,2018-09-08,10
81,5900,2000.0,ford f250 super duty,good,8.0,diesel,202752.0,automatic,pickup,red,NaN,2018-07-08,32
82,9950,2014.0,dodge charger,good,8.0,gas,102878.0,automatic,sedan,white,NaN,2018-06-02,28

<span style="color: red;"><u>**Note-2-Self**</u></span>


Read/Review the use  `fillna()`  `mode` parameter for fill-in `'model_year'`

`'odometer'` - take average to fill-in NaN

`'is_4wd'` fill-in with zero = No

In [125]:
# EDA - preview data

display(vehicles_df.sample(50))

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
6824,12900,2010.0,ford f-150,good,NaN,gas,107636.0,automatic,pickup,black,1.0,2018-10-27,39
40383,27999,2014.0,gmc sierra 1500,like new,8.0,gas,52000.0,automatic,truck,white,1.0,2018-11-09,13
42431,5500,2001.0,toyota 4runner,good,6.0,gas,208913.0,automatic,SUV,NaN,1.0,2018-07-17,20
49107,2100,2006.0,nissan altima,good,4.0,gas,167000.0,automatic,sedan,grey,NaN,2018-10-15,54
6819,2500,1999.0,jeep cherokee,good,6.0,gas,253108.0,automatic,SUV,white,1.0,2019-01-29,45
33770,17500,2016.0,ford f-150,like new,NaN,gas,41500.0,automatic,pickup,black,1.0,2018-05-19,7
12389,8995,2011.0,nissan rogue,excellent,4.0,gas,74517.0,automatic,SUV,white,1.0,2019-02-19,29
23095,8600,2015.0,kia soul,excellent,4.0,gas,54510.0,automatic,SUV,white,NaN,2019-03-03,35
26297,17995,NaN,ram 1500,excellent,NaN,gas,126787.0,automatic,pickup,white,1.0,2019-04-18,58
47017,12998,2010.0,ford f-150,good,8.0,gas,126729.0,automatic,truck,silver,1.0,2019-03-30,102
2627,7356,NaN,chevrolet impala,excellent,6.0,gas,113366.0,automatic,sedan,NaN,NaN,2018-12-13,3
36103,3500,2006.0,nissan sentra,excellent,4.0,gas,120000.0,manual,sedan,black,NaN,2018-09-10,3
46906,4795,2006.0,honda pilot,good,6.0,gas,190000.0,automatic,SUV,black,1.0,2018-07-20,58
17826,7250,2010.0,dodge grand caravan,excellent,6.0,gas,129000.0,automatic,mini-van,black,NaN,2019-01-09,26
40776,2700,2003.0,chevrolet suburban,good,8.0,gas,219000.0,automatic,SUV,white,1.0,2018-07-08,47
7442,5800,2013.0,volkswagen jetta,excellent,NaN,gas,89000.0,automatic,sedan,silver,NaN,2019-02-15,55
27026,6399,2010.0,toyota corolla,good,4.0,gas,NaN,automatic,sedan,custom,NaN,2018-06-03,35
24368,15995,2011.0,chevrolet silverado,like new,8.0,gas,NaN,automatic,pickup,white,1.0,2019-01-19,14
6174,1200,1998.0,ford taurus,good,6.0,gas,203000.0,automatic,sedan,white,NaN,2019-03-05,31
47993,11500,NaN,ford f-150,excellent,8.0,gas,140640.0,automatic,truck,NaN,NaN,2018-08-27,24
48002,9990,2015.0,ford fusion se,excellent,4.0,gas,110939.0,automatic,sedan,black,NaN,2018-10-02,44
46330,8995,2011.0,buick enclave,good,6.0,gas,124180.0,automatic,SUV,red,1.0,2018-10-18,71
15375,975,2002.0,chevrolet impala,fair,6.0,gas,205000.0,automatic,sedan,NaN,NaN,2019-04-14,46
2043,18995,2013.0,ram 1500,excellent,8.0,gas,NaN,automatic,truck,NaN,1.0,2018-12-24,22
17178,10750,2010.0,bmw x5,excellent,8.0,gas,104000.0,automatic,SUV,grey,1.0,2018-11-09,79
12702,4895,2012.0,ford focus,excellent,4.0,gas,84631.0,automatic,sedan,grey,NaN,2018-06-15,14
48898,13900,2003.0,ram 2500,good,6.0,diesel,NaN,automatic,pickup,grey,1.0,2018-07-30,29
8370,8988,2008.0,ram 1500,excellent,NaN,gas,119929.0,automatic,truck,blue,NaN,2019-03-22,26
21342,4000,2003.0,jeep liberty,excellent,6.0,gas,138000.0,automatic,SUV,silver,1.0,2019-01-23,54
7032,6450,2008.0,jeep grand cherokee,excellent,6.0,gas,165075.0,automatic,SUV,silver,1.0,2019-03-01,10
48275,13950,2016.0,jeep wrangler unlimited,good,6.0,gas,34655.0,automatic,wagon,black,1.0,2019-02-28,22
21350,28700,2016.0,ford f150 supercrew cab xlt,good,6.0,gas,35205.0,other,pickup,black,1.0,2018-05-15,40
27604,21995,2011.0,ford f350 super duty,excellent,8.0,diesel,87000.0,automatic,truck,black,1.0,2018-05-27,38
41126,10988,2013.0,chevrolet malibu,like new,4.0,gas,NaN,automatic,sedan,brown,NaN,2018-08-11,13
1173,6400,2005.0,chevrolet silverado 1500,good,8.0,gas,178000.0,automatic,pickup,black,1.0,2019-03-19,4
40627,4000,NaN,toyota camry,good,4.0,gas,150000.0,automatic,sedan,NaN,NaN,2018-09-02,32
17962,7495,2013.0,ford focus se,excellent,4.0,gas,103000.0,automatic,hatchback,silver,NaN,2018-05-19,14
13174,4750,2006.0,ram 1500,excellent,8.0,gas,143200.0,automatic,truck,custom,NaN,2018-11-18,32
2991,28990,2015.0,ford f-350 sd,good,8.0,diesel,112150.0,automatic,truck,white,1.0,2018-12-10,24
49863,2500,2002.0,ford explorer,fair,6.0,gas,135306.0,automatic,SUV,silver,1.0,2018-05-25,40
10344,3500,2016.0,honda accord,excellent,4.0,gas,30300.0,automatic,sedan,black,NaN,2018-09-14,18
25721,2495,2001.0,toyota camry,good,4.0,gas,193508.0,automatic,sedan,NaN,NaN,2018-10-01,67
50392,29995,2018.0,gmc sierra 1500,excellent,8.0,gas,98638.0,automatic,pickup,NaN,1.0,2019-02-25,79
5462,3500,2008.0,ford focus,good,4.0,gas,150000.0,automatic,sedan,NaN,NaN,2018-12-17,27
13952,7600,2012.0,honda accord,good,4.0,gas,119101.0,automatic,sedan,blue,NaN,2018-10-29,12
4353,14000,2017.0,ford fusion se,excellent,4.0,gas,NaN,automatic,sedan,brown,NaN,2018-11-03,68
683,12995,2008.0,toyota highlander,good,6.0,gas,NaN,automatic,SUV,red,1.0,2018-08-16,52
37427,33997,2017.0,gmc sierra 1500,excellent,NaN,gas,29681.0,automatic,truck,white,1.0,2019-02-02,64
17341,2500,NaN,dodge dakota,good,6.0,gas,109421.0,automatic,pickup,grey,1.0,2018-11-22,45
22376,11995,2015.0,subaru outback,excellent,NaN,gas,137058.0,automatic,wagon,NaN,1.0,2019-03-11,40

In [141]:
ford_models = vehicles_df[vehicles_df['model'].isna()]

display(ford_models.head(60))

Empty DataFrame
Columns: [price, model_year, model, condition, cylinders, fuel, odometer, transmission, type, paint_color, is_4wd, date_posted, days_listed]
Index: []

In [140]:
# EDA - see row with NaN

rows_with_nan = vehicles_df[vehicles_df['model_year'].isna()]

display(rows_with_nan.head(60))

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
20,6990,NaN,chevrolet tahoe,excellent,8.0,gas,147485.0,automatic,SUV,silver,1.0,2018-08-05,28
65,12800,NaN,ford f-150,excellent,6.0,gas,108500.0,automatic,pickup,white,NaN,2018-09-23,15
69,7800,NaN,ford f-150,like new,8.0,gas,97510.0,automatic,truck,white,1.0,2019-02-20,39
72,3650,NaN,subaru impreza,excellent,NaN,gas,74000.0,automatic,sedan,blue,1.0,2018-08-07,60
84,4995,NaN,hyundai elantra,like new,4.0,gas,151223.0,automatic,sedan,custom,NaN,2018-09-15,1
102,10800,NaN,chevrolet colorado,excellent,5.0,gas,114922.0,automatic,truck,red,1.0,2018-06-23,35
114,23700,NaN,nissan frontier crew cab sv,good,6.0,gas,12901.0,other,pickup,black,1.0,2018-09-21,8
116,25300,NaN,chevrolet camaro lt coupe 2d,good,6.0,gas,3568.0,other,coupe,NaN,NaN,2018-06-16,34
144,8995,NaN,chevrolet silverado 1500,excellent,8.0,gas,119726.0,automatic,truck,grey,1.0,2019-03-18,27
159,23300,NaN,nissan frontier crew cab sv,good,NaN,gas,NaN,other,pickup,grey,1.0,2018-07-24,73
164,2500,NaN,toyota camry,good,6.0,gas,150000.0,automatic,sedan,silver,NaN,2018-06-13,68
165,22000,NaN,ford f350 super duty,good,8.0,diesel,163000.0,automatic,truck,NaN,1.0,2019-02-05,38
184,6800,NaN,honda cr-v,excellent,4.0,gas,186000.0,automatic,SUV,grey,1.0,2018-12-22,25
186,3000,NaN,honda accord,good,6.0,gas,204000.0,automatic,coupe,blue,NaN,2018-05-18,21
199,8499,NaN,nissan rogue,excellent,4.0,gas,123360.0,automatic,wagon,blue,1.0,2019-03-28,28
201,15900,NaN,ford escape,excellent,4.0,gas,19764.0,automatic,SUV,black,1.0,2018-07-03,32
260,14975,NaN,toyota 4runner,good,6.0,gas,NaN,automatic,SUV,silver,NaN,2018-05-13,57
263,14995,NaN,chevrolet silverado 1500,good,8.0,gas,114587.0,automatic,truck,grey,1.0,2018-11-02,11
309,2500,NaN,nissan rogue,excellent,4.0,gas,25600.0,automatic,SUV,black,NaN,2018-09-22,53
361,8900,NaN,ford fusion,excellent,4.0,gas,40062.0,automatic,sedan,white,1.0,2018-06-15,30
370,4700,NaN,kia soul,good,NaN,gas,NaN,manual,sedan,white,NaN,2019-01-14,50
383,9500,NaN,nissan maxima,like new,6.0,gas,105000.0,automatic,sedan,white,NaN,2018-08-10,42
397,14995,NaN,chevrolet camaro,excellent,8.0,gas,95000.0,automatic,coupe,NaN,NaN,2018-06-29,15
411,22975,NaN,ram 2500,excellent,6.0,diesel,119546.0,automatic,pickup,white,1.0,2019-02-01,9
418,4998,NaN,toyota corolla,good,NaN,gas,44442.0,automatic,sedan,grey,NaN,2019-04-19,12
429,8950,NaN,ford focus se,excellent,4.0,gas,63380.0,automatic,sedan,white,NaN,2018-08-08,36
443,2025,NaN,chevrolet tahoe,good,8.0,gas,151000.0,automatic,SUV,NaN,1.0,2018-10-24,31
455,6000,NaN,chevrolet corvette,good,8.0,gas,96500.0,manual,coupe,white,NaN,2019-03-01,54
472,8250,NaN,chevrolet silverado 1500,good,8.0,gas,177000.0,automatic,pickup,white,1.0,2019-01-05,20
482,14500,NaN,ford f-250 sd,good,8.0,gas,185843.0,automatic,truck,black,1.0,2018-05-12,33
492,6000,NaN,toyota prius,excellent,4.0,hybrid,142451.0,automatic,hatchback,white,NaN,2018-07-05,18
528,4500,NaN,honda accord,good,6.0,gas,197023.0,automatic,sedan,white,NaN,2018-06-05,23
557,7900,NaN,gmc sierra,good,8.0,gas,199000.0,automatic,pickup,blue,1.0,2019-03-06,29
567,6900,NaN,toyota 4runner,excellent,8.0,gas,218629.0,automatic,SUV,silver,NaN,2018-11-30,76
586,26000,NaN,toyota rav4,like new,4.0,gas,NaN,automatic,SUV,NaN,NaN,2018-08-09,29
633,9995,NaN,chevrolet impala,good,6.0,gas,123951.0,automatic,sedan,custom,NaN,2018-07-07,69
659,8400,NaN,volkswagen jetta,good,4.0,diesel,NaN,manual,wagon,NaN,NaN,2018-10-22,37
664,5000,NaN,toyota highlander,excellent,NaN,gas,NaN,automatic,SUV,blue,NaN,2018-06-27,14
666,25900,NaN,chevrolet corvette,excellent,8.0,gas,25000.0,manual,coupe,NaN,NaN,2018-10-11,78
668,13495,NaN,chevrolet colorado,excellent,4.0,gas,62267.0,automatic,other,white,NaN,2018-11-12,43
691,5495,NaN,honda accord,like new,NaN,gas,134000.0,automatic,sedan,brown,NaN,2019-03-24,55
722,12500,NaN,ford f350,excellent,8.0,diesel,144500.0,automatic,pickup,white,1.0,2018-12-03,43
729,4850,NaN,nissan rogue,excellent,6.0,gas,135000.0,automatic,SUV,black,1.0,2018-06-18,28
753,18900,NaN,ford f-150,excellent,NaN,gas,NaN,automatic,truck,blue,1.0,2018-08-22,85
755,4400,NaN,toyota prius,good,4.0,hybrid,156872.0,automatic,hatchback,silver,NaN,2019-01-15,32
756,1600,NaN,honda civic,good,4.0,gas,199440.0,automatic,hatchback,grey,NaN,2018-09-17,25
782,4488,NaN,dodge grand caravan,excellent,6.0,gas,NaN,automatic,mini-van,silver,NaN,2018-07-05,12
802,33995,NaN,chevrolet silverado 2500hd,excellent,8.0,diesel,99000.0,automatic,truck,white,1.0,2019-03-22,72
804,22990,NaN,jeep cherokee,good,6.0,gas,8676.0,automatic,SUV,white,1.0,2018-10-09,20
809,13750,NaN,subaru impreza,excellent,4.0,gas,58300.0,manual,hatchback,grey,1.0,2018-05-16,44
838,10526,NaN,gmc sierra 1500,excellent,8.0,gas,178085.0,automatic,pickup,black,1.0,2018-08-19,25
846,6950,NaN,ford focus,excellent,4.0,gas,80779.0,automatic,sedan,blue,NaN,2018-12-19,8
851,5500,NaN,toyota tundra,good,8.0,gas,223300.0,automatic,truck,green,1.0,2019-02-20,68
868,9995,NaN,ford explorer,excellent,6.0,gas,NaN,automatic,SUV,white,NaN,2018-10-13,22
879,9950,NaN,bmw x5,excellent,6.0,gas,NaN,automatic,SUV,silver,1.0,2018-07-05,8
918,12995,NaN,honda cr-v,excellent,4.0,gas,124000.0,automatic,SUV,brown,1.0,2018-05-03,20
921,13750,NaN,toyota camry,excellent,4.0,gas,40000.0,automatic,sedan,silver,NaN,2018-12-06,2
943,10995,NaN,ford mustang,good,6.0,gas,84043.0,automatic,convertible,black,NaN,2019-03-30,83
953,28950,NaN,jeep wrangler,excellent,6.0,gas,39888.0,automatic,SUV,white,1.0,2019-03-24,29

In [126]:
# EDA - check for nulls/NaN/missing values

# view & identify dataframe attributes with null/missing values
vehicles_df.info()
print('\n\n')

# counts of missing values, nulls, NaNs
print('Missing Value / Null / NaN Counts')
display(vehicles_df.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB



Missing Value / Null / NaN Counts

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

In [127]:
# EDA - view the unique value and counts in the following columns

display(vehicles_df['model'].value_counts(sort=True))
print()

display(vehicles_df['condition'].value_counts(sort=True))
print()

display(vehicles_df['transmission'].value_counts(sort=False))
print()

display(vehicles_df['type'].value_counts(sort=True))
print()

display(vehicles_df['paint_color'].value_counts())
print()

display(vehicles_df['is_4wd'].value_counts(sort=True))
print()

model
ford f-150                           2796
chevrolet silverado 1500             2171
ram 1500                             1750
chevrolet silverado                  1271
jeep wrangler                        1119
                                     ...
ford f-250 super duty                 241
acura tl                              236
kia sorento                           236
nissan murano                         235
mercedes-benz benze sprinter 2500      41
Name: count, Length: 100, dtype: int64

condition
excellent    24773
good         20145
like new      4742
fair          1607
new            143
salvage        115
Name: count, dtype: int64

transmission
automatic    46902
manual        2829
other         1794
Name: count, dtype: int64

type
SUV            12405
truck          12353
sedan          12154
pickup          6988
coupe           2303
wagon           1541
mini-van        1161
hatchback       1047
van              633
convertible      446
other            256
offroad          214
bus               24
Name: count, dtype: int64

paint_color
white     10029
black      7692
silver     6244
grey       5037
blue       4475
red        4421
green      1396
brown      1223
custom     1153
yellow      255
orange      231
purple      102
Name: count, dtype: int64

is_4wd
1.0    25572
Name: count, dtype: int64

In [128]:
# EDA - view the unique value and counts in the 'type' column

display(vehicles_df['type'].value_counts(sort=True))

type
SUV            12405
truck          12353
sedan          12154
pickup          6988
coupe           2303
wagon           1541
mini-van        1161
hatchback       1047
van              633
convertible      446
other            256
offroad          214
bus               24
Name: count, dtype: int64

In [149]:
# EDA - view all the unique value and counts in the 'model_year' column
# converted into a dataframe in order to view the entire (68) unique values

model_year_counts_df = (vehicles_df["model_year"].value_counts(sort=False)).reset_index()

model_year_counts_df.columns = ['model_year', 'count']

model_year_df_sorted = model_year_df.sort_values(by='model_year')

display(model_year_counts_df.head(60))

NameError: name 'model_year_df' is not defined

In [148]:
# EDA - view all the unique value and counts in the 'model' column
# converted into a dataframe in order to view the entire (100) unique values
# found several ford model names that can be consolidated i.e. 'ford f250' with 'ford f-250'

model_counts_df = (vehicles_df['model'].value_counts()).reset_index()

#vehicles_df['model'].value_counts(sort=True)

model_counts_df.columns = ['model', 'count']

# sort `model` column by alphabectical order
model_counts_df_sorted = model_counts_df.sort_values(by='model')


bdisplay(model_counts_df_sorted.tail(60))

                                model  count
54               ford f250 super duty    370
90                          ford f350    250
91               ford f350 super duty    246
16                         ford focus    754
52                      ford focus se    376
27                        ford fusion    544
70                     ford fusion se    309
19                       ford mustang    681
74           ford mustang gt coupe 2d    301
45                        ford ranger    423
71                        ford taurus    303
68                         gmc acadia    315
50                         gmc sierra    388
9                     gmc sierra 1500    906
43                  gmc sierra 2500hd    438
61                          gmc yukon    331
7                        honda accord    964
13                        honda civic    815
86                     honda civic lx    262
18                         honda cr-v    685
39                      honda odyssey    457
73                        honda pilot    302
46                    hyundai elantra    423
83                   hyundai santa fe    273
35                     hyundai sonata    477
78                      jeep cherokee    293
15                jeep grand cherokee    806
87         jeep grand cherokee laredo    256
55                       jeep liberty    355
4                       jeep wrangler   1119
42            jeep wrangler unlimited    452
97                        kia sorento    236
57                           kia soul    349
99  mercedes-benz benze sprinter 2500     41
14                      nissan altima    813
80                    nissan frontier    281
58        nissan frontier crew cab sv    345
77                      nissan maxima    294
98                      nissan murano    235
37                       nissan rogue    469
32                      nissan sentra    497
82                       nissan versa    274
2                            ram 1500   1750
5                            ram 2500   1091
36                           ram 3500    475
33                    subaru forester    484
89                     subaru impreza    250
28                     subaru outback    538
41                     toyota 4runner    453
6                        toyota camry    990
66                    toyota camry le    316
21                     toyota corolla    650
60                  toyota highlander    334
34                       toyota prius    482
38                        toyota rav4    461
63                      toyota sienna    329
12                      toyota tacoma    827
23                      toyota tundra    603
30                   volkswagen jetta    519
56                  volkswagen passat    350



export large output greater than 120 onto `.csv` or `.txt` or `.xlsx`

In [150]:
# TEST CODE - to view all rows output that is less than 120 rows

display(model_counts_df_sorted.head(60))


display(model_counts_df_sorted.tail(60))

                            model  count
96                       acura tl    236
85                         bmw x5    267
84                  buick enclave    271
65              cadillac escalade    322
49               chevrolet camaro    414
69   chevrolet camaro lt coupe 2d    311
79             chevrolet colorado    286
31             chevrolet corvette    499
40                chevrolet cruze    457
25              chevrolet equinox    591
20               chevrolet impala    674
22               chevrolet malibu    617
3             chevrolet silverado   1271
1        chevrolet silverado 1500   2171
72  chevrolet silverado 1500 crew    303
8      chevrolet silverado 2500hd    915
92     chevrolet silverado 3500hd    243
26             chevrolet suburban    562
17                chevrolet tahoe    713
88          chevrolet trailblazer    255
62             chevrolet traverse    329
93                   chrysler 200    243
67                   chrysler 300    316
81        chrysler town & country    279
48                  dodge charger    415
94                   dodge dakota    242
24            dodge grand caravan    598
75                 ford econoline    296
51                      ford edge    383
11                    ford escape    841
53                ford expedition    372
10                  ford explorer    847
0                      ford f-150   2796
47                     ford f-250    422
44                  ford f-250 sd    426
95          ford f-250 super duty    241
76                  ford f-350 sd    295
29                      ford f150    530
64    ford f150 supercrew cab xlt    327
59                      ford f250    339
54           ford f250 super duty    370
90                      ford f350    250
91           ford f350 super duty    246
16                     ford focus    754
52                  ford focus se    376
27                    ford fusion    544
70                 ford fusion se    309
19                   ford mustang    681
74       ford mustang gt coupe 2d    301
45                    ford ranger    423
71                    ford taurus    303
68                     gmc acadia    315
50                     gmc sierra    388
9                 gmc sierra 1500    906
43              gmc sierra 2500hd    438
61                      gmc yukon    331
7                    honda accord    964
13                    honda civic    815
86                 honda civic lx    262
18                     honda cr-v    685

                                model  count
54               ford f250 super duty    370
90                          ford f350    250
91               ford f350 super duty    246
16                         ford focus    754
52                      ford focus se    376
27                        ford fusion    544
70                     ford fusion se    309
19                       ford mustang    681
74           ford mustang gt coupe 2d    301
45                        ford ranger    423
71                        ford taurus    303
68                         gmc acadia    315
50                         gmc sierra    388
9                     gmc sierra 1500    906
43                  gmc sierra 2500hd    438
61                          gmc yukon    331
7                        honda accord    964
13                        honda civic    815
86                     honda civic lx    262
18                         honda cr-v    685
39                      honda odyssey    457
73                        honda pilot    302
46                    hyundai elantra    423
83                   hyundai santa fe    273
35                     hyundai sonata    477
78                      jeep cherokee    293
15                jeep grand cherokee    806
87         jeep grand cherokee laredo    256
55                       jeep liberty    355
4                       jeep wrangler   1119
42            jeep wrangler unlimited    452
97                        kia sorento    236
57                           kia soul    349
99  mercedes-benz benze sprinter 2500     41
14                      nissan altima    813
80                    nissan frontier    281
58        nissan frontier crew cab sv    345
77                      nissan maxima    294
98                      nissan murano    235
37                       nissan rogue    469
32                      nissan sentra    497
82                       nissan versa    274
2                            ram 1500   1750
5                            ram 2500   1091
36                           ram 3500    475
33                    subaru forester    484
89                     subaru impreza    250
28                     subaru outback    538
41                     toyota 4runner    453
6                        toyota camry    990
66                    toyota camry le    316
21                     toyota corolla    650
60                  toyota highlander    334
34                       toyota prius    482
38                        toyota rav4    461
63                      toyota sienna    329
12                      toyota tacoma    827
23                      toyota tundra    603
30                   volkswagen jetta    519
56                  volkswagen passat    350

## Remove Missing Value, Null, and NaN (*Not a Number*)

<span style="color: green;"><u>**Steps / Action Taken**</u></span>
- <>

<br>

<span style="color: darkorange;"><u>**Findings / Observations**</u></span>
- <>

<br>

<span style="color: red;"><u>**Note-2-Self**</u></span>
- will need to parse out the manufacturer and vehicle model from `model` column
    - *see code shared by Jester* 
- for now...okay to keep the `date_posted` column as `object` datatype
    - will determine and return if needed to change to `datetime` datatype
- may want to clean the `model_year` column to be 4-digit year (YYYY)
- <>

In [131]:
# pull all rows containing the specific 'model_year' column

#specific_model = 

filtered_models = vehicles_df.loc[vehicles_df['model']]

KeyError: "None of [Index(['bmw x5', 'ford f-150', 'hyundai sonata', 'ford f-150', 'chrysler 200',\n       'chrysler 300', 'toyota camry', 'honda pilot', 'kia sorento',\n       'honda pilot',\n       ...\n       'chevrolet silverado 2500hd', 'jeep grand cherokee', 'dodge charger',\n       'ford taurus', 'honda accord', 'nissan maxima', 'honda civic',\n       'hyundai sonata', 'toyota corolla', 'nissan altima'],\n      dtype='object', length=51525)] are in the [index]"

In [ ]:
# Reference Code - double check the `model` column


# SANTIY CHECK: Spot Check for specific user ID's total monthly call counts = total 2018 call count


# Replace with the user_id you want to filter
#specific_user_id = 1498  

# pull all rows containing the specific user ID
#filtered_df_call_counts = df_user_monthly_call_count.loc[df_user_monthly_call_count['user_id'] == specific_user_id]

# sums the sepcific user ID's monthly call counts
#user_total_call_count = filtered_df_call_counts['total_calls'].sum()

# notice this equals the User ID's total call counts in 2018
#print(f"User ID: {specific_user_id} total call count in 2018 is {user_total_call_count}.")


# Display the filtered dataframe
#display(filtered_df_call_counts)

In [ ]:
# CLEANING DATA - remove NaN values in `model_year` column

In [ ]:
# Feature Engineering - parse manufacturer and model name in 'model' column
# code to reference to parse manufacturer and model
# use later.  Need to clean.
# remove null / Nan / missing values


#vehicles_df[['make', 'model']] = vehicles_df['model'].str.split(' ', n=1, expand=True)