# Initialization

In [1]:
# Loading libraries

import pandas as pd
import numpy as np
import plotly.express as px
from IPython.display import display

## Load Data

In [2]:
# load *.csv file into dataframes

try:
    vehicles_df = pd.read_csv('vehicles_us.csv')
except:
    vehicles_df = pd.read_csv('https://practicum-content.s3.us-west-1.amazonaws.com/datasets/vehicles_us.csv')

# EDA - Exploratory Data Analysis

<span style="color: blue;"><u>**OBJECTIVE**</u></span>
1. Review uploaded `vehicles_us.csv` file
2. Check for missing values/Nulls, NaN (*Not a Number, etc.*)

<br>

<span style="color: darkorange;"><u>**Findings / Observations**</u></span>
- 51525 row with 13 columns
- missing values, nulls, & NaNs found in the following (5) attributes:
    1. `model_year` (3619)
    2. `cylinders` (5260)
    3. `odometer` (7892)
    4. `paint_color` (9267)
    5. `is_4wd` (25953)
- `is_4wd` column is boolean logic (1 = Y vs. 0 = N)
    - NaN found and may need to determine if these will be zero (0 = No)
- found several ford model names that can be consolidated
    - `ford f150` (counts=530) with `ford f-150` (counts=2796) 
    - `ford f250` (counts=339) with `ford f-250` (counts=422)
    - `ford f-250 sd` (counts=426) with `ford f-250 super duty` (counts=241)
    - `ford f250 super duty` (counts=370) with `ford f-250 super duty` (counts=241)
    - `ford f-350 sd` (counts=295) with `ford f350 super duty` (counts=246)
    - keep `f-###` model name format 
- <>

<br>

<span style="color: red;"><u>**Note-2-Self**</u></span>
- will need to parse out the manufacturer and vehicle model from `model` column
    - *see code shared by Jester* 
- `date_posted` and `model_year` column as `object` datatype
    - convert to `datetime` datatype
- `model_year` column as `float` datatype
    - convert to `datetime` datatype for ease of data visualization
- may want to clean the `model_year` column to be 4-digit year (YYYY)
- <>

In [3]:
# EDA: displays rows with missing values

display(vehicles_df[vehicles_df.isna().any(axis=1)].head(60))

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28
6,12990,2015.0,toyota camry,excellent,4.0,gas,79212.0,automatic,sedan,white,NaN,2018-12-27,73
8,11500,2012.0,kia sorento,excellent,4.0,gas,104174.0,automatic,SUV,NaN,1.0,2018-07-16,19
9,9200,2008.0,honda pilot,excellent,NaN,gas,147191.0,automatic,SUV,blue,1.0,2019-02-15,17
11,8990,2012.0,honda accord,excellent,4.0,gas,111142.0,automatic,sedan,grey,NaN,2019-03-28,29
12,18990,2012.0,ram 1500,excellent,8.0,gas,140742.0,automatic,pickup,NaN,1.0,2019-04-02,37
13,16500,2018.0,hyundai sonata,excellent,4.0,gas,22104.0,automatic,sedan,silver,NaN,2019-01-14,29
15,17990,2013.0,ram 1500,excellent,8.0,gas,NaN,automatic,pickup,red,1.0,2018-05-15,111
19,13990,2018.0,hyundai elantra,excellent,4.0,gas,31932.0,automatic,sedan,red,NaN,2018-08-25,27
20,6990,NaN,chevrolet tahoe,excellent,8.0,gas,147485.0,automatic,SUV,silver,1.0,2018-08-05,28
21,5250,2007.0,toyota rav4,good,6.0,gas,154000.0,automatic,SUV,NaN,NaN,2018-08-22,8
23,7500,2004.0,jeep wrangler,good,6.0,gas,NaN,automatic,SUV,red,1.0,2018-05-17,39
24,3950,2009.0,chrysler 200,excellent,4.0,gas,NaN,automatic,sedan,red,NaN,2018-06-11,40
25,11499,2017.0,chevrolet malibu,like new,4.0,gas,NaN,automatic,sedan,NaN,NaN,2018-07-26,43
26,8499,2014.0,ford fusion se,like new,4.0,gas,79523.0,automatic,sedan,red,NaN,2018-10-25,23
27,12999,2015.0,chevrolet impala,like new,6.0,gas,39368.0,automatic,sedan,custom,NaN,2018-05-19,42
28,29800,2012.0,chevrolet corvette,excellent,8.0,gas,57413.0,automatic,coupe,orange,NaN,2018-10-22,101
29,5495,2010.0,chevrolet impala,excellent,6.0,gas,NaN,automatic,sedan,white,NaN,2019-02-18,20
31,11999,2017.0,toyota camry le,excellent,4.0,gas,35721.0,automatic,sedan,NaN,NaN,2018-09-13,25
32,9499,2015.0,nissan altima,like new,4.0,gas,51848.0,automatic,sedan,grey,NaN,2018-11-12,7
34,9500,2008.0,toyota highlander,good,6.0,gas,149799.0,automatic,SUV,NaN,NaN,2018-06-04,121
35,14999,2015.0,dodge charger,good,6.0,gas,63037.0,automatic,sedan,NaN,NaN,2018-05-11,37
36,10499,2013.0,chrysler 300,good,NaN,gas,88042.0,automatic,sedan,NaN,NaN,2018-05-05,22
37,7500,2005.0,toyota tacoma,good,NaN,gas,160000.0,automatic,pickup,NaN,NaN,2018-07-22,44
38,7999,2015.0,chrysler 200,good,4.0,gas,NaN,automatic,sedan,NaN,NaN,2019-03-08,29
41,11995,2017.0,nissan rogue,like new,4.0,gas,NaN,automatic,SUV,silver,1.0,2018-09-20,21
42,34900,2013.0,mercedes-benz benze sprinter 2500,excellent,6.0,diesel,NaN,automatic,van,black,NaN,2019-01-15,16
44,4500,2004.0,jeep grand cherokee,good,6.0,gas,168821.0,automatic,SUV,NaN,1.0,2019-01-31,60
45,2400,2001.0,toyota camry,good,4.0,gas,277564.0,automatic,coupe,yellow,NaN,2018-05-27,51
47,12500,2008.0,toyota 4runner,good,6.0,gas,141098.0,automatic,SUV,grey,NaN,2019-03-10,35
48,9500,2014.0,ford focus,excellent,4.0,diesel,46000.0,automatic,sedan,NaN,NaN,2018-10-09,24
49,3200,2006.0,honda civic,excellent,4.0,gas,255390.0,automatic,sedan,blue,NaN,2018-10-18,23
50,6200,2006.0,ford f-150,excellent,6.0,gas,69698.0,automatic,truck,custom,NaN,2018-05-03,50
51,3800,2012.0,ford focus,good,4.0,gas,130323.0,automatic,sedan,black,NaN,2018-11-29,261
52,3300,2011.0,kia soul,good,4.0,gas,188963.0,manual,SUV,black,NaN,2019-02-16,71
55,19700,2017.0,chevrolet camaro lt coupe 2d,good,6.0,gas,35807.0,other,coupe,NaN,NaN,2018-05-16,99
56,4200,2006.0,jeep grand cherokee,excellent,6.0,gas,NaN,automatic,SUV,white,1.0,2018-07-01,79
57,4877,2012.0,chevrolet cruze,excellent,4.0,gas,163261.0,automatic,sedan,white,NaN,2019-04-18,21
58,3200,2004.0,bmw x5,excellent,6.0,gas,NaN,automatic,SUV,black,1.0,2019-04-09,10
59,5200,2006.0,toyota highlander,good,NaN,gas,186000.0,automatic,SUV,green,NaN,2018-12-20,2
62,10499,2017.0,chevrolet cruze,good,4.0,gas,53601.0,automatic,sedan,black,NaN,2019-01-13,48
63,30000,1966.0,ford mustang,excellent,NaN,gas,51000.0,manual,convertible,red,NaN,2019-01-23,17
64,15999,2017.0,chevrolet cruze,good,4.0,gas,17498.0,automatic,sedan,black,NaN,2018-11-07,54
65,12800,NaN,ford f-150,excellent,6.0,gas,108500.0,automatic,pickup,white,NaN,2018-09-23,15
66,14999,2013.0,chevrolet silverado 3500hd,good,8.0,gas,NaN,automatic,truck,white,1.0,2018-05-09,22
68,6950,2013.0,nissan altima,excellent,4.0,gas,158786.0,automatic,sedan,NaN,NaN,2018-12-24,41
69,7800,NaN,ford f-150,like new,8.0,gas,97510.0,automatic,truck,white,1.0,2019-02-20,39
70,5500,2006.0,honda accord,good,4.0,gas,NaN,automatic,sedan,silver,NaN,2018-11-27,15
71,23300,2018.0,nissan frontier crew cab sv,good,6.0,gas,27493.0,other,pickup,NaN,1.0,2018-10-13,36
72,3650,NaN,subaru impreza,excellent,NaN,gas,74000.0,automatic,sedan,blue,1.0,2018-08-07,60
74,9950,2008.0,toyota 4runner,excellent,6.0,gas,NaN,automatic,SUV,silver,1.0,2018-06-08,53
75,6950,2005.0,chevrolet tahoe,excellent,NaN,gas,186021.0,automatic,SUV,NaN,1.0,2018-10-30,3
76,3000,2010.0,nissan versa,like new,4.0,gas,200412.0,automatic,hatchback,silver,NaN,2018-09-23,33
77,4200,2012.0,ford focus,like new,4.0,gas,144273.0,automatic,sedan,silver,NaN,2018-06-11,19
80,26900,2014.0,chevrolet silverado 1500 crew,good,8.0,gas,68607.0,automatic,pickup,NaN,1.0,2018-09-08,10
81,5900,2000.0,ford f250 super duty,good,8.0,diesel,202752.0,automatic,pickup,red,NaN,2018-07-08,32

<span style="color: red;"><u>**Note-2-Self**</u></span>


Read/Review the use  `fillna()`  `mode` parameter for fill-in `'model_year'`

`'odometer'` - take average to fill-in NaN

`'is_4wd'` fill-in with zero = No

In [4]:
# EDA: preview data

display(vehicles_df.sample(60))

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
648,14995,2015.0,ford mustang,like new,6.0,gas,NaN,automatic,coupe,white,NaN,2018-06-09,74
49263,15595,2013.0,ram 2500,good,8.0,gas,138000.0,automatic,pickup,white,1.0,2018-05-12,13
37702,1700,1996.0,toyota camry,good,4.0,gas,93231.0,automatic,sedan,NaN,NaN,2019-04-16,20
23469,11950,2013.0,ford f-150,good,6.0,gas,160792.0,automatic,truck,white,1.0,2018-05-03,24
14521,9550,2015.0,chevrolet traverse,good,6.0,gas,93117.0,automatic,SUV,white,NaN,2019-01-21,20
17825,14500,2015.0,honda civic,like new,4.0,gas,NaN,manual,coupe,NaN,NaN,2018-11-17,10
44616,7995,2008.0,ram 1500,good,8.0,gas,132346.0,automatic,truck,white,1.0,2019-01-22,65
14152,8550,2008.0,chevrolet silverado,good,8.0,gas,NaN,automatic,truck,NaN,1.0,2019-01-03,28
17237,6495,2009.0,jeep grand cherokee,excellent,6.0,gas,117255.0,automatic,SUV,white,1.0,2019-03-19,24
42039,2500,2007.0,chevrolet malibu,excellent,6.0,gas,NaN,automatic,sedan,custom,NaN,2019-01-07,23
1144,43977,2014.0,gmc sierra 2500hd,excellent,8.0,diesel,69834.0,automatic,pickup,NaN,1.0,2018-05-31,9
342,15800,2009.0,gmc sierra 1500,excellent,8.0,gas,150000.0,automatic,truck,white,NaN,2018-07-03,36
44411,23999,2011.0,ford f350 super duty,excellent,8.0,diesel,129489.0,automatic,pickup,NaN,1.0,2018-08-18,44
17609,6995,2013.0,ford focus,excellent,4.0,gas,78854.0,automatic,sedan,red,NaN,2018-05-25,34
50605,3000,2007.0,ford mustang,good,6.0,gas,172000.0,automatic,coupe,brown,NaN,2019-01-19,20
15375,975,2002.0,chevrolet impala,fair,6.0,gas,205000.0,automatic,sedan,NaN,NaN,2019-04-14,46
33878,17935,2016.0,ford taurus,excellent,6.0,gas,NaN,automatic,sedan,NaN,NaN,2018-10-17,22
25487,32990,NaN,ram 2500,excellent,8.0,gas,24111.0,automatic,truck,black,1.0,2018-08-03,59
2210,12774,2013.0,volkswagen passat,excellent,4.0,diesel,64655.0,automatic,sedan,NaN,NaN,2018-11-22,7
16924,6995,2012.0,ford focus,excellent,4.0,gas,104272.0,automatic,sedan,NaN,NaN,2018-05-10,52
15102,2850,2004.0,chevrolet silverado,fair,8.0,gas,93000.0,automatic,pickup,black,1.0,2018-09-08,33
50157,6250,2004.0,toyota tacoma,good,4.0,gas,204000.0,automatic,pickup,NaN,NaN,2019-01-02,14
18801,5000,2008.0,subaru impreza,excellent,4.0,gas,138580.0,automatic,sedan,grey,1.0,2018-07-10,57
34010,2500,1991.0,chevrolet silverado,good,8.0,gas,220000.0,automatic,truck,blue,1.0,2019-01-28,28
38842,1200,1995.0,ford f-250,fair,6.0,gas,173850.0,automatic,truck,white,NaN,2018-11-23,50
30762,422,2016.0,ford f-150,like new,6.0,gas,73201.0,automatic,truck,white,NaN,2019-02-28,54
49179,16500,2013.0,chevrolet silverado 1500,excellent,8.0,gas,122816.0,automatic,truck,NaN,1.0,2018-10-23,58
21370,15000,2007.0,toyota tundra,excellent,8.0,gas,139000.0,automatic,truck,silver,NaN,2019-02-22,47
15562,12900,2012.0,cadillac escalade,excellent,NaN,gas,72500.0,automatic,pickup,black,1.0,2018-10-21,15
47574,27591,2018.0,honda cr-v,excellent,4.0,gas,14438.0,automatic,SUV,white,NaN,2019-03-14,45
15321,26000,2017.0,jeep wrangler,excellent,6.0,gas,46500.0,automatic,SUV,NaN,1.0,2018-06-17,42
34208,185,2014.0,nissan sentra,excellent,4.0,gas,100000.0,automatic,sedan,grey,NaN,2019-04-16,46
47336,5395,2010.0,ford taurus,good,6.0,gas,99075.0,automatic,sedan,NaN,NaN,2019-04-17,20
25005,1000,2013.0,ford fusion se,like new,4.0,gas,105000.0,automatic,sedan,NaN,NaN,2018-11-30,87
38493,11900,2014.0,nissan altima,good,4.0,gas,NaN,automatic,sedan,white,NaN,2018-10-10,25
17733,7000,2008.0,toyota 4runner,good,6.0,gas,199000.0,automatic,SUV,NaN,1.0,2019-02-12,32
5955,25100,2014.0,ford f150 supercrew cab xlt,good,6.0,gas,53522.0,other,pickup,NaN,1.0,2019-02-13,23
14371,23000,NaN,ford f-150,like new,6.0,gas,22000.0,automatic,truck,red,NaN,2018-05-01,10
7203,8500,1995.0,chevrolet corvette,excellent,8.0,gas,122879.0,automatic,convertible,green,NaN,2018-07-26,43
40365,9900,2017.0,chevrolet cruze,good,4.0,gas,0.0,automatic,sedan,blue,NaN,2018-08-05,30
7947,4900,2012.0,chevrolet impala,good,NaN,gas,64863.0,automatic,sedan,black,NaN,2019-04-10,25
48013,14545,2014.0,chevrolet impala,excellent,6.0,gas,NaN,automatic,sedan,blue,NaN,2019-02-04,25
50273,9995,2013.0,subaru outback,excellent,4.0,gas,148872.0,automatic,wagon,black,1.0,2019-01-24,13
2489,2000,1998.0,gmc sierra 2500hd,fair,8.0,gas,170000.0,automatic,pickup,green,NaN,2018-06-13,59
17016,326,2018.0,jeep cherokee,like new,4.0,gas,14.0,automatic,SUV,white,NaN,2018-12-17,7
26135,16500,2006.0,ram 2500,good,NaN,diesel,224055.0,automatic,truck,white,1.0,2018-07-20,60
11865,1,2017.0,toyota corolla,excellent,4.0,gas,27295.0,automatic,sedan,white,1.0,2018-11-04,24
2136,11000,2015.0,chevrolet equinox,good,6.0,gas,124000.0,automatic,SUV,NaN,NaN,2018-12-01,33
14426,15995,2013.0,ram 2500,good,8.0,gas,138000.0,automatic,pickup,white,1.0,2018-10-14,41
12759,7999,2015.0,hyundai sonata,like new,4.0,gas,73338.0,automatic,sedan,NaN,NaN,2018-12-17,20

In [5]:
# EDA: see row with NaN

rows_with_nan = vehicles_df[vehicles_df['is_4wd'].isna()]

display(rows_with_nan.sample(60))

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
21593,1099,2001.0,acura tl,fair,6.0,gas,226000.0,automatic,sedan,NaN,NaN,2019-03-06,28
26299,5900,2009.0,honda odyssey,good,6.0,gas,127000.0,automatic,mini-van,brown,NaN,2018-05-31,30
5952,2195,2013.0,gmc yukon,excellent,8.0,gas,150460.0,automatic,SUV,NaN,NaN,2019-04-08,33
19895,13495,2017.0,chevrolet cruze,good,4.0,gas,45664.0,automatic,hatchback,NaN,NaN,2018-12-24,45
43120,7500,2003.0,ram 2500,excellent,8.0,gas,161988.0,automatic,pickup,white,NaN,2018-05-04,12
22447,23950,2012.0,ram 2500,excellent,6.0,diesel,98363.0,automatic,truck,NaN,NaN,2019-01-20,47
12598,5495,2007.0,chevrolet silverado 1500,excellent,8.0,gas,248200.0,automatic,pickup,white,NaN,2019-04-01,48
46132,3250,2004.0,honda accord,like new,4.0,gas,159000.0,manual,sedan,blue,NaN,2018-11-07,86
49648,6450,2010.0,gmc acadia,good,6.0,gas,172677.0,automatic,wagon,silver,NaN,2018-12-04,67
34710,12999,2010.0,toyota prius,excellent,4.0,hybrid,95080.0,automatic,sedan,red,NaN,2018-09-08,44
12323,3350,2002.0,ford f-150,good,8.0,gas,186000.0,automatic,pickup,white,NaN,2019-02-24,49
1256,15990,2009.0,chevrolet tahoe,excellent,8.0,gas,95747.0,automatic,SUV,red,NaN,2018-12-13,1
43017,14900,2017.0,chevrolet equinox,good,4.0,gas,83000.0,automatic,SUV,black,NaN,2018-11-22,23
28518,10500,2012.0,jeep wrangler,excellent,6.0,gas,NaN,other,wagon,black,NaN,2019-01-31,38
39785,4000,NaN,dodge dakota,excellent,8.0,gas,181922.0,automatic,truck,custom,NaN,2019-02-17,47
25841,2900,2007.0,toyota prius,fair,4.0,hybrid,101921.0,automatic,hatchback,grey,NaN,2018-09-23,66
35150,15995,2015.0,chevrolet silverado 3500hd,excellent,8.0,gas,152354.0,automatic,pickup,white,NaN,2018-12-28,80
1434,11745,2011.0,chevrolet silverado,excellent,8.0,gas,NaN,automatic,truck,white,NaN,2019-04-12,20
47093,6900,2009.0,honda civic,excellent,4.0,gas,115000.0,automatic,sedan,brown,NaN,2018-11-07,30
5401,1450,2002.0,honda civic,good,4.0,gas,NaN,automatic,sedan,white,NaN,2018-11-15,33
11626,1,2019.0,chevrolet tahoe,excellent,8.0,gas,6212.0,automatic,SUV,white,NaN,2019-04-17,32
25773,6995,2011.0,gmc acadia,good,6.0,gas,160560.0,automatic,SUV,NaN,NaN,2019-03-26,81
17354,6900,2010.0,honda accord,good,4.0,gas,100430.0,automatic,sedan,silver,NaN,2018-06-23,49
10728,3000,1997.0,honda civic,good,4.0,gas,199000.0,manual,sedan,green,NaN,2018-08-03,19
9778,28990,2011.0,ford econoline,good,10.0,gas,17037.0,automatic,bus,white,NaN,2018-06-02,63
49428,4995,2007.0,chevrolet impala,like new,6.0,gas,NaN,automatic,sedan,NaN,NaN,2018-11-03,109
16465,17999,2012.0,dodge charger,excellent,8.0,gas,53077.0,automatic,sedan,black,NaN,2018-05-13,47
35328,3999,2008.0,ford focus,like new,4.0,gas,150000.0,automatic,sedan,grey,NaN,2018-08-24,84
25785,7995,NaN,gmc acadia,good,6.0,gas,NaN,automatic,SUV,grey,NaN,2019-03-09,31
10085,2800,2009.0,ford focus se,like new,4.0,gas,168000.0,automatic,sedan,red,NaN,2018-11-06,19
34452,3300,2009.0,nissan altima,good,4.0,gas,133000.0,automatic,coupe,black,NaN,2019-01-26,21
3395,4900,2001.0,toyota tacoma,good,4.0,gas,100500.0,automatic,pickup,silver,NaN,2019-02-25,39
13594,11500,2013.0,volkswagen passat,excellent,NaN,diesel,56059.0,automatic,sedan,NaN,NaN,2018-12-02,53
5913,10500,2018.0,chevrolet equinox,like new,4.0,gas,32000.0,automatic,SUV,black,NaN,2018-10-02,25
40473,17900,2017.0,dodge charger,excellent,6.0,gas,NaN,automatic,sedan,red,NaN,2019-03-22,2
20740,2495,2006.0,ford f150,good,8.0,gas,275000.0,automatic,pickup,white,NaN,2018-09-06,49
29409,5000,2007.0,toyota camry,good,4.0,gas,151000.0,automatic,sedan,blue,NaN,2019-04-16,37
22472,15991,2009.0,chevrolet silverado 1500,good,8.0,gas,80186.0,automatic,truck,silver,NaN,2019-01-24,34
8070,8850,2013.0,nissan altima,excellent,NaN,gas,73000.0,automatic,sedan,black,NaN,2018-09-23,10
27395,5800,2011.0,nissan versa,good,4.0,gas,140123.0,automatic,hatchback,silver,NaN,2019-04-10,60
5969,12995,2001.0,ford f-150,excellent,8.0,gas,NaN,automatic,pickup,silver,NaN,2018-10-08,45
26248,8888,2014.0,ford focus,excellent,4.0,gas,96187.0,automatic,sedan,NaN,NaN,2019-01-26,44
22117,2800,2009.0,nissan altima,good,4.0,gas,130000.0,automatic,sedan,silver,NaN,2018-07-22,20
3655,23400,2018.0,chevrolet camaro lt coupe 2d,good,6.0,gas,NaN,other,coupe,silver,NaN,2018-11-07,28
44983,7499,2006.0,toyota prius,excellent,4.0,hybrid,103623.0,automatic,sedan,NaN,NaN,2018-11-07,27
36964,3895,2012.0,nissan altima,excellent,4.0,gas,NaN,automatic,sedan,black,NaN,2018-10-16,26
6204,4000,1999.0,ford mustang,excellent,6.0,gas,115000.0,manual,coupe,black,NaN,2018-05-09,19
50988,22495,2017.0,toyota tacoma,like new,4.0,gas,17776.0,automatic,truck,black,NaN,2019-02-07,26
39521,17990,2016.0,ford econoline,good,10.0,gas,122637.0,automatic,truck,yellow,NaN,2018-07-25,52
13760,7995,2016.0,volkswagen jetta,good,4.0,gas,106849.0,automatic,sedan,white,NaN,2019-03-01,21
18393,4695,2008.0,nissan altima,excellent,4.0,gas,147247.0,automatic,sedan,grey,NaN,2019-03-23,30
50250,7995,2013.0,dodge grand caravan,excellent,6.0,gas,95000.0,automatic,mini-van,grey,NaN,2018-10-22,58
28704,3495,2008.0,nissan altima,excellent,4.0,gas,150266.0,automatic,sedan,white,NaN,2018-05-12,94
6194,7399,2015.0,chrysler 200,like new,NaN,gas,50.0,automatic,sedan,black,NaN,2018-07-19,26
43724,3800,NaN,dodge charger,good,6.0,gas,121800.0,automatic,sedan,NaN,NaN,2018-05-23,8
556,12900,2012.0,chevrolet silverado,excellent,NaN,gas,154029.0,automatic,truck,silver,NaN,2018-06-03,58
47072,1500,2007.0,ford focus,salvage,4.0,gas,158731.0,automatic,sedan,grey,NaN,2018-12-09,41
5563,11900,2013.0,honda civic,excellent,4.0,gas,76000.0,manual,coupe,NaN,NaN,2018-07-05,45
51483,6499,2011.0,chevrolet traverse,excellent,6.0,gas,155903.0,automatic,SUV,grey,NaN,2018-08-18,34
6524,3995,2008.0,chrysler 300,excellent,6.0,gas,152193.0,automatic,sedan,black,NaN,2019-02-06,3

In [6]:
# EDA: check for nulls/NaN/missing values

# view & identify dataframe attributes with null/missing values
vehicles_df.info()
print('\n\n')

# counts of missing values, nulls, NaNs
print('Missing Value / Null / NaN Counts')
display(vehicles_df.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB



Missing Value / Null / NaN Counts

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

In [7]:
# EDA: view the unique value and counts in the following columns

display(vehicles_df['model_year'].value_counts(sort=True))
print()

display(vehicles_df['model'].value_counts(sort=True))
print()

display(vehicles_df['condition'].value_counts(sort=True))
print()

display(vehicles_df['transmission'].value_counts(sort=False))
print()

display(vehicles_df['type'].value_counts(sort=True))
print()

display(vehicles_df['paint_color'].value_counts())
print()

display(vehicles_df['is_4wd'].value_counts(sort=True))
print()

model_year
2013.0    3549
2012.0    3468
2014.0    3448
2011.0    3375
2015.0    3323
          ...
1948.0       1
1961.0       1
1936.0       1
1949.0       1
1929.0       1
Name: count, Length: 68, dtype: int64

model
ford f-150                           2796
chevrolet silverado 1500             2171
ram 1500                             1750
chevrolet silverado                  1271
jeep wrangler                        1119
                                     ...
ford f-250 super duty                 241
acura tl                              236
kia sorento                           236
nissan murano                         235
mercedes-benz benze sprinter 2500      41
Name: count, Length: 100, dtype: int64

condition
excellent    24773
good         20145
like new      4742
fair          1607
new            143
salvage        115
Name: count, dtype: int64

transmission
automatic    46902
manual        2829
other         1794
Name: count, dtype: int64

type
SUV            12405
truck          12353
sedan          12154
pickup          6988
coupe           2303
wagon           1541
mini-van        1161
hatchback       1047
van              633
convertible      446
other            256
offroad          214
bus               24
Name: count, dtype: int64

paint_color
white     10029
black      7692
silver     6244
grey       5037
blue       4475
red        4421
green      1396
brown      1223
custom     1153
yellow      255
orange      231
purple      102
Name: count, dtype: int64

is_4wd
1.0    25572
Name: count, dtype: int64

In [8]:
# EDA: view the unique value and counts in the 'type' column
# Note: will use `.isin()` method to filter 'type' with NaN for 
    # no_4wd_nan = [sedan, coupe, wagon, mini-van, hatchback, van, convertible, other, bus] 
    # yes_4wd_nan = [SUV, truck, pickup, offroad]

display(vehicles_df['type'].value_counts(sort=True))

type
SUV            12405
truck          12353
sedan          12154
pickup          6988
coupe           2303
wagon           1541
mini-van        1161
hatchback       1047
van              633
convertible      446
other            256
offroad          214
bus               24
Name: count, dtype: int64

In [9]:
# EDA: filter & view NaN in the 'type' column for specifically for the following vehicle types
# OBJECTIVE: replace NaN with zero (0 = Non-4wd vehicle)

# list of vehicle types that will not have 4wd capability and use with `.isin()` to view then later with either `.fillna()` or `.replace()`
no_4wd_nan = ['sedan', 'coupe', 'mini-van', 'hatchback', 'van', 'convertible', 'other', 'bus']

# new dataframe to review rows
sorted_non_4wd_df = vehicles_df[vehicles_df['type'].isin(no_4wd_nan)][['model_year', 'model', 'type', 'is_4wd']].sort_values(by='model')

# review top, bottom, and random selected (60) rows to have confidence to replace NaN with zero (0 = not 4wd capable) in 'type' column
display(sorted_non_4wd_df.head(60))
display(sorted_non_4wd_df.tail(60))
display(sorted_non_4wd_df.sample(60))

       model_year     model   type  is_4wd
33040      2003.0  acura tl  sedan     NaN
38743      2013.0  acura tl  sedan     NaN
41145      2013.0  acura tl  sedan     NaN
38760      2008.0  acura tl  sedan     NaN
23124      2003.0  acura tl  sedan     NaN
11355      2007.0  acura tl  sedan     NaN
23110      2005.0  acura tl  sedan     NaN
32707      2012.0  acura tl  sedan     NaN
23106      2007.0  acura tl  sedan     NaN
11413      2011.0  acura tl  sedan     1.0
38843      2006.0  acura tl  sedan     NaN
50532      2012.0  acura tl  sedan     NaN
38891      2009.0  acura tl  sedan     NaN
50543      2005.0  acura tl  sedan     NaN
38951      2008.0  acura tl  sedan     NaN
38988      2006.0  acura tl  sedan     NaN
44882      2007.0  acura tl  sedan     NaN
31609      2008.0  acura tl  sedan     NaN
44819      2010.0  acura tl  sedan     NaN
22269      2013.0  acura tl  sedan     NaN
12444      2013.0  acura tl  sedan     NaN
21953      2008.0  acura tl  sedan     NaN
21912      2007.0  acura tl  sedan     NaN
39563      2013.0  acura tl  sedan     1.0
33750         NaN  acura tl  sedan     NaN
33749      2011.0  acura tl  sedan     NaN
11267      2011.0  acura tl  sedan     1.0
19032      2006.0  acura tl  sedan     NaN
42617      2001.0  acura tl  sedan     NaN
42582      2005.0  acura tl  sedan     NaN
46065      2004.0  acura tl  sedan     NaN
50253         NaN  acura tl  sedan     NaN
34133      2007.0  acura tl  sedan     NaN
37968      2005.0  acura tl  sedan     NaN
2192       2009.0  acura tl  sedan     NaN
24175      2007.0  acura tl  sedan     NaN
16176         NaN  acura tl  sedan     NaN
24111      2012.0  acura tl  sedan     NaN
10583      2005.0  acura tl  sedan     NaN
16144      2004.0  acura tl  sedan     NaN
10662      2010.0  acura tl  sedan     NaN
38400      2012.0  acura tl  sedan     NaN
23789      2008.0  acura tl  sedan     NaN
10903      2007.0  acura tl  sedan     NaN
350        2006.0  acura tl  sedan     NaN
38628      2012.0  acura tl  sedan     NaN
23529      2005.0  acura tl  sedan     NaN
11039         NaN  acura tl  sedan     NaN
11095      2011.0  acura tl  sedan     1.0
16061      2012.0  acura tl  sedan     NaN
11145      2011.0  acura tl  sedan     1.0
11190      2012.0  acura tl  sedan     NaN
45277      2004.0  acura tl  sedan     NaN
1862       2005.0  acura tl  sedan     NaN
11246      2005.0  acura tl  sedan     NaN
11250      2011.0  acura tl  sedan     1.0
33744      2014.0  acura tl  sedan     NaN
39679      2012.0  acura tl  sedan     NaN
39684      2007.0  acura tl  sedan     NaN
14030      2007.0  acura tl  sedan     NaN

       model_year              model       type  is_4wd
46569      2013.0  volkswagen passat      sedan     NaN
42078      2014.0  volkswagen passat      sedan     NaN
35025      2015.0  volkswagen passat      sedan     NaN
11261      2004.0  volkswagen passat      sedan     NaN
43403      2007.0  volkswagen passat      sedan     NaN
14511      2013.0  volkswagen passat      sedan     NaN
40209      2013.0  volkswagen passat      sedan     NaN
27283      2008.0  volkswagen passat  hatchback     NaN
48302      2015.0  volkswagen passat      sedan     NaN
20865      2016.0  volkswagen passat      sedan     NaN
2395          NaN  volkswagen passat      sedan     NaN
48309      2012.0  volkswagen passat      sedan     NaN
45397      2013.0  volkswagen passat      sedan     NaN
27427         NaN  volkswagen passat      sedan     NaN
36175      2013.0  volkswagen passat      sedan     NaN
29439         NaN  volkswagen passat      sedan     NaN
29415         NaN  volkswagen passat      sedan     NaN
21139      2013.0  volkswagen passat      sedan     NaN
5500       2015.0  volkswagen passat      sedan     NaN
13954      2014.0  volkswagen passat      sedan     NaN
17832      2013.0  volkswagen passat      sedan     NaN
46160      2015.0  volkswagen passat      sedan     NaN
33818      2014.0  volkswagen passat      sedan     NaN
5491       2007.0  volkswagen passat      sedan     NaN
22510      2013.0  volkswagen passat      sedan     NaN
40014      2013.0  volkswagen passat      sedan     NaN
9874       2014.0  volkswagen passat      sedan     NaN
33864      2014.0  volkswagen passat      sedan     NaN
13924      2013.0  volkswagen passat      sedan     NaN
30926      2013.0  volkswagen passat      sedan     NaN
3875       2015.0  volkswagen passat      sedan     NaN
22456      2000.0  volkswagen passat      sedan     NaN
13922      2015.0  volkswagen passat      sedan     NaN
48629      2014.0  volkswagen passat      sedan     NaN
49494      2009.0  volkswagen passat      sedan     NaN
22616      2012.0  volkswagen passat      sedan     NaN
14021      2017.0  volkswagen passat      sedan     NaN
27810      2006.0  volkswagen passat      sedan     NaN
44439      2012.0  volkswagen passat      sedan     NaN
11094         NaN  volkswagen passat      sedan     NaN
11093      2012.0  volkswagen passat      sedan     NaN
41796         NaN  volkswagen passat      sedan     NaN
9424       2017.0  volkswagen passat      sedan     NaN
14157         NaN  volkswagen passat      sedan     NaN
38936      2014.0  volkswagen passat      sedan     NaN
40036      2013.0  volkswagen passat      sedan     NaN
45421      2012.0  volkswagen passat      sedan     NaN
6233       2013.0  volkswagen passat      sedan     NaN
22765      2013.0  volkswagen passat      sedan     NaN
22740      2005.0  volkswagen passat      sedan     NaN
2210       2013.0  volkswagen passat      sedan     NaN
1143       2016.0  volkswagen passat      sedan     NaN
45428      2012.0  volkswagen passat      sedan     NaN
34330      2004.0  volkswagen passat      sedan     NaN
39011      2013.0  volkswagen passat      sedan     NaN
5632       2015.0  volkswagen passat      sedan     NaN
12758      2009.0  volkswagen passat      sedan     NaN
3832       2012.0  volkswagen passat      sedan     NaN
41761      2013.0  volkswagen passat      sedan     NaN
29734      2015.0  volkswagen passat      sedan     1.0

       model_year                     model         type  is_4wd
19266      2014.0             nissan maxima        sedan     NaN
17267      2005.0              toyota camry        sedan     NaN
42205      2006.0         volkswagen passat        sedan     NaN
42831      2018.0             nissan altima        sedan     NaN
38108      2010.0          chevrolet malibu        sedan     NaN
28916      2016.0  ford mustang gt coupe 2d        coupe     NaN
26440      2011.0            subaru impreza    hatchback     1.0
40527      2007.0              honda accord        coupe     NaN
23516      1991.0        chevrolet corvette  convertible     NaN
17430      2002.0             toyota sienna          van     NaN
16659      2017.0             nissan sentra        sedan     NaN
2927       2015.0               ford fusion        sedan     NaN
7474       2010.0             ford focus se        sedan     NaN
23468      2012.0                  kia soul        other     NaN
31665      2004.0             ford focus se        sedan     NaN
47078      2014.0   chrysler town & country          van     NaN
35830      2006.0         chevrolet equinox     mini-van     NaN
5155       2012.0          chevrolet malibu        sedan     NaN
7116       2014.0                ford focus        sedan     NaN
21584         NaN           toyota camry le        sedan     NaN
35750      2017.0            honda civic lx        sedan     NaN
3147       2014.0               honda civic        sedan     NaN
3586       2005.0              chrysler 300        sedan     NaN
20700         NaN        chevrolet corvette        coupe     NaN
25116      1999.0        chevrolet corvette        coupe     NaN
34835      2017.0               ford fusion        sedan     NaN
19662      2010.0            toyota corolla        sedan     NaN
27204      2012.0                  acura tl        sedan     NaN
41966      2014.0          volkswagen jetta        sedan     NaN
8937       2014.0               ford fusion        sedan     NaN
30409      2008.0               honda civic        coupe     NaN
3079       2015.0              nissan versa        sedan     NaN
38281      2007.0           toyota camry le        sedan     NaN
43851      2003.0              honda accord        sedan     NaN
17015      2019.0          chevrolet impala        sedan     NaN
44522      2011.0              toyota camry        sedan     NaN
25279      2006.0           hyundai elantra        sedan     NaN
33384         NaN        chevrolet corvette  convertible     NaN
49983      2014.0             dodge charger        sedan     NaN
30582      2014.0              toyota camry        sedan     NaN
29907      2012.0          volkswagen jetta        sedan     NaN
34334      2011.0       dodge grand caravan          van     NaN
46103      2010.0            ford fusion se        sedan     NaN
16390         NaN             nissan altima        sedan     NaN
380        2014.0                ford focus    hatchback     NaN
24728      2014.0             nissan altima        sedan     NaN
18298      2015.0            hyundai sonata        sedan     NaN
20169      2012.0             dodge charger        sedan     NaN
21792         NaN             honda odyssey          van     NaN
13073      2014.0          chevrolet camaro        coupe     1.0
10305      2018.0              toyota camry        sedan     NaN
8086       2003.0               ford taurus        sedan     NaN
37379      2016.0                ford focus        sedan     NaN
36892      2016.0             dodge charger        sedan     NaN
28890      2012.0            honda civic lx        coupe     NaN
23177      2014.0          chevrolet impala        sedan     NaN
33482      2012.0        chevrolet corvette        coupe     NaN
5221       2012.0            ford fusion se        sedan     NaN
44511      2017.0             dodge charger        sedan     NaN
12251      2014.0          volkswagen jetta        sedan     NaN

In [10]:
# EDA: filter & view NaN in the 'type' column for specifically for the following vehicle types
# OBJECTIVE: replace NaN with one (1 = 4wd vehicle)

yes_4wd_nan = ['SUV', 'truck', 'pickup', 'wagon', 'offroad']

#yes_4wd_nan = ['truck']

# new dataframe to review rows
sorted_yes_4wd_df = vehicles_df[vehicles_df['type'].isin(yes_4wd_nan)][['model_year', 'model', 'type', 'is_4wd']].sort_values(by='model')


# review top, bottom, and random selected (60) rows to have confidence to replace NaN with zero (0 = not 4wd capable) in 'type' column
display(sorted_yes_4wd_df.head(60))
display(sorted_yes_4wd_df.tail(60))
display(sorted_yes_4wd_df.sample(60))

       model_year     model   type  is_4wd
8133       2007.0  acura tl    SUV     NaN
7029       2007.0  acura tl    SUV     NaN
8675       2007.0  acura tl    SUV     NaN
16496      2008.0    bmw x5    SUV     1.0
16449      2010.0    bmw x5    SUV     1.0
29694      2010.0    bmw x5    SUV     1.0
29704      2011.0    bmw x5    SUV     1.0
43159      2012.0    bmw x5    SUV     1.0
29745      2012.0    bmw x5    SUV     1.0
43196      2011.0    bmw x5    SUV     1.0
29760      2010.0    bmw x5    SUV     1.0
43253      2012.0    bmw x5    SUV     1.0
43255      2012.0    bmw x5    SUV     1.0
4822       2009.0    bmw x5    SUV     1.0
50837         NaN    bmw x5    SUV     1.0
16535      2012.0    bmw x5    SUV     1.0
50851      2012.0    bmw x5    SUV     NaN
30101      2011.0    bmw x5    SUV     1.0
43620      2008.0    bmw x5    SUV     1.0
1012       2005.0    bmw x5    SUV     1.0
43693      2008.0    bmw x5    SUV     1.0
4978          NaN    bmw x5    SUV     1.0
43882      2012.0    bmw x5    SUV     1.0
955        2006.0    bmw x5    SUV     1.0
14850      2012.0    bmw x5    SUV     1.0
30417      2013.0    bmw x5    SUV     1.0
43421      2013.0    bmw x5    SUV     1.0
16595      2011.0    bmw x5    SUV     1.0
0          2011.0    bmw x5    SUV     1.0
944        2012.0    bmw x5  wagon     1.0
17941      2011.0    bmw x5    SUV     1.0
42239      2012.0    bmw x5    SUV     1.0
42243         NaN    bmw x5    SUV     1.0
17754      2003.0    bmw x5    SUV     1.0
17747      2015.0    bmw x5    SUV     1.0
17746      2012.0    bmw x5    SUV     1.0
17745      2011.0    bmw x5    SUV     1.0
17671      2014.0    bmw x5    SUV     NaN
42425      2006.0    bmw x5    SUV     1.0
42434         NaN    bmw x5    SUV     1.0
17519         NaN    bmw x5    SUV     1.0
4677          NaN    bmw x5    SUV     1.0
42512      2015.0    bmw x5    SUV     NaN
17299      2011.0    bmw x5    SUV     1.0
17236      2013.0    bmw x5    SUV     1.0
36521      2003.0    bmw x5    SUV     1.0
17223      2007.0    bmw x5    SUV     1.0
42669      2010.0    bmw x5    SUV     1.0
17178      2010.0    bmw x5    SUV     1.0
4601       2008.0    bmw x5    SUV     1.0
4603       2005.0    bmw x5    SUV     1.0
16904      2013.0    bmw x5    SUV     1.0
29580      2012.0    bmw x5    SUV     1.0
16689      2010.0    bmw x5    SUV     1.0
49200      2011.0    bmw x5    SUV     1.0
14802      2016.0    bmw x5    SUV     NaN
14731      2001.0    bmw x5    SUV     1.0
14536      2002.0    bmw x5    SUV     1.0
51143      2006.0    bmw x5  truck     1.0
45396      2007.0    bmw x5    SUV     1.0

       model_year              model    type  is_4wd
27439      2007.0      toyota tundra   truck     1.0
16725      2006.0      toyota tundra   truck     NaN
2110       2014.0      toyota tundra   truck     1.0
31366      2000.0      toyota tundra   truck     NaN
16724      2003.0      toyota tundra  pickup     NaN
20875      2007.0      toyota tundra   truck     NaN
46479      2001.0      toyota tundra   truck     1.0
31407         NaN      toyota tundra  pickup     1.0
20549      2005.0      toyota tundra  pickup     1.0
40796      2006.0      toyota tundra  pickup     1.0
5005       2018.0      toyota tundra   truck     1.0
12741      2018.0      toyota tundra   truck     1.0
2114       2016.0      toyota tundra   truck     1.0
20917      2000.0      toyota tundra   truck     NaN
20956      2000.0      toyota tundra   truck     NaN
48985      2010.0      toyota tundra   truck     1.0
46254      2005.0   volkswagen jetta   wagon     NaN
25086      2005.0   volkswagen jetta   wagon     NaN
9949       2005.0   volkswagen jetta   wagon     NaN
29931      2005.0   volkswagen jetta   wagon     NaN
659           NaN   volkswagen jetta   wagon     NaN
40144      2013.0   volkswagen jetta   wagon     NaN
22375      2005.0   volkswagen jetta   wagon     NaN
37845      2009.0   volkswagen jetta   wagon     NaN
9371       2013.0   volkswagen jetta   wagon     NaN
4126       2003.0   volkswagen jetta   wagon     NaN
16224      2013.0   volkswagen jetta   wagon     NaN
40825      2009.0   volkswagen jetta   wagon     NaN
38425      2009.0   volkswagen jetta   wagon     NaN
40956      2005.0   volkswagen jetta   wagon     NaN
49502      2013.0   volkswagen jetta   wagon     NaN
31857      2009.0   volkswagen jetta   wagon     NaN
50191      2013.0   volkswagen jetta   wagon     NaN
11848      2002.0   volkswagen jetta   wagon     NaN
45750      2002.0   volkswagen jetta   wagon     NaN
42706      2012.0   volkswagen jetta   wagon     NaN
18465      2013.0   volkswagen jetta   wagon     NaN
4833       2013.0   volkswagen jetta   wagon     NaN
5925          NaN  volkswagen passat   wagon     NaN
5903       2008.0  volkswagen passat   wagon     NaN
38549      2007.0  volkswagen passat   wagon     NaN
3034       2008.0  volkswagen passat   wagon     NaN
23310      2004.0  volkswagen passat   wagon     NaN
31139      2003.0  volkswagen passat   wagon     NaN
19968      2004.0  volkswagen passat   wagon     NaN
693        2008.0  volkswagen passat   wagon     NaN
24818      2005.0  volkswagen passat   wagon     NaN
5215       2010.0  volkswagen passat   wagon     NaN
39391      2003.0  volkswagen passat   wagon     1.0
3373       2007.0  volkswagen passat   wagon     NaN
31728      2001.0  volkswagen passat   wagon     NaN
42457      2003.0  volkswagen passat   wagon     NaN
32639      2008.0  volkswagen passat   wagon     NaN
24314      2008.0  volkswagen passat   wagon     NaN
44606      2007.0  volkswagen passat   wagon     NaN
11343      2007.0  volkswagen passat   wagon     NaN
22773      2000.0  volkswagen passat   wagon     NaN
48643      2005.0  volkswagen passat   wagon     1.0
924        2004.0  volkswagen passat   wagon     NaN
7509       2007.0  volkswagen passat   wagon     NaN

       model_year                          model    type  is_4wd
36037      2014.0       chevrolet silverado 1500   truck     1.0
42637      2008.0                 toyota 4runner     SUV     1.0
15993      2017.0                  ford f-250 sd   truck     1.0
43036      2007.0            chevrolet silverado   truck     1.0
34083      2004.0                  toyota tacoma   truck     1.0
10947      2011.0                 ford econoline   truck     NaN
34604      2012.0             chevrolet traverse     SUV     1.0
45495      2016.0                 ford econoline   truck     NaN
10513      2017.0    nissan frontier crew cab sv  pickup     NaN
33516         NaN              cadillac escalade     SUV     NaN
29443      2014.0       chevrolet silverado 1500   truck     1.0
29222      2016.0                    ford escape     SUV     NaN
43762      2009.0                 subaru impreza   wagon     1.0
7486       2005.0            jeep grand cherokee     SUV     1.0
30763      2017.0                chevrolet tahoe     SUV     1.0
14593      2002.0          chevrolet trailblazer     SUV     NaN
16655      2016.0                  jeep wrangler     SUV     1.0
50721      2013.0                  ford f-350 sd   truck     1.0
36473      2018.0  chevrolet silverado 1500 crew  pickup     1.0
26030      2011.0                    honda pilot     SUV     1.0
3756       2017.0        jeep wrangler unlimited     SUV     1.0
51147      2018.0       chevrolet silverado 1500   truck     1.0
29194      2006.0                      ford f150   truck     1.0
17652      2018.0    nissan frontier crew cab sv  pickup     1.0
23660      2007.0          chevrolet trailblazer     SUV     1.0
10574      2015.0                      ford f250   truck     1.0
46907      2015.0       chevrolet silverado 1500   truck     1.0
14400      2018.0                     ford f-150   truck     1.0
26013      2007.0     jeep grand cherokee laredo     SUV     1.0
45445      2013.0                     honda cr-v   wagon     1.0
45917      2003.0          chevrolet trailblazer     SUV     1.0
50737      2012.0             chevrolet traverse     SUV     1.0
22244      2011.0                    ford ranger   truck     NaN
26988      2014.0        jeep wrangler unlimited     SUV     1.0
794        2003.0                       ram 1500   truck     1.0
7559       1998.0                 toyota 4runner     SUV     1.0
26307      2010.0                       kia soul   wagon     NaN
22766      1999.0           ford f250 super duty  pickup     1.0
3669       2011.0                       ram 1500   truck     1.0
15313      1998.0                     gmc sierra   truck     1.0
12735      2017.0       chevrolet silverado 1500   truck     1.0
2474       2018.0                       ram 2500   truck     1.0
30923      2000.0            jeep grand cherokee     SUV     1.0
19276      2002.0              gmc sierra 2500hd   truck     1.0
1852       2007.0                       ram 2500   truck     1.0
19824      2005.0                   dodge dakota   truck     1.0
4939       2011.0       chevrolet silverado 1500   truck     1.0
50714      2015.0                     ford f-150   truck     1.0
34034      2017.0                      gmc yukon     SUV     1.0
27660      2006.0                  jeep wrangler     SUV     1.0
45536      2006.0                    honda pilot     SUV     1.0
41406      2010.0                    ford escape     SUV     1.0
24552      2006.0                    ford escape     SUV     NaN
7260       2012.0                     ford f-150   truck     1.0
17328      2012.0                   nissan rogue   wagon     NaN
28795      2012.0                  nissan murano     SUV     NaN
29041      2007.0                       ram 1500   truck     NaN
27610      2012.0                     ford f-150  pickup     1.0
21772      2010.0                     ford f-150   truck     1.0
22982      2011.0       chevrolet silverado 1500   truck     1.0

In [11]:
# EDA: view all the unique value and counts in the 'model_year' column

# created a new dataframe to view the entire (68) unique values
model_year_counts_df = (vehicles_df["model_year"].value_counts(sort=False)).reset_index()

# create the columns to view  in the created dataframe to review the (68) unique years and counts
model_year_counts_df.columns = ['model_year', 'count']

# sort model years in ascending order (ascending=True) or descending order (ascending=False)
model_year_df_sorted = model_year_counts_df.sort_values(by='model_year', ascending=False)

# display all (68) unique model years and its counts in the `model_year` column
display(model_year_df_sorted.head(60))
display(model_year_df_sorted.tail(10))

    model_year  count
18      2019.0    380
8       2018.0   2193
3       2017.0   2419
20      2016.0   2954
5       2015.0   3323
4       2014.0   3448
1       2013.0   3549
6       2012.0   3468
0       2011.0   3375
10      2010.0   2691
9       2009.0   2079
7       2008.0   2924
11      2007.0   2643
15      2006.0   2234
13      2005.0   2025
12      2004.0   1722
2       2003.0   1437
24      2002.0   1037
14      2001.0    845
19      2000.0    709
22      1999.0    546
29      1998.0    378
23      1997.0    327
27      1996.0    189
26      1995.0    184
17      1994.0    118
21      1993.0    108
35      1992.0     57
36      1991.0     51
34      1990.0     58
41      1989.0     58
39      1988.0     40
32      1987.0     31
46      1986.0     39
30      1985.0     18
50      1984.0     20
57      1983.0      7
51      1982.0      9
25      1981.0     10
47      1980.0     12
44      1979.0     19
42      1978.0     15
31      1977.0     13
56      1976.0      3
28      1975.0      7
33      1974.0      4
52      1973.0     15
37      1972.0      5
55      1971.0      7
53      1970.0     10
40      1969.0     10
45      1968.0     16
38      1967.0      7
16      1966.0     23
43      1965.0     10
48      1964.0      7
49      1963.0      3
59      1962.0      3
63      1961.0      1
61      1960.0      3

    model_year  count
63      1961.0      1
61      1960.0      3
66      1958.0      2
54      1955.0      1
58      1954.0      1
65      1949.0      1
60      1948.0      1
64      1936.0      1
67      1929.0      1
62      1908.0      2

In [12]:
# EDA: view all the unique value and counts in the 'model' column
# found several ford model names that can be consolidated i.e. 'ford f250' with 'ford f-250'


# create another dataframe to review the (100) unique vehicle models and its counts
model_counts_df = (vehicles_df['model'].value_counts()).reset_index()


# create the columns to view  in the created dataframe to review the (100) unique vehicle models and counts
model_counts_df.columns = ['model', 'count']


# sort `model` column by alphabectical order 
model_counts_df_sorted = model_counts_df.sort_values(by='model')


display(model_counts_df_sorted.head(60))
display(model_counts_df_sorted.tail(42))

                            model  count
96                       acura tl    236
85                         bmw x5    267
84                  buick enclave    271
65              cadillac escalade    322
49               chevrolet camaro    414
69   chevrolet camaro lt coupe 2d    311
79             chevrolet colorado    286
31             chevrolet corvette    499
40                chevrolet cruze    457
25              chevrolet equinox    591
20               chevrolet impala    674
22               chevrolet malibu    617
3             chevrolet silverado   1271
1        chevrolet silverado 1500   2171
72  chevrolet silverado 1500 crew    303
8      chevrolet silverado 2500hd    915
92     chevrolet silverado 3500hd    243
26             chevrolet suburban    562
17                chevrolet tahoe    713
88          chevrolet trailblazer    255
62             chevrolet traverse    329
93                   chrysler 200    243
67                   chrysler 300    316
81        chrysler town & country    279
48                  dodge charger    415
94                   dodge dakota    242
24            dodge grand caravan    598
75                 ford econoline    296
51                      ford edge    383
11                    ford escape    841
53                ford expedition    372
10                  ford explorer    847
0                      ford f-150   2796
47                     ford f-250    422
44                  ford f-250 sd    426
95          ford f-250 super duty    241
76                  ford f-350 sd    295
29                      ford f150    530
64    ford f150 supercrew cab xlt    327
59                      ford f250    339
54           ford f250 super duty    370
90                      ford f350    250
91           ford f350 super duty    246
16                     ford focus    754
52                  ford focus se    376
27                    ford fusion    544
70                 ford fusion se    309
19                   ford mustang    681
74       ford mustang gt coupe 2d    301
45                    ford ranger    423
71                    ford taurus    303
68                     gmc acadia    315
50                     gmc sierra    388
9                 gmc sierra 1500    906
43              gmc sierra 2500hd    438
61                      gmc yukon    331
7                    honda accord    964
13                    honda civic    815
86                 honda civic lx    262
18                     honda cr-v    685

                                model  count
86                     honda civic lx    262
18                         honda cr-v    685
39                      honda odyssey    457
73                        honda pilot    302
46                    hyundai elantra    423
83                   hyundai santa fe    273
35                     hyundai sonata    477
78                      jeep cherokee    293
15                jeep grand cherokee    806
87         jeep grand cherokee laredo    256
55                       jeep liberty    355
4                       jeep wrangler   1119
42            jeep wrangler unlimited    452
97                        kia sorento    236
57                           kia soul    349
99  mercedes-benz benze sprinter 2500     41
14                      nissan altima    813
80                    nissan frontier    281
58        nissan frontier crew cab sv    345
77                      nissan maxima    294
98                      nissan murano    235
37                       nissan rogue    469
32                      nissan sentra    497
82                       nissan versa    274
2                            ram 1500   1750
5                            ram 2500   1091
36                           ram 3500    475
33                    subaru forester    484
89                     subaru impreza    250
28                     subaru outback    538
41                     toyota 4runner    453
6                        toyota camry    990
66                    toyota camry le    316
21                     toyota corolla    650
60                  toyota highlander    334
34                       toyota prius    482
38                        toyota rav4    461
63                      toyota sienna    329
12                      toyota tacoma    827
23                      toyota tundra    603
30                   volkswagen jetta    519
56                  volkswagen passat    350

## Feature Engineering (FE)
<span style="color: green;"><u>**Steps / Action Taken**</u></span>
- combined the following ford model names in `model` column
    - `ford f150` (counts=530) with `ford f-150` (counts=2796) 
    - `ford f250` (counts=339) with `ford f-250` (counts=422)
    - `ford f-250 sd` (counts=426) with `ford f-250 super duty` (counts=241)
    - `ford f250 super duty` (counts=370) with `ford f-250 super duty` (counts=241)
    - `ford f-350 sd` (counts=295) with `ford f350 super duty` (counts=246)
- renamed the following ford model names in `model` column
    - `ford f350 super duty` (counts=541) to `ford f-350 super duty`
    - `ford f150 supercrew cab xlt` (counts=327) to `ford f-150 supercrew cab xlt`
    - `ford f350` (counts=250) to `ford f-350`
- created two new columns, `make` and `model_name`, derived from `model`
- <>

<br>

<span style="color: darkorange;"><u>**Findings / Observations**</u></span>
- <>

<br>

<span style="color: red;"><u>**Note-2-Self**</u></span> 
- for now...okay to keep the `date_posted` column as `object` datatype
    - will determine and return if needed to change to `datetime` datatype
- may want to clean the `model_year` column to be 4-digit year (YYYY)
- <>

In [21]:
# FE: replace the following model names in the 'model' column

# `ford f150` (counts=530) with `ford f-150` (counts=2796)
vehicles_df['model'] = vehicles_df['model'].replace('ford f150', 'ford f-150')


# `ford f250` (counts=339) with `ford f-250` (counts=422)
vehicles_df['model'] = vehicles_df['model'].replace('ford f250', 'ford f-250')


# `ford f-250 sd` (counts=426) with `ford f-250 super duty` (counts=241)
vehicles_df['model'] = vehicles_df['model'].replace('ford f-250 sd', 'ford f-250 super duty')


# `ford f250 super duty` (counts=370) with `ford f-250 super duty` (counts=241)
vehicles_df['model'] = vehicles_df['model'].replace('ford f250 super duty', 'ford f-250 super duty')


# `ford f-350 sd` (counts=295) with `ford f350 super duty` (counts=246)
vehicles_df['model'] = vehicles_df['model'].replace('ford f-350 sd', 'ford f350 super duty')

# rename `ford f350 super duty` (counts=541) to `ford f-350 super duty`
vehicles_df['model'] = vehicles_df['model'].replace('ford f350 super duty', 'ford f-350 super duty')


# rename `ford f150 supercrew cab xlt` (counts=327) to `ford f-150 supercrew cab xlt`
vehicles_df['model'] = vehicles_df['model'].replace('ford f150 supercrew cab xlt', 'ford f-150 supercrew cab xlt')


# rename `ford f350` (counts=250) to `ford f-350`
vehicles_df['model'] = vehicles_df['model'].replace('ford f350', 'ford f-350')

model_counts_df = vehicles_df['model'].value_counts().reset_index()


# create the columns to view  in the created dataframe to review the (100) unique vehicle models and counts
model_counts_df.columns = ['model', 'count']

# sort `model` column by alphabectical order 
sorted_model_df = model_counts_df.sort_values(by='model')


display(sorted_model_df)
display(sorted_model_df.head(60))
display(sorted_model_df.tail(36))

                model  count
91           acura tl    236
82             bmw x5    267
81      buick enclave    271
63  cadillac escalade    322
49   chevrolet camaro    414
..                ...    ...
60      toyota sienna    329
13      toyota tacoma    827
25      toyota tundra    603
32   volkswagen jetta    519
55  volkswagen passat    350

[95 rows x 2 columns]

                            model  count
91                       acura tl    236
82                         bmw x5    267
81                  buick enclave    271
63              cadillac escalade    322
49               chevrolet camaro    414
67   chevrolet camaro lt coupe 2d    311
76             chevrolet colorado    286
33             chevrolet corvette    499
42                chevrolet cruze    457
27              chevrolet equinox    591
22               chevrolet impala    674
24               chevrolet malibu    617
3             chevrolet silverado   1271
1        chevrolet silverado 1500   2171
69  chevrolet silverado 1500 crew    303
9      chevrolet silverado 2500hd    915
88     chevrolet silverado 3500hd    243
28             chevrolet suburban    562
19                chevrolet tahoe    713
85          chevrolet trailblazer    255
61             chevrolet traverse    329
89                   chrysler 200    243
65                   chrysler 300    316
78        chrysler town & country    279
48                  dodge charger    415
90                   dodge dakota    242
26            dodge grand caravan    598
73                 ford econoline    296
51                      ford edge    383
12                    ford escape    841
53                ford expedition    372
11                  ford explorer    847
0                      ford f-150   3326
62   ford f-150 supercrew cab xlt    327
17                     ford f-250    761
6           ford f-250 super duty   1037
87                     ford f-350    250
30          ford f-350 super duty    541
18                     ford focus    754
52                  ford focus se    376
29                    ford fusion    544
68                 ford fusion se    309
21                   ford mustang    681
72       ford mustang gt coupe 2d    301
47                    ford ranger    423
70                    ford taurus    303
66                     gmc acadia    315
50                     gmc sierra    388
10                gmc sierra 1500    906
45              gmc sierra 2500hd    438
59                      gmc yukon    331
8                    honda accord    964
14                    honda civic    815
83                 honda civic lx    262
20                     honda cr-v    685
41                  honda odyssey    457
71                    honda pilot    302
46                hyundai elantra    423
80               hyundai santa fe    273
37                 hyundai sonata    477

                                model  count
37                     hyundai sonata    477
75                      jeep cherokee    293
16                jeep grand cherokee    806
84         jeep grand cherokee laredo    256
54                       jeep liberty    355
4                       jeep wrangler   1119
44            jeep wrangler unlimited    452
92                        kia sorento    236
56                           kia soul    349
94  mercedes-benz benze sprinter 2500     41
15                      nissan altima    813
77                    nissan frontier    281
57        nissan frontier crew cab sv    345
74                      nissan maxima    294
93                      nissan murano    235
39                       nissan rogue    469
34                      nissan sentra    497
79                       nissan versa    274
2                            ram 1500   1750
5                            ram 2500   1091
38                           ram 3500    475
35                    subaru forester    484
86                     subaru impreza    250
31                     subaru outback    538
43                     toyota 4runner    453
7                        toyota camry    990
64                    toyota camry le    316
23                     toyota corolla    650
58                  toyota highlander    334
36                       toyota prius    482
40                        toyota rav4    461
60                      toyota sienna    329
13                      toyota tacoma    827
25                      toyota tundra    603
32                   volkswagen jetta    519
55                  volkswagen passat    350

In [23]:
# FE: create two new columns, 'make' and 'model_name', derived from 'model' column

# `.str.split(' ')`: This splits each string in the model column by spaces. The default behavior is to split by whitespace.
# `n=1`: This limits the split to 1 occurrence. This means that the string will be split at the first space only. If there are more spaces in the string, they will be ignored for further splitting.
# `expand=True`: This returns a DataFrame where each split part becomes a separate column.
vehicles_df[['make', 'model_name']] = vehicles_df['model'].str.split(' ', n=1, expand=True)


# review & confirm two new columns created
display(vehicles_df.info())
display(vehicles_df)
#display(vehicles_df.head(60))
#display(vehicles_df.tail(60))
#display(vehicles_df.sample(60))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
 13  make          51525 non-null  object
 14  model_name    51525 non-null  object
dtypes: float64(4), int64(2), object(9)
memory usage: 5.9+ MB

None

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,make,model_name
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19,bmw,x5
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,truck,white,1.0,2018-10-19,50,ford,f-150
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79,hyundai,sonata
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,truck,NaN,NaN,2019-03-22,9,ford,f-150
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28,chrysler,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51520,9249,2013.0,nissan maxima,like new,6.0,gas,88136.0,automatic,sedan,black,NaN,2018-10-03,37,nissan,maxima
51521,2700,2002.0,honda civic,salvage,4.0,gas,181500.0,automatic,sedan,white,NaN,2018-11-14,22,honda,civic
51522,3950,2009.0,hyundai sonata,excellent,4.0,gas,128000.0,automatic,sedan,blue,NaN,2018-11-15,32,hyundai,sonata
51523,7455,2013.0,toyota corolla,good,4.0,gas,139573.0,automatic,sedan,black,NaN,2018-07-02,71,toyota,corolla
51524,6300,2014.0,nissan altima,good,4.0,gas,NaN,automatic,sedan,NaN,NaN,2018-06-05,10,nissan,altima

In [15]:
# EDA: view the unique value and counts in the following columns

display(vehicles_df['make'].value_counts(sort=False))
print()

display(vehicles_df['model_name'].value_counts(sort=False))
print()

make
bmw                267
ford             12672
hyundai           1173
chrysler           838
toyota            5445
honda             3485
kia                585
chevrolet        10611
ram               3316
gmc               2378
jeep              3281
nissan            3208
subaru            1272
dodge             1255
mercedes-benz       41
acura              236
cadillac           322
volkswagen         869
buick              271
Name: count, dtype: int64

model_name
x5              267
f-150          3326
sonata          477
200             243
300             316
               ...
dakota          242
f-350           250
trailblazer     255
econoline       296
murano          235
Name: count, Length: 95, dtype: int64

In [16]:
# FE: Consolidating vehicle type value names in the 'type' column

# Combine 'truck' and 'pickup' value names into 'truck' value name in `type` column
vehicles_df['type'] = vehicles_df['type'].replace('pickup', 'truck')

display(vehicles_df['type'].value_counts(sort=True))

# Combine 'truck' and 'pickup' value names into 'pickup' value name in `type` column
#vehicles_df['type'] = vehicles_df['type'].replace()

type
truck          19341
SUV            12405
sedan          12154
coupe           2303
wagon           1541
mini-van        1161
hatchback       1047
van              633
convertible      446
other            256
offroad          214
bus               24
Name: count, dtype: int64

Note-2-Self

export large output greater than 120 onto `.csv` or `.txt` or `.xlsx`

## Remove Missing Value, Null, and NaN (*Not a Number*)

<span style="color: green;"><u>**Steps / Action Taken**</u></span>
- <>

<br>

<span style="color: darkorange;"><u>**Findings / Observations**</u></span>
- <>

<br>

<span style="color: red;"><u>**Note-2-Self**</u></span>
- will need to parse out the manufacturer and vehicle model from `model` column
    - *see code shared by Jester* 
- for now...okay to keep the `date_posted` column as `object` datatype
    - will determine and return if needed to change to `datetime` datatype
- may want to clean the `model_year` column to be 4-digit year (YYYY)
- <>

In [17]:
# pull all rows containing the specific 'model_year' column

#specific_model = 

#filtered_models = vehicles_df.loc[vehicles_df['model']]

In [18]:
# Reference Code - double check the `model` column


# SANTIY CHECK: Spot Check for specific user ID's total monthly call counts = total 2018 call count


# Replace with the user_id you want to filter
#specific_user_id = 1498  

# pull all rows containing the specific user ID
#filtered_df_call_counts = df_user_monthly_call_count.loc[df_user_monthly_call_count['user_id'] == specific_user_id]

# sums the sepcific user ID's monthly call counts
#user_total_call_count = filtered_df_call_counts['total_calls'].sum()

# notice this equals the User ID's total call counts in 2018
#print(f"User ID: {specific_user_id} total call count in 2018 is {user_total_call_count}.")


# Display the filtered dataframe
#display(filtered_df_call_counts)

In [19]:
# CLEANING DATA - remove NaN values in `model_year` column

In [20]:
# Feature Engineering - parse manufacturer and model name in 'model' column
# code to reference to parse manufacturer and model
# use later.  Need to clean.
# remove null / Nan / missing values


#vehicles_df[['make', 'model']] = vehicles_df['model'].str.split(' ', n=1, expand=True)