# Initialization

In [1]:
# Loading libraries

import pandas as pd
import numpy as np
import plotly.express as px
from IPython.display import display

## Load Data

In [2]:
# load *.csv file into dataframes

try:
    vehicles_df = pd.read_csv('vehicles_us.csv')
except:
    vehicles_df = pd.read_csv('https://practicum-content.s3.us-west-1.amazonaws.com/datasets/vehicles_us.csv')

# EDA - Exploratory Data Analysis

<span style="color: blue;"><u>**OBJECTIVE**</u></span>
1. Review uploaded `vehicles_us.csv` file
2. Check for missing values/Nulls, NaN (*Not a Number, etc.*)

<br>

<span style="color: darkorange;"><u>**Findings / Observations**</u></span>
- 51525 row with 13 columns
- missing values, nulls, & NaNs found in the following (5) attributes:
    1. `model_year` (3619)
    2. `cylinders` (5260)
    3. `odometer` (7892)
    4. `paint_color` (9267)
    5. `is_4wd` (25953)
- `is_4wd` column is boolean logic (1 = Y vs. 0 = N)
    - NaN found and may need to determine if these will be zero (0 = No)
- found several ford model names that can be consolidated
    - `ford f150` (counts=530) with `ford f-150` (counts=2796) 
    - `ford f250` (counts=339) with `ford f-250` (counts=422)
    - `ford f-250 sd` (counts=426) with `ford f-250 super duty` (counts=241)
    - `ford f250 super duty` (counts=370) with `ford f-250 super duty` (counts=241)
    - `ford f-350 sd` (counts=295) with `ford f350 super duty` (counts=246)
    - keep `f-###` model name format 
- <>

<br>

<span style="color: red;"><u>**Note-2-Self**</u></span>
- will need to parse out the manufacturer and vehicle model from `model` column
    - *see code shared by Jester* 
- `date_posted` and `model_year` column as `object` datatype
    - convert to `datetime` datatype
- `model_year` column as `float` datatype
    - convert to `datetime` datatype for ease of data visualization
- may want to clean the `model_year` column to be 4-digit year (YYYY)
- <>

In [3]:
# EDA: displays rows with missing values

display(vehicles_df[vehicles_df.isna().any(axis=1)].head(60))

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28
6,12990,2015.0,toyota camry,excellent,4.0,gas,79212.0,automatic,sedan,white,NaN,2018-12-27,73
8,11500,2012.0,kia sorento,excellent,4.0,gas,104174.0,automatic,SUV,NaN,1.0,2018-07-16,19
9,9200,2008.0,honda pilot,excellent,NaN,gas,147191.0,automatic,SUV,blue,1.0,2019-02-15,17
11,8990,2012.0,honda accord,excellent,4.0,gas,111142.0,automatic,sedan,grey,NaN,2019-03-28,29
12,18990,2012.0,ram 1500,excellent,8.0,gas,140742.0,automatic,pickup,NaN,1.0,2019-04-02,37
13,16500,2018.0,hyundai sonata,excellent,4.0,gas,22104.0,automatic,sedan,silver,NaN,2019-01-14,29
15,17990,2013.0,ram 1500,excellent,8.0,gas,NaN,automatic,pickup,red,1.0,2018-05-15,111
19,13990,2018.0,hyundai elantra,excellent,4.0,gas,31932.0,automatic,sedan,red,NaN,2018-08-25,27
20,6990,NaN,chevrolet tahoe,excellent,8.0,gas,147485.0,automatic,SUV,silver,1.0,2018-08-05,28
21,5250,2007.0,toyota rav4,good,6.0,gas,154000.0,automatic,SUV,NaN,NaN,2018-08-22,8
23,7500,2004.0,jeep wrangler,good,6.0,gas,NaN,automatic,SUV,red,1.0,2018-05-17,39
24,3950,2009.0,chrysler 200,excellent,4.0,gas,NaN,automatic,sedan,red,NaN,2018-06-11,40
25,11499,2017.0,chevrolet malibu,like new,4.0,gas,NaN,automatic,sedan,NaN,NaN,2018-07-26,43
26,8499,2014.0,ford fusion se,like new,4.0,gas,79523.0,automatic,sedan,red,NaN,2018-10-25,23
27,12999,2015.0,chevrolet impala,like new,6.0,gas,39368.0,automatic,sedan,custom,NaN,2018-05-19,42
28,29800,2012.0,chevrolet corvette,excellent,8.0,gas,57413.0,automatic,coupe,orange,NaN,2018-10-22,101
29,5495,2010.0,chevrolet impala,excellent,6.0,gas,NaN,automatic,sedan,white,NaN,2019-02-18,20
31,11999,2017.0,toyota camry le,excellent,4.0,gas,35721.0,automatic,sedan,NaN,NaN,2018-09-13,25
32,9499,2015.0,nissan altima,like new,4.0,gas,51848.0,automatic,sedan,grey,NaN,2018-11-12,7
34,9500,2008.0,toyota highlander,good,6.0,gas,149799.0,automatic,SUV,NaN,NaN,2018-06-04,121
35,14999,2015.0,dodge charger,good,6.0,gas,63037.0,automatic,sedan,NaN,NaN,2018-05-11,37
36,10499,2013.0,chrysler 300,good,NaN,gas,88042.0,automatic,sedan,NaN,NaN,2018-05-05,22
37,7500,2005.0,toyota tacoma,good,NaN,gas,160000.0,automatic,pickup,NaN,NaN,2018-07-22,44
38,7999,2015.0,chrysler 200,good,4.0,gas,NaN,automatic,sedan,NaN,NaN,2019-03-08,29
41,11995,2017.0,nissan rogue,like new,4.0,gas,NaN,automatic,SUV,silver,1.0,2018-09-20,21
42,34900,2013.0,mercedes-benz benze sprinter 2500,excellent,6.0,diesel,NaN,automatic,van,black,NaN,2019-01-15,16
44,4500,2004.0,jeep grand cherokee,good,6.0,gas,168821.0,automatic,SUV,NaN,1.0,2019-01-31,60
45,2400,2001.0,toyota camry,good,4.0,gas,277564.0,automatic,coupe,yellow,NaN,2018-05-27,51
47,12500,2008.0,toyota 4runner,good,6.0,gas,141098.0,automatic,SUV,grey,NaN,2019-03-10,35
48,9500,2014.0,ford focus,excellent,4.0,diesel,46000.0,automatic,sedan,NaN,NaN,2018-10-09,24
49,3200,2006.0,honda civic,excellent,4.0,gas,255390.0,automatic,sedan,blue,NaN,2018-10-18,23
50,6200,2006.0,ford f-150,excellent,6.0,gas,69698.0,automatic,truck,custom,NaN,2018-05-03,50
51,3800,2012.0,ford focus,good,4.0,gas,130323.0,automatic,sedan,black,NaN,2018-11-29,261
52,3300,2011.0,kia soul,good,4.0,gas,188963.0,manual,SUV,black,NaN,2019-02-16,71
55,19700,2017.0,chevrolet camaro lt coupe 2d,good,6.0,gas,35807.0,other,coupe,NaN,NaN,2018-05-16,99
56,4200,2006.0,jeep grand cherokee,excellent,6.0,gas,NaN,automatic,SUV,white,1.0,2018-07-01,79
57,4877,2012.0,chevrolet cruze,excellent,4.0,gas,163261.0,automatic,sedan,white,NaN,2019-04-18,21
58,3200,2004.0,bmw x5,excellent,6.0,gas,NaN,automatic,SUV,black,1.0,2019-04-09,10
59,5200,2006.0,toyota highlander,good,NaN,gas,186000.0,automatic,SUV,green,NaN,2018-12-20,2
62,10499,2017.0,chevrolet cruze,good,4.0,gas,53601.0,automatic,sedan,black,NaN,2019-01-13,48
63,30000,1966.0,ford mustang,excellent,NaN,gas,51000.0,manual,convertible,red,NaN,2019-01-23,17
64,15999,2017.0,chevrolet cruze,good,4.0,gas,17498.0,automatic,sedan,black,NaN,2018-11-07,54
65,12800,NaN,ford f-150,excellent,6.0,gas,108500.0,automatic,pickup,white,NaN,2018-09-23,15
66,14999,2013.0,chevrolet silverado 3500hd,good,8.0,gas,NaN,automatic,truck,white,1.0,2018-05-09,22
68,6950,2013.0,nissan altima,excellent,4.0,gas,158786.0,automatic,sedan,NaN,NaN,2018-12-24,41
69,7800,NaN,ford f-150,like new,8.0,gas,97510.0,automatic,truck,white,1.0,2019-02-20,39
70,5500,2006.0,honda accord,good,4.0,gas,NaN,automatic,sedan,silver,NaN,2018-11-27,15
71,23300,2018.0,nissan frontier crew cab sv,good,6.0,gas,27493.0,other,pickup,NaN,1.0,2018-10-13,36
72,3650,NaN,subaru impreza,excellent,NaN,gas,74000.0,automatic,sedan,blue,1.0,2018-08-07,60
74,9950,2008.0,toyota 4runner,excellent,6.0,gas,NaN,automatic,SUV,silver,1.0,2018-06-08,53
75,6950,2005.0,chevrolet tahoe,excellent,NaN,gas,186021.0,automatic,SUV,NaN,1.0,2018-10-30,3
76,3000,2010.0,nissan versa,like new,4.0,gas,200412.0,automatic,hatchback,silver,NaN,2018-09-23,33
77,4200,2012.0,ford focus,like new,4.0,gas,144273.0,automatic,sedan,silver,NaN,2018-06-11,19
80,26900,2014.0,chevrolet silverado 1500 crew,good,8.0,gas,68607.0,automatic,pickup,NaN,1.0,2018-09-08,10
81,5900,2000.0,ford f250 super duty,good,8.0,diesel,202752.0,automatic,pickup,red,NaN,2018-07-08,32

<span style="color: red;"><u>**Note-2-Self**</u></span>


Read/Review the use  `fillna()`  `mode` parameter for fill-in `'model_year'`

`'odometer'` - take average to fill-in NaN

`'is_4wd'` fill-in with zero = No

In [4]:
# EDA: preview data

display(vehicles_df.sample(60))

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
38248,8995,2015.0,toyota corolla,excellent,4.0,gas,NaN,automatic,sedan,silver,NaN,2018-06-01,49
26087,19200,2012.0,cadillac escalade,like new,NaN,gas,128.0,automatic,SUV,black,1.0,2018-08-22,10
40064,14500,2010.0,jeep wrangler unlimited,like new,6.0,gas,105000.0,automatic,offroad,grey,1.0,2018-10-11,30
43519,11995,NaN,subaru outback,excellent,6.0,gas,131580.0,automatic,wagon,grey,NaN,2018-05-29,62
51501,8995,2015.0,volkswagen jetta,like new,4.0,gas,90648.0,automatic,sedan,white,NaN,2019-02-13,61
20419,3000,2009.0,ford focus,good,4.0,gas,80261.0,automatic,sedan,NaN,NaN,2018-07-20,15
46263,11988,2012.0,ford mustang,like new,6.0,gas,NaN,manual,coupe,red,NaN,2019-02-11,38
5183,4999,2008.0,ford focus,like new,4.0,gas,NaN,automatic,sedan,blue,NaN,2019-04-05,41
49276,6495,2011.0,ram 1500,good,6.0,gas,NaN,automatic,pickup,white,NaN,2019-03-21,8
30791,8988,2008.0,honda cr-v,excellent,4.0,gas,NaN,automatic,SUV,blue,1.0,2018-05-27,57
27240,4250,2003.0,chevrolet tahoe,excellent,8.0,gas,NaN,automatic,SUV,blue,1.0,2018-10-17,25
37267,3995,2001.0,ford f-150,excellent,8.0,gas,269872.0,automatic,truck,white,NaN,2019-01-08,72
613,21900,2013.0,chevrolet silverado 1500,excellent,8.0,gas,NaN,automatic,truck,NaN,1.0,2018-10-12,27
15026,9900,2013.0,nissan altima,excellent,4.0,gas,97093.0,automatic,sedan,grey,NaN,2019-02-03,52
46418,1800,2000.0,chevrolet suburban,fair,8.0,gas,249000.0,automatic,SUV,red,1.0,2019-02-28,20
10747,5200,1989.0,ford mustang,excellent,4.0,gas,NaN,automatic,convertible,white,NaN,2019-01-13,61
19070,29999,2011.0,ford econoline,like new,10.0,gas,117000.0,automatic,van,white,NaN,2018-08-07,0
26076,13998,2015.0,chrysler 200,excellent,6.0,gas,30263.0,automatic,sedan,NaN,NaN,2018-11-01,20
16342,37999,2015.0,chevrolet silverado 1500,good,8.0,gas,20492.0,automatic,truck,black,1.0,2018-07-07,13
47270,1488,2016.0,ford fusion se,excellent,4.0,gas,127417.0,automatic,sedan,black,NaN,2018-08-04,12
22843,19995,2017.0,nissan murano,good,6.0,gas,55000.0,automatic,SUV,black,1.0,2018-08-23,35
8440,9650,2013.0,honda civic lx,excellent,4.0,gas,99140.0,automatic,sedan,black,NaN,2019-02-04,9
3679,16900,2016.0,ford mustang,good,4.0,gas,35327.0,automatic,coupe,white,NaN,2019-03-01,19
3071,15990,2012.0,ram 1500,excellent,8.0,gas,91703.0,automatic,truck,black,1.0,2018-09-12,80
5549,25500,NaN,jeep wrangler unlimited,excellent,6.0,gas,73500.0,automatic,SUV,silver,1.0,2018-11-22,17
29176,5500,2012.0,dodge grand caravan,good,6.0,gas,167611.0,automatic,mini-van,silver,NaN,2018-11-09,22
39958,31995,2015.0,cadillac escalade,good,8.0,gas,103577.0,automatic,SUV,NaN,NaN,2019-02-26,80
2625,4295,2009.0,honda accord,excellent,4.0,gas,212655.0,manual,sedan,grey,NaN,2018-12-26,2
34810,4795,2005.0,ford ranger,excellent,6.0,gas,188700.0,automatic,pickup,white,NaN,2018-05-25,45
26059,25499,2007.0,ram 2500,like new,6.0,diesel,108900.0,automatic,truck,silver,1.0,2018-07-16,47
40199,4495,2009.0,chrysler 300,good,6.0,gas,NaN,automatic,sedan,NaN,NaN,2018-07-18,10
7558,35950,2016.0,ford f250,excellent,8.0,diesel,NaN,automatic,truck,green,1.0,2018-06-06,61
36354,12990,2011.0,ford expedition,good,NaN,gas,124775.0,automatic,SUV,NaN,1.0,2019-01-11,100
32228,3890,2008.0,nissan altima,good,4.0,gas,193672.0,automatic,sedan,white,NaN,2018-10-02,14
15657,8950,2008.0,chevrolet silverado 1500,good,8.0,gas,165118.0,automatic,pickup,silver,NaN,2018-08-15,12
810,21900,2016.0,nissan frontier crew cab sv,good,6.0,gas,4998.0,other,pickup,NaN,NaN,2018-05-24,1
48848,18500,2013.0,chevrolet silverado 1500,excellent,8.0,gas,130000.0,automatic,truck,red,1.0,2018-12-05,84
28071,1499,2005.0,subaru impreza,fair,4.0,gas,129000.0,automatic,sedan,white,1.0,2018-07-13,80
41509,7995,2015.0,chrysler 200,like new,4.0,gas,119418.0,automatic,sedan,white,NaN,2019-02-24,64
34207,2100,NaN,dodge grand caravan,fair,6.0,gas,130000.0,automatic,mini-van,blue,NaN,2018-06-23,10
14091,3000,2006.0,dodge grand caravan,excellent,NaN,gas,118000.0,automatic,mini-van,NaN,NaN,2019-02-23,7
11202,4975,2007.0,honda civic,good,4.0,gas,156335.0,automatic,sedan,NaN,NaN,2018-05-14,13
5557,9000,2007.0,cadillac escalade,good,8.0,gas,191000.0,automatic,SUV,blue,1.0,2018-09-07,107
47710,11995,2011.0,chrysler 300,good,8.0,gas,90580.0,automatic,sedan,silver,NaN,2019-01-07,78
35934,5995,2003.0,ford f-150,good,6.0,gas,156440.0,automatic,truck,red,1.0,2019-04-05,41
32978,19500,2012.0,chevrolet camaro lt coupe 2d,good,6.0,gas,16684.0,other,coupe,NaN,NaN,2018-05-08,25
4830,11500,2012.0,subaru outback,good,4.0,gas,64000.0,automatic,wagon,NaN,1.0,2019-04-10,16
42188,7995,2013.0,honda civic lx,excellent,4.0,gas,72891.0,automatic,sedan,silver,NaN,2018-10-11,50
18351,4900,2008.0,hyundai elantra,good,4.0,gas,125322.0,automatic,sedan,grey,NaN,2018-09-06,12
39864,39988,2015.0,chevrolet silverado 2500hd,like new,NaN,diesel,NaN,automatic,truck,red,1.0,2019-02-21,81
9960,22490,2017.0,toyota tacoma,excellent,4.0,gas,42070.0,automatic,truck,NaN,NaN,2018-11-30,63
20680,1400,NaN,ford ranger,fair,4.0,gas,171474.0,manual,truck,white,NaN,2019-01-13,62
47322,5995,NaN,ford fusion se,excellent,6.0,gas,NaN,automatic,sedan,grey,NaN,2018-05-30,76
22894,1,2019.0,ford explorer,excellent,10.0,gas,26504.0,other,SUV,red,1.0,2019-03-08,34
22320,19490,2013.0,chevrolet silverado 2500hd,good,8.0,gas,77755.0,automatic,truck,custom,1.0,2018-07-16,46
26904,8900,2009.0,toyota highlander,excellent,4.0,gas,109701.0,automatic,SUV,black,NaN,2018-09-08,133
8107,4495,2004.0,acura tl,good,6.0,gas,185000.0,manual,sedan,NaN,NaN,2018-09-14,42
19627,11500,1997.0,ford f250,good,8.0,gas,118000.0,automatic,truck,NaN,1.0,2018-12-14,57
36956,13000,2017.0,volkswagen passat,good,4.0,gas,54898.0,automatic,sedan,NaN,NaN,2019-03-07,8
4467,42995,2018.0,chevrolet suburban,excellent,8.0,gas,NaN,automatic,SUV,NaN,1.0,2019-04-08,36

In [5]:
# EDA: see row with NaN

rows_with_nan = vehicles_df[vehicles_df['is_4wd'].isna()]

display(rows_with_nan.sample(60))

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
28972,1000,1993.0,ford explorer,fair,6.0,gas,200000.0,automatic,SUV,green,NaN,2018-09-14,50
17505,2300,1994.0,ford f-150,good,6.0,gas,139411.0,manual,truck,black,NaN,2018-06-23,26
37501,1188,2007.0,ford ranger,good,6.0,gas,244081.0,automatic,truck,white,NaN,2019-02-08,39
51456,12995,2017.0,dodge grand caravan,excellent,6.0,gas,98353.0,automatic,mini-van,white,NaN,2019-03-01,33
47511,17500,2014.0,toyota tacoma,excellent,NaN,gas,99000.0,automatic,truck,NaN,NaN,2019-02-15,51
21876,4490,2008.0,ford f-150,excellent,8.0,gas,116445.0,automatic,truck,blue,NaN,2018-12-26,63
16704,10500,2014.0,ford focus,excellent,4.0,gas,33700.0,automatic,hatchback,custom,NaN,2018-10-08,46
21912,5699,2007.0,acura tl,excellent,6.0,gas,105298.0,automatic,sedan,grey,NaN,2018-09-26,35
31153,8450,2014.0,ram 3500,excellent,NaN,gas,200000.0,automatic,pickup,red,NaN,2018-07-12,20
46062,5000,2004.0,toyota highlander,good,6.0,gas,163300.0,automatic,SUV,custom,NaN,2018-07-26,64
19083,15998,NaN,chevrolet malibu,excellent,4.0,gas,NaN,automatic,sedan,custom,NaN,2018-11-21,35
227,11795,2015.0,toyota tacoma,excellent,4.0,gas,111048.0,automatic,truck,white,NaN,2018-09-30,30
33773,14500,2018.0,chevrolet equinox,like new,4.0,gas,15000.0,automatic,SUV,red,NaN,2018-08-20,89
35659,6500,NaN,chevrolet camaro,good,8.0,gas,111222.0,automatic,coupe,red,NaN,2018-08-19,11
38504,12900,NaN,gmc acadia,good,6.0,gas,114000.0,automatic,SUV,silver,NaN,2018-09-27,95
8382,3100,2005.0,toyota corolla,good,4.0,gas,NaN,automatic,sedan,silver,NaN,2018-09-29,38
16971,13995,2000.0,chevrolet corvette,excellent,8.0,gas,46424.0,automatic,coupe,blue,NaN,2019-01-17,63
10710,8900,2014.0,toyota corolla,like new,4.0,gas,51.0,automatic,sedan,white,NaN,2018-05-10,54
20623,1500,1995.0,ford ranger,good,NaN,gas,200000.0,automatic,pickup,red,NaN,2018-08-08,33
49672,4495,2010.0,ford fusion,good,4.0,gas,118930.0,automatic,sedan,grey,NaN,2018-12-06,11
7217,6025,2004.0,ford expedition,good,8.0,gas,114000.0,automatic,SUV,red,NaN,2018-09-14,82
18942,12595,NaN,ford escape,excellent,4.0,gas,45675.0,automatic,SUV,NaN,NaN,2019-02-25,47
33410,10800,2014.0,dodge charger,excellent,6.0,gas,103000.0,automatic,sedan,white,NaN,2019-03-15,22
41834,299,2004.0,toyota camry le,excellent,4.0,gas,185234.0,automatic,sedan,silver,NaN,2018-08-07,30
45144,10000,2011.0,toyota prius,excellent,4.0,gas,60200.0,automatic,hatchback,NaN,NaN,2019-04-16,22
40564,5999,2001.0,toyota rav4,like new,4.0,gas,88566.0,automatic,SUV,silver,NaN,2018-09-28,51
29209,12000,2013.0,kia sorento,excellent,4.0,gas,88349.0,automatic,SUV,silver,NaN,2018-10-16,85
48293,4995,2008.0,gmc acadia,good,6.0,gas,191232.0,automatic,SUV,purple,NaN,2019-02-09,21
12758,3600,2009.0,volkswagen passat,like new,4.0,gas,136000.0,automatic,sedan,silver,NaN,2019-03-30,3
20587,17995,2015.0,ram 1500,good,8.0,gas,81195.0,automatic,truck,black,NaN,2019-04-02,37
17355,5500,2007.0,toyota highlander,excellent,4.0,gas,159651.0,automatic,SUV,white,NaN,2018-06-18,38
30811,7900,2010.0,honda pilot,good,6.0,gas,NaN,automatic,SUV,NaN,NaN,2018-11-30,29
48426,4495,2010.0,chrysler 300,excellent,6.0,gas,NaN,automatic,sedan,NaN,NaN,2019-03-18,74
29863,8995,NaN,chevrolet silverado 1500,excellent,NaN,gas,153602.0,automatic,pickup,red,NaN,2019-01-02,38
15604,3495,2003.0,toyota camry,good,NaN,gas,206055.0,automatic,sedan,white,NaN,2018-11-25,81
48805,5400,2011.0,chevrolet equinox,like new,NaN,gas,124000.0,automatic,SUV,NaN,NaN,2018-06-18,76
19213,15999,2017.0,dodge grand caravan,excellent,6.0,gas,42982.0,automatic,mini-van,grey,NaN,2018-08-15,24
27041,2995,1994.0,gmc sierra,excellent,6.0,gas,NaN,automatic,pickup,green,NaN,2018-07-12,42
20936,2995,2006.0,toyota corolla,excellent,4.0,gas,NaN,automatic,sedan,black,NaN,2018-07-28,35
1606,5900,2011.0,hyundai sonata,good,4.0,gas,NaN,automatic,sedan,black,NaN,2018-06-26,36
46938,7900,2013.0,kia soul,excellent,4.0,gas,71956.0,automatic,wagon,white,NaN,2019-01-11,85
24234,3995,2008.0,nissan altima,good,4.0,gas,152350.0,automatic,sedan,silver,NaN,2018-12-04,25
18571,5500,2004.0,toyota highlander,good,6.0,gas,NaN,automatic,SUV,NaN,NaN,2019-01-19,123
14661,3800,2006.0,chevrolet impala,good,8.0,gas,175500.0,automatic,sedan,NaN,NaN,2018-05-12,65
27809,24791,2015.0,toyota tundra,excellent,8.0,gas,83497.0,automatic,truck,white,NaN,2019-03-29,34
6364,1750,NaN,dodge charger,excellent,6.0,gas,171595.0,automatic,sedan,black,NaN,2019-03-13,21
24326,13500,2014.0,ford mustang,excellent,6.0,gas,NaN,automatic,convertible,white,NaN,2018-07-18,4
19341,10995,2013.0,dodge grand caravan,excellent,6.0,gas,119219.0,automatic,van,grey,NaN,2018-10-02,28
31413,18900,2015.0,dodge charger,excellent,8.0,gas,0.0,automatic,sedan,blue,NaN,2018-11-06,30
15447,7999,2004.0,chevrolet tahoe,excellent,8.0,gas,NaN,automatic,SUV,grey,NaN,2018-08-11,11
28217,7895,2013.0,kia soul,excellent,NaN,gas,103449.0,automatic,SUV,green,NaN,2018-07-27,37
8381,4300,2005.0,toyota camry le,excellent,4.0,gas,NaN,automatic,sedan,green,NaN,2018-06-01,28
6414,14781,2015.0,chevrolet malibu,excellent,4.0,gas,61120.0,automatic,sedan,white,NaN,2018-11-09,27
39399,15995,2014.0,toyota sienna,excellent,6.0,gas,59699.0,automatic,mini-van,white,NaN,2018-06-09,62
27020,9795,2014.0,dodge charger,good,8.0,gas,90210.0,automatic,sedan,blue,NaN,2018-05-01,51
48636,5500,2006.0,honda odyssey,excellent,6.0,gas,160574.0,automatic,mini-van,white,NaN,2018-08-09,35
41178,2200,2003.0,toyota prius,excellent,4.0,hybrid,190000.0,automatic,sedan,grey,NaN,2018-06-29,35
18562,8900,2014.0,honda civic lx,like new,4.0,gas,70489.0,automatic,sedan,NaN,NaN,2018-09-26,21
30582,9995,2014.0,toyota camry,excellent,4.0,gas,97649.0,automatic,sedan,red,NaN,2019-01-10,17
14947,4900,1999.0,ford f250,excellent,8.0,gas,289000.0,manual,pickup,blue,NaN,2018-11-20,65

In [6]:
# EDA: check for nulls/NaN/missing values

# view & identify dataframe attributes with null/missing values
vehicles_df.info()
print('\n\n')

# counts of missing values, nulls, NaNs
print('Missing Value / Null / NaN Counts')
display(vehicles_df.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB



Missing Value / Null / NaN Counts

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

In [31]:
# EDA: view the unique value and counts in the following columns

display(vehicles_df['model_year'].value_counts(sort=True))
print()

display(vehicles_df['model'].value_counts(sort=True))
print()

display(vehicles_df['condition'].value_counts(sort=True))
print()

display(vehicles_df['cylinders'].value_counts(sort=True))
print()

display(vehicles_df['transmission'].value_counts(sort=False))
print()

display(vehicles_df['type'].value_counts(sort=True))
print()

display(vehicles_df['paint_color'].value_counts())
print()

display(vehicles_df['is_4wd'].value_counts(sort=True))
print()

model_year
2013.0    3549
2012.0    3468
2014.0    3448
2011.0    3375
2015.0    3323
          ...
1948.0       1
1961.0       1
1936.0       1
1949.0       1
1929.0       1
Name: count, Length: 68, dtype: int64

model
ford f-150                           3326
chevrolet silverado 1500             2171
ram 1500                             1750
chevrolet silverado                  1271
jeep wrangler                        1119
                                     ...
dodge dakota                          242
acura tl                              236
kia sorento                           236
nissan murano                         235
mercedes-benz benze sprinter 2500      41
Name: count, Length: 95, dtype: int64

condition
excellent    24773
good         20145
like new      4742
fair          1607
new            143
salvage        115
Name: count, dtype: int64

cylinders
8.0     15844
6.0     15700
4.0     13864
10.0      549
5.0       272
3.0        34
12.0        2
Name: count, dtype: int64

transmission
automatic    46902
manual        2829
other         1794
Name: count, dtype: int64

type
SUV            12405
truck          12353
sedan          12154
pickup          6988
coupe           2303
wagon           1541
mini-van        1161
hatchback       1047
van              633
convertible      446
other            256
offroad          214
bus               24
Name: count, dtype: int64

paint_color
white     19296
black      7692
silver     6244
grey       5037
blue       4475
red        4421
green      1396
brown      1223
custom     1153
yellow      255
orange      231
purple      102
Name: count, dtype: int64

is_4wd
0.0    25953
1.0    25572
Name: count, dtype: int64

In [8]:
# EDA: view the unique value and counts in the 'type' column
# Note: will use `.isin()` method to filter 'type' with NaN for 
    # no_4wd_nan = [sedan, coupe, wagon, mini-van, hatchback, van, convertible, other, bus] 
    # yes_4wd_nan = [SUV, truck, pickup, offroad]

display(vehicles_df['type'].value_counts(sort=True))

type
SUV            12405
truck          12353
sedan          12154
pickup          6988
coupe           2303
wagon           1541
mini-van        1161
hatchback       1047
van              633
convertible      446
other            256
offroad          214
bus               24
Name: count, dtype: int64

In [9]:
# EDA: filter & view NaN in the 'type' column for specifically for the following vehicle types
# OBJECTIVE: replace NaN with zero (0 = Non-4wd vehicle)

# list of vehicle types that will not have 4wd capability and use with `.isin()` to view then later with either `.fillna()` or `.replace()`
no_4wd_nan = ['sedan', 'coupe', 'mini-van', 'hatchback', 'van', 'convertible', 'other', 'bus']

# new dataframe to review rows
sorted_non_4wd_df = vehicles_df[vehicles_df['type'].isin(no_4wd_nan)][['model_year', 'model', 'type', 'is_4wd']].sort_values(by='model')

# review top, bottom, and random selected (60) rows to have confidence to replace NaN with zero (0 = not 4wd capable) in 'type' column
display(sorted_non_4wd_df.head(60))
display(sorted_non_4wd_df.tail(60))
display(sorted_non_4wd_df.sample(60))

       model_year     model   type  is_4wd
33040      2003.0  acura tl  sedan     NaN
38743      2013.0  acura tl  sedan     NaN
41145      2013.0  acura tl  sedan     NaN
38760      2008.0  acura tl  sedan     NaN
23124      2003.0  acura tl  sedan     NaN
11355      2007.0  acura tl  sedan     NaN
23110      2005.0  acura tl  sedan     NaN
32707      2012.0  acura tl  sedan     NaN
23106      2007.0  acura tl  sedan     NaN
11413      2011.0  acura tl  sedan     1.0
38843      2006.0  acura tl  sedan     NaN
50532      2012.0  acura tl  sedan     NaN
38891      2009.0  acura tl  sedan     NaN
50543      2005.0  acura tl  sedan     NaN
38951      2008.0  acura tl  sedan     NaN
38988      2006.0  acura tl  sedan     NaN
44882      2007.0  acura tl  sedan     NaN
31609      2008.0  acura tl  sedan     NaN
44819      2010.0  acura tl  sedan     NaN
22269      2013.0  acura tl  sedan     NaN
12444      2013.0  acura tl  sedan     NaN
21953      2008.0  acura tl  sedan     NaN
21912      2007.0  acura tl  sedan     NaN
39563      2013.0  acura tl  sedan     1.0
33750         NaN  acura tl  sedan     NaN
33749      2011.0  acura tl  sedan     NaN
11267      2011.0  acura tl  sedan     1.0
19032      2006.0  acura tl  sedan     NaN
42617      2001.0  acura tl  sedan     NaN
42582      2005.0  acura tl  sedan     NaN
46065      2004.0  acura tl  sedan     NaN
50253         NaN  acura tl  sedan     NaN
34133      2007.0  acura tl  sedan     NaN
37968      2005.0  acura tl  sedan     NaN
2192       2009.0  acura tl  sedan     NaN
24175      2007.0  acura tl  sedan     NaN
16176         NaN  acura tl  sedan     NaN
24111      2012.0  acura tl  sedan     NaN
10583      2005.0  acura tl  sedan     NaN
16144      2004.0  acura tl  sedan     NaN
10662      2010.0  acura tl  sedan     NaN
38400      2012.0  acura tl  sedan     NaN
23789      2008.0  acura tl  sedan     NaN
10903      2007.0  acura tl  sedan     NaN
350        2006.0  acura tl  sedan     NaN
38628      2012.0  acura tl  sedan     NaN
23529      2005.0  acura tl  sedan     NaN
11039         NaN  acura tl  sedan     NaN
11095      2011.0  acura tl  sedan     1.0
16061      2012.0  acura tl  sedan     NaN
11145      2011.0  acura tl  sedan     1.0
11190      2012.0  acura tl  sedan     NaN
45277      2004.0  acura tl  sedan     NaN
1862       2005.0  acura tl  sedan     NaN
11246      2005.0  acura tl  sedan     NaN
11250      2011.0  acura tl  sedan     1.0
33744      2014.0  acura tl  sedan     NaN
39679      2012.0  acura tl  sedan     NaN
39684      2007.0  acura tl  sedan     NaN
14030      2007.0  acura tl  sedan     NaN

       model_year              model       type  is_4wd
46569      2013.0  volkswagen passat      sedan     NaN
42078      2014.0  volkswagen passat      sedan     NaN
35025      2015.0  volkswagen passat      sedan     NaN
11261      2004.0  volkswagen passat      sedan     NaN
43403      2007.0  volkswagen passat      sedan     NaN
14511      2013.0  volkswagen passat      sedan     NaN
40209      2013.0  volkswagen passat      sedan     NaN
27283      2008.0  volkswagen passat  hatchback     NaN
48302      2015.0  volkswagen passat      sedan     NaN
20865      2016.0  volkswagen passat      sedan     NaN
2395          NaN  volkswagen passat      sedan     NaN
48309      2012.0  volkswagen passat      sedan     NaN
45397      2013.0  volkswagen passat      sedan     NaN
27427         NaN  volkswagen passat      sedan     NaN
36175      2013.0  volkswagen passat      sedan     NaN
29439         NaN  volkswagen passat      sedan     NaN
29415         NaN  volkswagen passat      sedan     NaN
21139      2013.0  volkswagen passat      sedan     NaN
5500       2015.0  volkswagen passat      sedan     NaN
13954      2014.0  volkswagen passat      sedan     NaN
17832      2013.0  volkswagen passat      sedan     NaN
46160      2015.0  volkswagen passat      sedan     NaN
33818      2014.0  volkswagen passat      sedan     NaN
5491       2007.0  volkswagen passat      sedan     NaN
22510      2013.0  volkswagen passat      sedan     NaN
40014      2013.0  volkswagen passat      sedan     NaN
9874       2014.0  volkswagen passat      sedan     NaN
33864      2014.0  volkswagen passat      sedan     NaN
13924      2013.0  volkswagen passat      sedan     NaN
30926      2013.0  volkswagen passat      sedan     NaN
3875       2015.0  volkswagen passat      sedan     NaN
22456      2000.0  volkswagen passat      sedan     NaN
13922      2015.0  volkswagen passat      sedan     NaN
48629      2014.0  volkswagen passat      sedan     NaN
49494      2009.0  volkswagen passat      sedan     NaN
22616      2012.0  volkswagen passat      sedan     NaN
14021      2017.0  volkswagen passat      sedan     NaN
27810      2006.0  volkswagen passat      sedan     NaN
44439      2012.0  volkswagen passat      sedan     NaN
11094         NaN  volkswagen passat      sedan     NaN
11093      2012.0  volkswagen passat      sedan     NaN
41796         NaN  volkswagen passat      sedan     NaN
9424       2017.0  volkswagen passat      sedan     NaN
14157         NaN  volkswagen passat      sedan     NaN
38936      2014.0  volkswagen passat      sedan     NaN
40036      2013.0  volkswagen passat      sedan     NaN
45421      2012.0  volkswagen passat      sedan     NaN
6233       2013.0  volkswagen passat      sedan     NaN
22765      2013.0  volkswagen passat      sedan     NaN
22740      2005.0  volkswagen passat      sedan     NaN
2210       2013.0  volkswagen passat      sedan     NaN
1143       2016.0  volkswagen passat      sedan     NaN
45428      2012.0  volkswagen passat      sedan     NaN
34330      2004.0  volkswagen passat      sedan     NaN
39011      2013.0  volkswagen passat      sedan     NaN
5632       2015.0  volkswagen passat      sedan     NaN
12758      2009.0  volkswagen passat      sedan     NaN
3832       2012.0  volkswagen passat      sedan     NaN
41761      2013.0  volkswagen passat      sedan     NaN
29734      2015.0  volkswagen passat      sedan     1.0

       model_year                         model         type  is_4wd
35129      2016.0                   ford fusion        sedan     NaN
16233      2014.0                toyota corolla        sedan     NaN
42414      2004.0                   honda civic        sedan     NaN
40223      2014.0                toyota corolla        sedan     NaN
15491      2012.0              chevrolet malibu        sedan     NaN
12672      2009.0                  chrysler 300        sedan     NaN
30199      2011.0       chrysler town & country     mini-van     NaN
14698      2009.0                  toyota camry        sedan     NaN
28183      2004.0              chevrolet impala        sedan     NaN
35158      2018.0                toyota corolla        sedan     NaN
4886       2012.0                  ford mustang  convertible     NaN
15020      2002.0                  honda accord        sedan     NaN
28627      1997.0               toyota camry le        sedan     NaN
37142      2005.0            chevrolet corvette        coupe     NaN
16409      1994.0                   honda civic    hatchback     NaN
47163         NaN               chevrolet cruze        sedan     NaN
10998      2014.0                      kia soul    hatchback     NaN
29070      2012.0                 honda odyssey     mini-van     NaN
35779      2011.0               toyota camry le        sedan     NaN
30681      2017.0  chevrolet camaro lt coupe 2d        coupe     NaN
24322      2017.0  chevrolet camaro lt coupe 2d        coupe     NaN
51310      2014.0                  ford mustang        coupe     NaN
43297      2017.0      ford mustang gt coupe 2d        coupe     NaN
51139      2012.0                 dodge charger        sedan     NaN
2314       2005.0                  toyota prius    hatchback     NaN
49972      2006.0              chevrolet impala        sedan     NaN
27057      2017.0           dodge grand caravan          van     NaN
41470         NaN                hyundai sonata        sedan     NaN
31157      2018.0                 dodge charger        sedan     NaN
9607       2012.0                 nissan sentra        sedan     NaN
42999         NaN                   ford fusion        sedan     NaN
43895      2010.0                      kia soul        sedan     NaN
47886      2012.0                      acura tl        sedan     NaN
26195      1996.0                   ford taurus        sedan     NaN
47461      2003.0                    ford focus        sedan     NaN
17202      2009.0                 nissan altima        coupe     NaN
48590      2012.0               chevrolet cruze        sedan     NaN
33803      2014.0                toyota corolla        sedan     NaN
3025       2007.0                 nissan altima        sedan     NaN
41313      2015.0               hyundai elantra        sedan     NaN
43331      2017.0              chevrolet camaro        coupe     NaN
31887      2003.0                   ford taurus        sedan     NaN
6884          NaN                 nissan maxima        sedan     NaN
43728      2010.0           dodge grand caravan     mini-van     NaN
13629      2007.0                  chrysler 300        sedan     1.0
39200      2011.0              chevrolet camaro        coupe     NaN
25039         NaN                  toyota prius        sedan     NaN
15037      2016.0                 nissan sentra        sedan     NaN
15805      2015.0               chevrolet cruze        sedan     NaN
12239         NaN              chevrolet malibu        sedan     NaN
41098      2014.0                 honda odyssey     mini-van     NaN
40431      2002.0                   honda civic    hatchback     NaN
12549      2010.0              chevrolet impala        sedan     NaN
46427      2011.0                  nissan versa        sedan     NaN
8807       2010.0                 nissan sentra        sedan     NaN
39235      2018.0               hyundai elantra        sedan     NaN
32338      2012.0                subaru impreza        sedan     1.0
15857         NaN                   ford escape    hatchback     1.0
18018      2013.0                  chrysler 200        sedan     NaN
20931         NaN                   honda civic        sedan     NaN

In [10]:
# EDA: filter & view NaN in the 'type' column for specifically for the following vehicle types
# OBJECTIVE: replace NaN with one (1 = 4wd vehicle)

yes_4wd_nan = ['SUV', 'truck', 'pickup', 'wagon', 'offroad']

#yes_4wd_nan = ['truck']

# new dataframe to review rows
sorted_yes_4wd_df = vehicles_df[vehicles_df['type'].isin(yes_4wd_nan)][['model_year', 'model', 'type', 'is_4wd']].sort_values(by='model')


# review top, bottom, and random selected (60) rows to have confidence to replace NaN with zero (0 = not 4wd capable) in 'type' column
display(sorted_yes_4wd_df.head(60))
display(sorted_yes_4wd_df.tail(60))
display(sorted_yes_4wd_df.sample(60))

       model_year     model   type  is_4wd
8133       2007.0  acura tl    SUV     NaN
7029       2007.0  acura tl    SUV     NaN
8675       2007.0  acura tl    SUV     NaN
16496      2008.0    bmw x5    SUV     1.0
16449      2010.0    bmw x5    SUV     1.0
29694      2010.0    bmw x5    SUV     1.0
29704      2011.0    bmw x5    SUV     1.0
43159      2012.0    bmw x5    SUV     1.0
29745      2012.0    bmw x5    SUV     1.0
43196      2011.0    bmw x5    SUV     1.0
29760      2010.0    bmw x5    SUV     1.0
43253      2012.0    bmw x5    SUV     1.0
43255      2012.0    bmw x5    SUV     1.0
4822       2009.0    bmw x5    SUV     1.0
50837         NaN    bmw x5    SUV     1.0
16535      2012.0    bmw x5    SUV     1.0
50851      2012.0    bmw x5    SUV     NaN
30101      2011.0    bmw x5    SUV     1.0
43620      2008.0    bmw x5    SUV     1.0
1012       2005.0    bmw x5    SUV     1.0
43693      2008.0    bmw x5    SUV     1.0
4978          NaN    bmw x5    SUV     1.0
43882      2012.0    bmw x5    SUV     1.0
955        2006.0    bmw x5    SUV     1.0
14850      2012.0    bmw x5    SUV     1.0
30417      2013.0    bmw x5    SUV     1.0
43421      2013.0    bmw x5    SUV     1.0
16595      2011.0    bmw x5    SUV     1.0
0          2011.0    bmw x5    SUV     1.0
944        2012.0    bmw x5  wagon     1.0
17941      2011.0    bmw x5    SUV     1.0
42239      2012.0    bmw x5    SUV     1.0
42243         NaN    bmw x5    SUV     1.0
17754      2003.0    bmw x5    SUV     1.0
17747      2015.0    bmw x5    SUV     1.0
17746      2012.0    bmw x5    SUV     1.0
17745      2011.0    bmw x5    SUV     1.0
17671      2014.0    bmw x5    SUV     NaN
42425      2006.0    bmw x5    SUV     1.0
42434         NaN    bmw x5    SUV     1.0
17519         NaN    bmw x5    SUV     1.0
4677          NaN    bmw x5    SUV     1.0
42512      2015.0    bmw x5    SUV     NaN
17299      2011.0    bmw x5    SUV     1.0
17236      2013.0    bmw x5    SUV     1.0
36521      2003.0    bmw x5    SUV     1.0
17223      2007.0    bmw x5    SUV     1.0
42669      2010.0    bmw x5    SUV     1.0
17178      2010.0    bmw x5    SUV     1.0
4601       2008.0    bmw x5    SUV     1.0
4603       2005.0    bmw x5    SUV     1.0
16904      2013.0    bmw x5    SUV     1.0
29580      2012.0    bmw x5    SUV     1.0
16689      2010.0    bmw x5    SUV     1.0
49200      2011.0    bmw x5    SUV     1.0
14802      2016.0    bmw x5    SUV     NaN
14731      2001.0    bmw x5    SUV     1.0
14536      2002.0    bmw x5    SUV     1.0
51143      2006.0    bmw x5  truck     1.0
45396      2007.0    bmw x5    SUV     1.0

       model_year              model    type  is_4wd
27439      2007.0      toyota tundra   truck     1.0
16725      2006.0      toyota tundra   truck     NaN
2110       2014.0      toyota tundra   truck     1.0
31366      2000.0      toyota tundra   truck     NaN
16724      2003.0      toyota tundra  pickup     NaN
20875      2007.0      toyota tundra   truck     NaN
46479      2001.0      toyota tundra   truck     1.0
31407         NaN      toyota tundra  pickup     1.0
20549      2005.0      toyota tundra  pickup     1.0
40796      2006.0      toyota tundra  pickup     1.0
5005       2018.0      toyota tundra   truck     1.0
12741      2018.0      toyota tundra   truck     1.0
2114       2016.0      toyota tundra   truck     1.0
20917      2000.0      toyota tundra   truck     NaN
20956      2000.0      toyota tundra   truck     NaN
48985      2010.0      toyota tundra   truck     1.0
46254      2005.0   volkswagen jetta   wagon     NaN
25086      2005.0   volkswagen jetta   wagon     NaN
9949       2005.0   volkswagen jetta   wagon     NaN
29931      2005.0   volkswagen jetta   wagon     NaN
659           NaN   volkswagen jetta   wagon     NaN
40144      2013.0   volkswagen jetta   wagon     NaN
22375      2005.0   volkswagen jetta   wagon     NaN
37845      2009.0   volkswagen jetta   wagon     NaN
9371       2013.0   volkswagen jetta   wagon     NaN
4126       2003.0   volkswagen jetta   wagon     NaN
16224      2013.0   volkswagen jetta   wagon     NaN
40825      2009.0   volkswagen jetta   wagon     NaN
38425      2009.0   volkswagen jetta   wagon     NaN
40956      2005.0   volkswagen jetta   wagon     NaN
49502      2013.0   volkswagen jetta   wagon     NaN
31857      2009.0   volkswagen jetta   wagon     NaN
50191      2013.0   volkswagen jetta   wagon     NaN
11848      2002.0   volkswagen jetta   wagon     NaN
45750      2002.0   volkswagen jetta   wagon     NaN
42706      2012.0   volkswagen jetta   wagon     NaN
18465      2013.0   volkswagen jetta   wagon     NaN
4833       2013.0   volkswagen jetta   wagon     NaN
5925          NaN  volkswagen passat   wagon     NaN
5903       2008.0  volkswagen passat   wagon     NaN
38549      2007.0  volkswagen passat   wagon     NaN
3034       2008.0  volkswagen passat   wagon     NaN
23310      2004.0  volkswagen passat   wagon     NaN
31139      2003.0  volkswagen passat   wagon     NaN
19968      2004.0  volkswagen passat   wagon     NaN
693        2008.0  volkswagen passat   wagon     NaN
24818      2005.0  volkswagen passat   wagon     NaN
5215       2010.0  volkswagen passat   wagon     NaN
39391      2003.0  volkswagen passat   wagon     1.0
3373       2007.0  volkswagen passat   wagon     NaN
31728      2001.0  volkswagen passat   wagon     NaN
42457      2003.0  volkswagen passat   wagon     NaN
32639      2008.0  volkswagen passat   wagon     NaN
24314      2008.0  volkswagen passat   wagon     NaN
44606      2007.0  volkswagen passat   wagon     NaN
11343      2007.0  volkswagen passat   wagon     NaN
22773      2000.0  volkswagen passat   wagon     NaN
48643      2005.0  volkswagen passat   wagon     1.0
924        2004.0  volkswagen passat   wagon     NaN
7509       2007.0  volkswagen passat   wagon     NaN

       model_year                          model    type  is_4wd
47111         NaN                  toyota tacoma  pickup     1.0
36020      2003.0                  toyota tacoma  pickup     NaN
3956       2012.0                       ram 1500   truck     1.0
43822      2004.0                subaru forester     SUV     1.0
329        2009.0                   jeep liberty     SUV     1.0
6239       2013.0                     ford f-150   truck     1.0
1773       2000.0           ford f350 super duty   truck     1.0
17394      2013.0            chevrolet silverado  pickup     NaN
1000       2017.0                   nissan rogue   wagon     1.0
41946      2006.0     chevrolet silverado 2500hd   truck     NaN
29839      2013.0                     ford f-150   truck     1.0
30263      2005.0                     ford f-150  pickup     1.0
30497      2014.0        jeep wrangler unlimited     SUV     1.0
7857       2018.0    nissan frontier crew cab sv  pickup     1.0
11214         NaN                     ford f-150  pickup     1.0
29468      2003.0       chevrolet silverado 1500   truck     1.0
33234      2009.0                subaru forester   wagon     1.0
17458      2014.0     chevrolet silverado 2500hd   truck     1.0
39004      2002.0    ford f150 supercrew cab xlt   truck     1.0
44269      2009.0                     ford f-150  pickup     NaN
23649         NaN                       ram 1500  pickup     NaN
49806      2011.0            chevrolet silverado  pickup     1.0
50687      2015.0                subaru forester     SUV     1.0
1848       2014.0       chevrolet silverado 1500  pickup     1.0
27329      2013.0              toyota highlander     SUV     1.0
11169      2008.0            chevrolet silverado  pickup     1.0
38389      2011.0                subaru forester     SUV     1.0
35496      2015.0             chevrolet colorado  pickup     1.0
36814      2005.0                  toyota tacoma   truck     NaN
3280       2009.0                gmc sierra 1500   truck     1.0
9492       2012.0                      ford f250   truck     1.0
2737       2007.0       chevrolet silverado 1500  pickup     1.0
20402         NaN     chevrolet silverado 2500hd  pickup     1.0
34929      2010.0                      ford edge     SUV     1.0
16006      2015.0             chevrolet traverse     SUV     1.0
21786      2018.0  chevrolet silverado 1500 crew  pickup     1.0
3638       2011.0     chevrolet silverado 2500hd   truck     1.0
5363       2012.0                   jeep liberty     SUV     1.0
4430       2010.0            chevrolet silverado  pickup     1.0
19380      2014.0                       ram 1500   truck     1.0
30229      2008.0                  ford f-350 sd   truck     NaN
31238      2000.0                  toyota tundra   truck     NaN
18711      2016.0                    toyota rav4     SUV     1.0
11343      2007.0              volkswagen passat   wagon     NaN
4312       1989.0                     ford f-150   truck     NaN
38630      2005.0                   dodge dakota  pickup     NaN
17716      2014.0                     ford f-150   truck     NaN
27431      2002.0                   jeep liberty     SUV     1.0
36127      2006.0                       ram 1500  pickup     NaN
8993       2009.0                     ford f-150  pickup     NaN
42571      2018.0                  ford explorer     SUV     NaN
796        2005.0                chevrolet tahoe     SUV     NaN
13278      2013.0                       ram 1500  pickup     1.0
31298      2018.0                      ford edge     SUV     1.0
18825      2005.0           ford f350 super duty  pickup     1.0
6730       2001.0               hyundai santa fe     SUV     NaN
8198       2003.0                ford expedition     SUV     NaN
7826       2007.0           ford f250 super duty   truck     1.0
47006      2015.0                gmc sierra 1500   truck     1.0
42807      2018.0     chevrolet silverado 2500hd   truck     1.0

In [11]:
# EDA: view all the unique value and counts in the 'model_year' column

# created a new dataframe to view the entire (68) unique values
model_year_counts_df = (vehicles_df["model_year"].value_counts(sort=False)).reset_index()

# create the columns to view  in the created dataframe to review the (68) unique years and counts
model_year_counts_df.columns = ['model_year', 'count']

# sort model years in ascending order (ascending=True) or descending order (ascending=False)
model_year_df_sorted = model_year_counts_df.sort_values(by='model_year', ascending=False)

# display all (68) unique model years and its counts in the `model_year` column
display(model_year_df_sorted.head(60))
display(model_year_df_sorted.tail(10))

    model_year  count
18      2019.0    380
8       2018.0   2193
3       2017.0   2419
20      2016.0   2954
5       2015.0   3323
4       2014.0   3448
1       2013.0   3549
6       2012.0   3468
0       2011.0   3375
10      2010.0   2691
9       2009.0   2079
7       2008.0   2924
11      2007.0   2643
15      2006.0   2234
13      2005.0   2025
12      2004.0   1722
2       2003.0   1437
24      2002.0   1037
14      2001.0    845
19      2000.0    709
22      1999.0    546
29      1998.0    378
23      1997.0    327
27      1996.0    189
26      1995.0    184
17      1994.0    118
21      1993.0    108
35      1992.0     57
36      1991.0     51
34      1990.0     58
41      1989.0     58
39      1988.0     40
32      1987.0     31
46      1986.0     39
30      1985.0     18
50      1984.0     20
57      1983.0      7
51      1982.0      9
25      1981.0     10
47      1980.0     12
44      1979.0     19
42      1978.0     15
31      1977.0     13
56      1976.0      3
28      1975.0      7
33      1974.0      4
52      1973.0     15
37      1972.0      5
55      1971.0      7
53      1970.0     10
40      1969.0     10
45      1968.0     16
38      1967.0      7
16      1966.0     23
43      1965.0     10
48      1964.0      7
49      1963.0      3
59      1962.0      3
63      1961.0      1
61      1960.0      3

    model_year  count
63      1961.0      1
61      1960.0      3
66      1958.0      2
54      1955.0      1
58      1954.0      1
65      1949.0      1
60      1948.0      1
64      1936.0      1
67      1929.0      1
62      1908.0      2

In [12]:
# EDA: view all the unique value and counts in the 'model' column
# found several ford model names that can be consolidated i.e. 'ford f250' with 'ford f-250'


# create another dataframe to review the (100) unique vehicle models and its counts
model_counts_df = (vehicles_df['model'].value_counts()).reset_index()


# create the columns to view  in the created dataframe to review the (100) unique vehicle models and counts
model_counts_df.columns = ['model', 'count']


# sort `model` column by alphabectical order 
model_counts_df_sorted = model_counts_df.sort_values(by='model')


display(model_counts_df_sorted.head(60))
display(model_counts_df_sorted.tail(42))

                            model  count
96                       acura tl    236
85                         bmw x5    267
84                  buick enclave    271
65              cadillac escalade    322
49               chevrolet camaro    414
69   chevrolet camaro lt coupe 2d    311
79             chevrolet colorado    286
31             chevrolet corvette    499
40                chevrolet cruze    457
25              chevrolet equinox    591
20               chevrolet impala    674
22               chevrolet malibu    617
3             chevrolet silverado   1271
1        chevrolet silverado 1500   2171
72  chevrolet silverado 1500 crew    303
8      chevrolet silverado 2500hd    915
92     chevrolet silverado 3500hd    243
26             chevrolet suburban    562
17                chevrolet tahoe    713
88          chevrolet trailblazer    255
62             chevrolet traverse    329
93                   chrysler 200    243
67                   chrysler 300    316
81        chrysler town & country    279
48                  dodge charger    415
94                   dodge dakota    242
24            dodge grand caravan    598
75                 ford econoline    296
51                      ford edge    383
11                    ford escape    841
53                ford expedition    372
10                  ford explorer    847
0                      ford f-150   2796
47                     ford f-250    422
44                  ford f-250 sd    426
95          ford f-250 super duty    241
76                  ford f-350 sd    295
29                      ford f150    530
64    ford f150 supercrew cab xlt    327
59                      ford f250    339
54           ford f250 super duty    370
90                      ford f350    250
91           ford f350 super duty    246
16                     ford focus    754
52                  ford focus se    376
27                    ford fusion    544
70                 ford fusion se    309
19                   ford mustang    681
74       ford mustang gt coupe 2d    301
45                    ford ranger    423
71                    ford taurus    303
68                     gmc acadia    315
50                     gmc sierra    388
9                 gmc sierra 1500    906
43              gmc sierra 2500hd    438
61                      gmc yukon    331
7                    honda accord    964
13                    honda civic    815
86                 honda civic lx    262
18                     honda cr-v    685

                                model  count
86                     honda civic lx    262
18                         honda cr-v    685
39                      honda odyssey    457
73                        honda pilot    302
46                    hyundai elantra    423
83                   hyundai santa fe    273
35                     hyundai sonata    477
78                      jeep cherokee    293
15                jeep grand cherokee    806
87         jeep grand cherokee laredo    256
55                       jeep liberty    355
4                       jeep wrangler   1119
42            jeep wrangler unlimited    452
97                        kia sorento    236
57                           kia soul    349
99  mercedes-benz benze sprinter 2500     41
14                      nissan altima    813
80                    nissan frontier    281
58        nissan frontier crew cab sv    345
77                      nissan maxima    294
98                      nissan murano    235
37                       nissan rogue    469
32                      nissan sentra    497
82                       nissan versa    274
2                            ram 1500   1750
5                            ram 2500   1091
36                           ram 3500    475
33                    subaru forester    484
89                     subaru impreza    250
28                     subaru outback    538
41                     toyota 4runner    453
6                        toyota camry    990
66                    toyota camry le    316
21                     toyota corolla    650
60                  toyota highlander    334
34                       toyota prius    482
38                        toyota rav4    461
63                      toyota sienna    329
12                      toyota tacoma    827
23                      toyota tundra    603
30                   volkswagen jetta    519
56                  volkswagen passat    350

## Feature Engineering (FE)
<span style="color: green;"><u>**Steps / Action Taken**</u></span>
- combined the following ford model names in `model` column
    - `ford f150` (counts=530) with `ford f-150` (counts=2796) 
    - `ford f250` (counts=339) with `ford f-250` (counts=422)
    - `ford f-250 sd` (counts=426) with `ford f-250 super duty` (counts=241)
    - `ford f250 super duty` (counts=370) with `ford f-250 super duty` (counts=241)
    - `ford f-350 sd` (counts=295) with `ford f350 super duty` (counts=246)
- renamed the following ford model names in `model` column
    - `ford f350 super duty` (counts=541) to `ford f-350 super duty`
    - `ford f150 supercrew cab xlt` (counts=327) to `ford f-150 supercrew cab xlt`
    - `ford f350` (counts=250) to `ford f-350`
- created two new columns, `make` and `model_name`, derived from `model`
- <>

<br>

<span style="color: darkorange;"><u>**Findings / Observations**</u></span>
- <>

<br>

<span style="color: red;"><u>**Note-2-Self**</u></span> 
- for now...okay to keep the `date_posted` column as `object` datatype
    - will determine and return if needed to change to `datetime` datatype
- may want to clean the `model_year` column to be 4-digit year (YYYY)
- <>

In [13]:
# FE: replace the following model names in the 'model' column

# `ford f150` (counts=530) with `ford f-150` (counts=2796)
vehicles_df['model'] = vehicles_df['model'].replace('ford f150', 'ford f-150')

# `ford f250` (counts=339) with `ford f-250` (counts=422)
vehicles_df['model'] = vehicles_df['model'].replace('ford f250', 'ford f-250')

# `ford f-250 sd` (counts=426) with `ford f-250 super duty` (counts=241)
vehicles_df['model'] = vehicles_df['model'].replace('ford f-250 sd', 'ford f-250 super duty')

# `ford f250 super duty` (counts=370) with `ford f-250 super duty` (counts=241)
vehicles_df['model'] = vehicles_df['model'].replace('ford f250 super duty', 'ford f-250 super duty')

# `ford f-350 sd` (counts=295) with `ford f350 super duty` (counts=246)
vehicles_df['model'] = vehicles_df['model'].replace('ford f-350 sd', 'ford f350 super duty')

# rename `ford f350 super duty` (counts=541) to `ford f-350 super duty`
vehicles_df['model'] = vehicles_df['model'].replace('ford f350 super duty', 'ford f-350 super duty')

# rename `ford f150 supercrew cab xlt` (counts=327) to `ford f-150 supercrew cab xlt`
vehicles_df['model'] = vehicles_df['model'].replace('ford f150 supercrew cab xlt', 'ford f-150 supercrew cab xlt')

# rename `ford f350` (counts=250) to `ford f-350`
vehicles_df['model'] = vehicles_df['model'].replace('ford f350', 'ford f-350')


# create another dataframe to review the changes above in the 'model' column
model_counts_df = vehicles_df['model'].value_counts().reset_index()


# create the columns to view  in the created dataframe to review the (100) unique vehicle models and counts
model_counts_df.columns = ['model', 'count']

# sort `model` column by alphabectical order 
sorted_model_df = model_counts_df.sort_values(by='model')


display(sorted_model_df)
display(sorted_model_df.head(60))
display(sorted_model_df.tail(36))

                model  count
91           acura tl    236
82             bmw x5    267
81      buick enclave    271
63  cadillac escalade    322
49   chevrolet camaro    414
..                ...    ...
60      toyota sienna    329
13      toyota tacoma    827
25      toyota tundra    603
32   volkswagen jetta    519
55  volkswagen passat    350

[95 rows x 2 columns]

                            model  count
91                       acura tl    236
82                         bmw x5    267
81                  buick enclave    271
63              cadillac escalade    322
49               chevrolet camaro    414
67   chevrolet camaro lt coupe 2d    311
76             chevrolet colorado    286
33             chevrolet corvette    499
42                chevrolet cruze    457
27              chevrolet equinox    591
22               chevrolet impala    674
24               chevrolet malibu    617
3             chevrolet silverado   1271
1        chevrolet silverado 1500   2171
69  chevrolet silverado 1500 crew    303
9      chevrolet silverado 2500hd    915
88     chevrolet silverado 3500hd    243
28             chevrolet suburban    562
19                chevrolet tahoe    713
85          chevrolet trailblazer    255
61             chevrolet traverse    329
89                   chrysler 200    243
65                   chrysler 300    316
78        chrysler town & country    279
48                  dodge charger    415
90                   dodge dakota    242
26            dodge grand caravan    598
73                 ford econoline    296
51                      ford edge    383
12                    ford escape    841
53                ford expedition    372
11                  ford explorer    847
0                      ford f-150   3326
62   ford f-150 supercrew cab xlt    327
17                     ford f-250    761
6           ford f-250 super duty   1037
87                     ford f-350    250
30          ford f-350 super duty    541
18                     ford focus    754
52                  ford focus se    376
29                    ford fusion    544
68                 ford fusion se    309
21                   ford mustang    681
72       ford mustang gt coupe 2d    301
47                    ford ranger    423
70                    ford taurus    303
66                     gmc acadia    315
50                     gmc sierra    388
10                gmc sierra 1500    906
45              gmc sierra 2500hd    438
59                      gmc yukon    331
8                    honda accord    964
14                    honda civic    815
83                 honda civic lx    262
20                     honda cr-v    685
41                  honda odyssey    457
71                    honda pilot    302
46                hyundai elantra    423
80               hyundai santa fe    273
37                 hyundai sonata    477

                                model  count
37                     hyundai sonata    477
75                      jeep cherokee    293
16                jeep grand cherokee    806
84         jeep grand cherokee laredo    256
54                       jeep liberty    355
4                       jeep wrangler   1119
44            jeep wrangler unlimited    452
92                        kia sorento    236
56                           kia soul    349
94  mercedes-benz benze sprinter 2500     41
15                      nissan altima    813
77                    nissan frontier    281
57        nissan frontier crew cab sv    345
74                      nissan maxima    294
93                      nissan murano    235
39                       nissan rogue    469
34                      nissan sentra    497
79                       nissan versa    274
2                            ram 1500   1750
5                            ram 2500   1091
38                           ram 3500    475
35                    subaru forester    484
86                     subaru impreza    250
31                     subaru outback    538
43                     toyota 4runner    453
7                        toyota camry    990
64                    toyota camry le    316
23                     toyota corolla    650
58                  toyota highlander    334
36                       toyota prius    482
40                        toyota rav4    461
60                      toyota sienna    329
13                      toyota tacoma    827
25                      toyota tundra    603
32                   volkswagen jetta    519
55                  volkswagen passat    350

In [21]:
# FE: create two new columns, 'make' and 'model_name', derived from 'model' column

# `.str.split(' ')`: This splits each string in the model column by spaces. The default behavior is to split by whitespace.
# `n=1`: This limits the split to 1 occurrence. This means that the string will be split at the first space only. If there are more spaces in the string, they will be ignored for further splitting.
# `expand=True`: This returns a DataFrame where each split part becomes a separate column.
vehicles_df[['make', 'model_name']] = vehicles_df['model'].str.split(' ', n=1, expand=True)


# review & confirm two new columns created
display(vehicles_df.info())
display(vehicles_df.isna().sum())
display(vehicles_df)
display(vehicles_df.head(60))
#display(vehicles_df.tail(60))
#display(vehicles_df.sample(60))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
 13  make          51525 non-null  object
 14  model_name    51525 non-null  object
dtypes: float64(4), int64(2), object(9)
memory usage: 5.9+ MB

None

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
make                0
model_name          0
dtype: int64

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,make,model_name
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19,bmw,x5
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50,ford,f-150
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79,hyundai,sonata
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9,ford,f-150
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28,chrysler,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51520,9249,2013.0,nissan maxima,like new,6.0,gas,88136.0,automatic,sedan,black,NaN,2018-10-03,37,nissan,maxima
51521,2700,2002.0,honda civic,salvage,4.0,gas,181500.0,automatic,sedan,white,NaN,2018-11-14,22,honda,civic
51522,3950,2009.0,hyundai sonata,excellent,4.0,gas,128000.0,automatic,sedan,blue,NaN,2018-11-15,32,hyundai,sonata
51523,7455,2013.0,toyota corolla,good,4.0,gas,139573.0,automatic,sedan,black,NaN,2018-07-02,71,toyota,corolla
51524,6300,2014.0,nissan altima,good,4.0,gas,NaN,automatic,sedan,NaN,NaN,2018-06-05,10,nissan,altima

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,make,model_name
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19,bmw,x5
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50,ford,f-150
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79,hyundai,sonata
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9,ford,f-150
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28,chrysler,200
5,14990,2014.0,chrysler 300,excellent,6.0,gas,57954.0,automatic,sedan,black,1.0,2018-06-20,15,chrysler,300
6,12990,2015.0,toyota camry,excellent,4.0,gas,79212.0,automatic,sedan,white,NaN,2018-12-27,73,toyota,camry
7,15990,2013.0,honda pilot,excellent,6.0,gas,109473.0,automatic,SUV,black,1.0,2019-01-07,68,honda,pilot
8,11500,2012.0,kia sorento,excellent,4.0,gas,104174.0,automatic,SUV,NaN,1.0,2018-07-16,19,kia,sorento
9,9200,2008.0,honda pilot,excellent,NaN,gas,147191.0,automatic,SUV,blue,1.0,2019-02-15,17,honda,pilot
10,19500,2011.0,chevrolet silverado 1500,excellent,8.0,gas,128413.0,automatic,pickup,black,1.0,2018-09-17,38,chevrolet,silverado 1500
11,8990,2012.0,honda accord,excellent,4.0,gas,111142.0,automatic,sedan,grey,NaN,2019-03-28,29,honda,accord
12,18990,2012.0,ram 1500,excellent,8.0,gas,140742.0,automatic,pickup,NaN,1.0,2019-04-02,37,ram,1500
13,16500,2018.0,hyundai sonata,excellent,4.0,gas,22104.0,automatic,sedan,silver,NaN,2019-01-14,29,hyundai,sonata
14,12990,2009.0,gmc yukon,excellent,8.0,gas,132285.0,automatic,SUV,black,1.0,2019-01-31,24,gmc,yukon
15,17990,2013.0,ram 1500,excellent,8.0,gas,NaN,automatic,pickup,red,1.0,2018-05-15,111,ram,1500
16,14990,2010.0,ram 1500,excellent,8.0,gas,130725.0,automatic,pickup,red,1.0,2018-12-30,13,ram,1500
17,13990,2014.0,jeep cherokee,excellent,6.0,gas,100669.0,automatic,SUV,red,1.0,2018-08-16,25,jeep,cherokee
18,12500,2013.0,chevrolet traverse,excellent,6.0,gas,128325.0,automatic,SUV,white,1.0,2019-04-09,13,chevrolet,traverse
19,13990,2018.0,hyundai elantra,excellent,4.0,gas,31932.0,automatic,sedan,red,NaN,2018-08-25,27,hyundai,elantra
20,6990,NaN,chevrolet tahoe,excellent,8.0,gas,147485.0,automatic,SUV,silver,1.0,2018-08-05,28,chevrolet,tahoe
21,5250,2007.0,toyota rav4,good,6.0,gas,154000.0,automatic,SUV,NaN,NaN,2018-08-22,8,toyota,rav4
22,7500,2004.0,chevrolet silverado,like new,8.0,gas,180000.0,automatic,truck,red,1.0,2019-01-05,64,chevrolet,silverado
23,7500,2004.0,jeep wrangler,good,6.0,gas,NaN,automatic,SUV,red,1.0,2018-05-17,39,jeep,wrangler
24,3950,2009.0,chrysler 200,excellent,4.0,gas,NaN,automatic,sedan,red,NaN,2018-06-11,40,chrysler,200
25,11499,2017.0,chevrolet malibu,like new,4.0,gas,NaN,automatic,sedan,NaN,NaN,2018-07-26,43,chevrolet,malibu
26,8499,2014.0,ford fusion se,like new,4.0,gas,79523.0,automatic,sedan,red,NaN,2018-10-25,23,ford,fusion se
27,12999,2015.0,chevrolet impala,like new,6.0,gas,39368.0,automatic,sedan,custom,NaN,2018-05-19,42,chevrolet,impala
28,29800,2012.0,chevrolet corvette,excellent,8.0,gas,57413.0,automatic,coupe,orange,NaN,2018-10-22,101,chevrolet,corvette
29,5495,2010.0,chevrolet impala,excellent,6.0,gas,NaN,automatic,sedan,white,NaN,2019-02-18,20,chevrolet,impala
30,5000,2009.0,jeep liberty,good,6.0,gas,137273.0,automatic,SUV,white,1.0,2019-02-19,14,jeep,liberty
31,11999,2017.0,toyota camry le,excellent,4.0,gas,35721.0,automatic,sedan,NaN,NaN,2018-09-13,25,toyota,camry le
32,9499,2015.0,nissan altima,like new,4.0,gas,51848.0,automatic,sedan,grey,NaN,2018-11-12,7,nissan,altima
33,3890,2011.0,subaru outback,excellent,4.0,gas,300000.0,automatic,SUV,white,1.0,2018-12-25,31,subaru,outback
34,9500,2008.0,toyota highlander,good,6.0,gas,149799.0,automatic,SUV,NaN,NaN,2018-06-04,121,toyota,highlander
35,14999,2015.0,dodge charger,good,6.0,gas,63037.0,automatic,sedan,NaN,NaN,2018-05-11,37,dodge,charger
36,10499,2013.0,chrysler 300,good,NaN,gas,88042.0,automatic,sedan,NaN,NaN,2018-05-05,22,chrysler,300
37,7500,2005.0,toyota tacoma,good,NaN,gas,160000.0,automatic,pickup,NaN,NaN,2018-07-22,44,toyota,tacoma
38,7999,2015.0,chrysler 200,good,4.0,gas,NaN,automatic,sedan,NaN,NaN,2019-03-08,29,chrysler,200
39,8000,2009.0,ford f-150,good,8.0,gas,234000.0,automatic,truck,black,1.0,2019-03-31,1,ford,f-150
40,11499,2017.0,chevrolet equinox,like new,4.0,gas,54772.0,automatic,SUV,grey,1.0,2019-01-12,36,chevrolet,equinox
41,11995,2017.0,nissan rogue,like new,4.0,gas,NaN,automatic,SUV,silver,1.0,2018-09-20,21,nissan,rogue
42,34900,2013.0,mercedes-benz benze sprinter 2500,excellent,6.0,diesel,NaN,automatic,van,black,NaN,2019-01-15,16,mercedes-benz,benze sprinter 2500
43,5100,2008.0,honda cr-v,excellent,4.0,gas,188000.0,automatic,SUV,red,1.0,2018-11-18,10,honda,cr-v
44,4500,2004.0,jeep grand cherokee,good,6.0,gas,168821.0,automatic,SUV,NaN,1.0,2019-01-31,60,jeep,grand cherokee
45,2400,2001.0,toyota camry,good,4.0,gas,277564.0,automatic,coupe,yellow,NaN,2018-05-27,51,toyota,camry
46,11200,2015.0,dodge charger,excellent,6.0,gas,90302.0,automatic,sedan,black,1.0,2018-07-19,73,dodge,charger
47,12500,2008.0,toyota 4runner,good,6.0,gas,141098.0,automatic,SUV,grey,NaN,2019-03-10,35,toyota,4runner
48,9500,2014.0,ford focus,excellent,4.0,diesel,46000.0,automatic,sedan,NaN,NaN,2018-10-09,24,ford,focus
49,3200,2006.0,honda civic,excellent,4.0,gas,255390.0,automatic,sedan,blue,NaN,2018-10-18,23,honda,civic
50,6200,2006.0,ford f-150,excellent,6.0,gas,69698.0,automatic,truck,custom,NaN,2018-05-03,50,ford,f-150
51,3800,2012.0,ford focus,good,4.0,gas,130323.0,automatic,sedan,black,NaN,2018-11-29,261,ford,focus
52,3300,2011.0,kia soul,good,4.0,gas,188963.0,manual,SUV,black,NaN,2019-02-16,71,kia,soul
53,10400,2012.0,chevrolet colorado,excellent,5.0,gas,111871.0,automatic,truck,red,1.0,2019-01-30,27,chevrolet,colorado
54,30300,2017.0,ford f-150 supercrew cab xlt,good,6.0,gas,30339.0,automatic,pickup,brown,1.0,2018-07-15,14,ford,f-150 supercrew cab xlt
55,19700,2017.0,chevrolet camaro lt coupe 2d,good,6.0,gas,35807.0,other,coupe,NaN,NaN,2018-05-16,99,chevrolet,camaro lt coupe 2d
56,4200,2006.0,jeep grand cherokee,excellent,6.0,gas,NaN,automatic,SUV,white,1.0,2018-07-01,79,jeep,grand cherokee
57,4877,2012.0,chevrolet cruze,excellent,4.0,gas,163261.0,automatic,sedan,white,NaN,2019-04-18,21,chevrolet,cruze
58,3200,2004.0,bmw x5,excellent,6.0,gas,NaN,automatic,SUV,black,1.0,2019-04-09,10,bmw,x5
59,5200,2006.0,toyota highlander,good,NaN,gas,186000.0,automatic,SUV,green,NaN,2018-12-20,2,toyota,highlander

In [15]:
# EDA: view the unique value and counts in the following columns

display(vehicles_df['make'].value_counts(sort=False))
print()

display(vehicles_df['model_name'].value_counts(sort=False))
print()

make
bmw                267
ford             12672
hyundai           1173
chrysler           838
toyota            5445
honda             3485
kia                585
chevrolet        10611
ram               3316
gmc               2378
jeep              3281
nissan            3208
subaru            1272
dodge             1255
mercedes-benz       41
acura              236
cadillac           322
volkswagen         869
buick              271
Name: count, dtype: int64

model_name
x5              267
f-150          3326
sonata          477
200             243
300             316
               ...
dakota          242
f-350           250
trailblazer     255
econoline       296
murano          235
Name: count, Length: 95, dtype: int64

In [16]:
# FE: Consolidating vehicle type value names in the 'type' column

# Combine 'truck' and 'pickup' value names into 'truck' value name in `type` column
#vehicles_df['type'] = vehicles_df['type'].replace('pickup', 'truck')

display(vehicles_df['type'].value_counts(sort=True))

# Combine 'truck' and 'pickup' value names into 'pickup' value name in `type` column
#vehicles_df['type'] = vehicles_df['type'].replace()

type
SUV            12405
truck          12353
sedan          12154
pickup          6988
coupe           2303
wagon           1541
mini-van        1161
hatchback       1047
van              633
convertible      446
other            256
offroad          214
bus               24
Name: count, dtype: int64

Note-2-Self

export large output greater than 120 onto `.csv` or `.txt` or `.xlsx`

## Remove Missing Value, Null, and NaN (*Not a Number*)

<span style="color: green;"><u>**Steps / Action Taken**</u></span>
- Fill Missing Values
    - `is_4wd` column: replace `NaN` with zero (`0` = not 4wd capable)
    - `paint_color` column: replace `NaN` with `'white'`
- <>

<br>

<span style="color: darkorange;"><u>**Findings / Observations**</u></span>
- <>

<br>

<span style="color: red;"><u>**Note-2-Self**</u></span>
- for now...okay to keep the `date_posted` column as `object` datatype
    - will determine and return if needed to change to `datetime` datatype
- may want to clean the `model_year` column to be 4-digit year (YYYY)
- <>

In [22]:
# MISSING VALUES: replace NaN with zero (0 = not 4wd) in 'is_4wd' column 
vehicles_df['is_4wd'] = vehicles_df['is_4wd'].fillna(0)

In [27]:
# EDA: using `.describe()` on `paint_color` column
vehicles_df['paint_color'].describe()


# MISSING VALUES: replace NaN with zero (0 = not 4wd) in 'is_4wd' column 
vehicles_df['paint_color'] = vehicles_df['paint_color'].fillna('white')

count     42258
unique       12
top       white
freq      10029
Name: paint_color, dtype: object

In [30]:
# EDA: using `.describe()` on `odometer` column
vehicles_df['odometer'].describe()

count     43633.000000
mean     115553.461738
std       65094.611341
min           0.000000
25%       70000.000000
50%      113000.000000
75%      155000.000000
max      990000.000000
Name: odometer, dtype: float64

In [65]:
# TEST CODE:

# view rows pertaining to bmw 
bmw_df = vehicles_df.query("make == 'bmw'")[['model', 'model_year', 'cylinders', 'odometer', 'type']]

# sort dataframe by model year then by model then by cylinder in ascending order
sort_bmw_df = bmw_df.sort_values(by=['model_year', 'model', 'cylinders'], ascending=[True, True, True])

#display(bmw_df.head(60))
display(sort_bmw_df.head(60))

        model  model_year  cylinders  odometer       type
14731  bmw x5      2001.0        6.0  140000.0        SUV
40844  bmw x5      2001.0        6.0  165273.0        SUV
50828  bmw x5      2001.0        6.0  153000.0  hatchback
456    bmw x5      2001.0        8.0  190108.0        SUV
1425   bmw x5      2001.0        8.0  190108.0        SUV
10433  bmw x5      2001.0        8.0  118000.0        SUV
26000  bmw x5      2001.0        8.0  157146.0        SUV
349    bmw x5      2002.0        6.0  153000.0        SUV
14536  bmw x5      2002.0        6.0       NaN        SUV
23532  bmw x5      2002.0        6.0  163000.0        SUV
5723   bmw x5      2002.0        8.0  164000.0        SUV
5220   bmw x5      2003.0        6.0  103000.0        SUV
31210  bmw x5      2003.0        6.0  149000.0        SUV
36521  bmw x5      2003.0        6.0  157000.0        SUV
41193  bmw x5      2003.0        6.0  165300.0        SUV
51474  bmw x5      2003.0        6.0       NaN        SUV
9569   bmw x5      2003.0        8.0  218435.0        SUV
17754  bmw x5      2003.0        8.0  115086.0        SUV
25810  bmw x5      2003.0        8.0  215211.0      wagon
27577  bmw x5      2003.0        8.0  215211.0      wagon
27796  bmw x5      2003.0        8.0  215211.0      wagon
27991  bmw x5      2003.0        8.0  215211.0      wagon
41211  bmw x5      2003.0        8.0  120000.0      sedan
46736  bmw x5      2003.0        8.0  170000.0        SUV
48324  bmw x5      2003.0        8.0  215211.0      wagon
58     bmw x5      2004.0        6.0       NaN        SUV
392    bmw x5      2004.0        6.0       NaN        SUV
2728   bmw x5      2004.0        6.0  110224.0        SUV
3121   bmw x5      2004.0        6.0       NaN        SUV
4058   bmw x5      2004.0        6.0  249000.0        SUV
6168   bmw x5      2004.0        6.0  125000.0        SUV
13361  bmw x5      2004.0        6.0  106000.0        SUV
18304  bmw x5      2004.0        6.0  105000.0        SUV
19058  bmw x5      2004.0        6.0  127148.0        SUV
21233  bmw x5      2004.0        6.0      90.0      sedan
23414  bmw x5      2004.0        6.0       NaN        SUV
25102  bmw x5      2004.0        6.0  182405.0        SUV
25296  bmw x5      2004.0        6.0  154578.0        SUV
36758  bmw x5      2004.0        6.0       NaN        SUV
18292  bmw x5      2004.0        8.0  198000.0        SUV
32971  bmw x5      2004.0        8.0   88671.0        SUV
38536  bmw x5      2004.0        8.0  179000.0        SUV
39159  bmw x5      2004.0        8.0   88671.0        SUV
49391  bmw x5      2004.0        8.0  143399.0        SUV
19725  bmw x5      2004.0        NaN  196093.0        SUV
1012   bmw x5      2005.0        6.0  240000.0        SUV
4603   bmw x5      2005.0        6.0  120000.0        SUV
14277  bmw x5      2005.0        6.0       NaN        SUV
40241  bmw x5      2005.0        6.0  157000.0        SUV
40976  bmw x5      2005.0        6.0  128000.0        SUV
44148  bmw x5      2005.0        6.0  129584.0        SUV
45795  bmw x5      2005.0        6.0  163489.0        SUV
50505  bmw x5      2005.0        6.0  134121.0        SUV
21111  bmw x5      2005.0        8.0  148000.0        SUV
25831  bmw x5      2005.0        8.0       NaN        SUV
955    bmw x5      2006.0        6.0  157124.0        SUV
8165   bmw x5      2006.0        6.0  133113.0        SUV
38300  bmw x5      2006.0        6.0  141959.0        SUV
41254  bmw x5      2006.0        6.0  182000.0        SUV
44739  bmw x5      2006.0        6.0  145699.0        SUV

In [47]:
# TEST CODE:

# view rows with NaN in `cylinders` column
cylinders_df = vehicles_df[vehicles_df['cylinders'].isna()]

# sort rows in ascending order, or descending order (ascending=False), under `cylinders` column
sort_cylinders_df = cylinders_df.sort_values(by='model', ascending=False)


display(cylinders_df.sample(10))
display(sort_cylinders_df.head(10))
display(sort_cylinders_df.tail(10))

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,make,model_name
38980,2895,1996.0,ford mustang,excellent,NaN,gas,183522.0,automatic,coupe,red,0.0,2018-08-15,47,ford,mustang
33452,9988,2002.0,chevrolet silverado 2500hd,good,NaN,diesel,0.0,automatic,truck,white,1.0,2019-01-20,60,chevrolet,silverado 2500hd
46194,7800,2014.0,nissan altima,excellent,NaN,gas,NaN,automatic,sedan,black,0.0,2018-11-24,44,nissan,altima
28026,25200,2015.0,chevrolet silverado 1500 crew,good,NaN,gas,94954.0,automatic,pickup,silver,1.0,2019-03-22,64,chevrolet,silverado 1500 crew
48063,6995,2002.0,jeep wrangler,good,NaN,gas,93738.0,automatic,SUV,silver,1.0,2018-08-11,6,jeep,wrangler
41905,32000,2017.0,ram 2500,good,NaN,diesel,58000.0,automatic,truck,white,1.0,2018-07-22,34,ram,2500
40063,8399,2014.0,nissan altima,new,NaN,gas,78000.0,automatic,sedan,white,0.0,2019-03-11,66,nissan,altima
15530,10999,2016.0,toyota camry,excellent,NaN,gas,97252.0,automatic,sedan,white,0.0,2019-02-17,54,toyota,camry
30730,10995,2013.0,toyota prius,excellent,NaN,hybrid,90000.0,automatic,sedan,white,0.0,2019-04-01,66,toyota,prius
41714,5900,2008.0,chevrolet tahoe,excellent,NaN,gas,200386.0,automatic,SUV,white,0.0,2018-05-28,15,chevrolet,tahoe

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,make,model_name
40036,9100,2013.0,volkswagen passat,excellent,NaN,gas,73000.0,automatic,sedan,white,0.0,2019-04-04,39,volkswagen,passat
16229,12495,2013.0,volkswagen passat,excellent,NaN,diesel,40437.0,automatic,sedan,silver,0.0,2018-08-01,60,volkswagen,passat
27322,6995,2013.0,volkswagen passat,excellent,NaN,gas,103336.0,manual,sedan,black,0.0,2018-08-04,21,volkswagen,passat
48309,7950,2012.0,volkswagen passat,like new,NaN,gas,108000.0,automatic,sedan,black,0.0,2018-10-22,33,volkswagen,passat
40361,6900,2013.0,volkswagen passat,good,NaN,gas,NaN,automatic,sedan,white,0.0,2018-09-26,36,volkswagen,passat
15353,9995,2013.0,volkswagen passat,good,NaN,diesel,69898.0,automatic,sedan,silver,0.0,2018-09-15,20,volkswagen,passat
39426,4777,2000.0,volkswagen passat,excellent,NaN,gas,NaN,manual,sedan,silver,0.0,2018-07-07,1,volkswagen,passat
13103,11495,2015.0,volkswagen passat,excellent,NaN,gas,69000.0,automatic,sedan,grey,0.0,2018-09-08,92,volkswagen,passat
22154,9995,2014.0,volkswagen passat,good,NaN,gas,83000.0,automatic,sedan,white,0.0,2018-07-14,22,volkswagen,passat
22129,12500,2013.0,volkswagen passat,excellent,NaN,diesel,52573.0,automatic,sedan,white,0.0,2019-01-20,14,volkswagen,passat

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,make,model_name
7922,5900,2006.0,acura tl,good,NaN,gas,92659.0,automatic,sedan,white,0.0,2018-10-19,25,acura,tl
4671,8777,2012.0,acura tl,excellent,NaN,gas,162881.0,automatic,sedan,white,1.0,2019-03-15,19,acura,tl
17245,5395,NaN,acura tl,excellent,NaN,gas,133500.0,automatic,sedan,white,0.0,2018-11-18,31,acura,tl
14030,6400,2007.0,acura tl,excellent,NaN,gas,64100.0,automatic,sedan,black,0.0,2019-01-14,44,acura,tl
7422,8795,2008.0,acura tl,excellent,NaN,gas,100496.0,automatic,sedan,white,0.0,2018-11-17,31,acura,tl
20444,2000,2012.0,acura tl,excellent,NaN,gas,100000.0,automatic,sedan,black,1.0,2018-09-19,4,acura,tl
37968,3995,2005.0,acura tl,good,NaN,gas,184937.0,automatic,sedan,grey,0.0,2019-03-29,51,acura,tl
5804,7695,2008.0,acura tl,like new,NaN,gas,140010.0,automatic,sedan,white,0.0,2018-12-03,22,acura,tl
5394,4990,2006.0,acura tl,like new,NaN,gas,NaN,automatic,sedan,silver,0.0,2018-07-27,80,acura,tl
20517,5490,2008.0,acura tl,good,NaN,gas,165738.0,automatic,other,blue,0.0,2018-11-24,12,acura,tl

In [41]:
# SANITY CHECK:
display(vehicles_df.isna().sum())
print()

vehicles_df.info()

price              0
model_year      3619
model              0
condition          0
cylinders       5260
fuel               0
odometer        7892
transmission       0
type               0
paint_color        0
is_4wd             0
date_posted        0
days_listed        0
make               0
model_name         0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   51525 non-null  object
 10  is_4wd        51525 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
 13  make          51525 non-null  object
 14  model_name    51525 non-null  object
dtypes: float64(4), int64(2), object(9)
memory usage: 5.9+ MB

In [17]:
# pull all rows containing the specific 'model_year' column

#specific_model = 

#filtered_models = vehicles_df.loc[vehicles_df['model']]

In [18]:
# Reference Code - double check the `model` column


# SANTIY CHECK: Spot Check for specific user ID's total monthly call counts = total 2018 call count


# Replace with the user_id you want to filter
#specific_user_id = 1498  

# pull all rows containing the specific user ID
#filtered_df_call_counts = df_user_monthly_call_count.loc[df_user_monthly_call_count['user_id'] == specific_user_id]

# sums the sepcific user ID's monthly call counts
#user_total_call_count = filtered_df_call_counts['total_calls'].sum()

# notice this equals the User ID's total call counts in 2018
#print(f"User ID: {specific_user_id} total call count in 2018 is {user_total_call_count}.")


# Display the filtered dataframe
#display(filtered_df_call_counts)

In [19]:
# CLEANING DATA - remove NaN values in `model_year` column

In [20]:
# Feature Engineering - parse manufacturer and model name in 'model' column
# code to reference to parse manufacturer and model
# use later.  Need to clean.
# remove null / Nan / missing values


#vehicles_df[['make', 'model']] = vehicles_df['model'].str.split(' ', n=1, expand=True)