# Initialization

In [1]:
# Load libraries
import pandas as pd
import numpy as np
import plotly.express as px
from IPython.display import display

## Load Data

In [2]:
# load *.csv file into dataframes
try:
    vehicles_df = pd.read_csv('vehicles_us.csv')
except:
    vehicles_df = pd.read_csv('https://practicum-content.s3.us-west-1.amazonaws.com/datasets/vehicles_us.csv')

# EDA - Exploratory Data Analysis

<span style="color: blue;"><u>**OBJECTIVE**</u></span>
1. Review uploaded `vehicles_us.csv` file
2. Check for missing values, `Nulls`, `NaN` (*Not a Number*)

<br>

<span style="color: darkorange;"><u>**Findings / Observations**</u></span>
- 51525 row with 13 columns
- missing values, `Nulls`, & `NaNs` found in the following (5) attributes:
    1. `model_year` (3619)
    2. `cylinders` (5260)
    3. `odometer` (7892)
    4. `paint_color` (9267)
    5. `is_4wd` (25953)
- `is_4wd` column is boolean logic (1 = Y vs. 0 = N)
    - `NaN` found and may need to determine if these will be zero (0 = No)
- found several ford model names that can be consolidated
    - `ford f150` (counts=530) with `ford f-150` (counts=2796) 
    - `ford f250` (counts=339) with `ford f-250` (counts=422)
    - `ford f-250 sd` (counts=426) with `ford f-250 super duty` (counts=241)
    - `ford f250 super duty` (counts=370) with `ford f-250 super duty` (counts=241)
    - `ford f-350 sd` (counts=295) with `ford f350 super duty` (counts=246)
    - keep `f-###` model name format 
- <>

<br>

<span style="color: red;"><u>**Note-2-Self**</u></span>
- will need to parse out the manufacturer and vehicle model from `model` column
    - *see code shared by Jester* 
- `date_posted` and `model_year` column as `object` datatype
    - convert to `datetime` datatype
- `model_year` column as `float` datatype
    - convert to `datetime` datatype for ease of data visualization
- may want to clean the `model_year` column to be 4-digit year (YYYY)
- <>

In [3]:
# EDA: preview data
display(vehicles_df.sample(60))
#display(vehicles_df.head(60))
#display(vehicles_df.tail(60))

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
16563,13990,2018.0,hyundai elantra,excellent,4.0,gas,NaN,automatic,sedan,red,NaN,2018-06-24,26
1003,2500,1987.0,ford f-150,good,6.0,gas,146000.0,manual,pickup,red,NaN,2018-11-17,39
46726,800,2003.0,ford f-150,fair,6.0,gas,340000.0,automatic,truck,red,NaN,2019-02-17,28
8627,9995,2012.0,ford focus,good,10.0,gas,107722.0,other,sedan,grey,NaN,2018-09-05,9
15571,11900,2009.0,cadillac escalade,excellent,8.0,gas,72500.0,automatic,pickup,NaN,1.0,2019-04-07,15
14142,21800,2016.0,jeep grand cherokee,excellent,6.0,gas,79439.0,automatic,SUV,grey,1.0,2019-02-08,8
7348,17400,2012.0,chevrolet camaro lt coupe 2d,good,6.0,gas,58707.0,automatic,coupe,black,NaN,2018-11-28,52
33209,13905,2007.0,chevrolet silverado 1500,good,8.0,gas,NaN,automatic,truck,white,NaN,2018-05-29,53
35793,33790,2018.0,toyota tacoma,like new,6.0,gas,16899.0,automatic,pickup,white,1.0,2018-07-21,14
25530,2800,2003.0,nissan maxima,good,6.0,gas,186000.0,automatic,other,white,NaN,2019-01-03,4
46052,10900,1986.0,chevrolet corvette,excellent,8.0,gas,74.0,automatic,other,silver,NaN,2018-09-15,42
22044,4950,2013.0,ford focus se,good,4.0,gas,115618.0,automatic,sedan,blue,NaN,2018-06-28,151
43078,38810,2018.0,jeep wrangler,like new,6.0,gas,19700.0,automatic,SUV,NaN,1.0,2018-05-21,28
8072,2500,2006.0,honda accord,good,4.0,gas,185482.0,automatic,sedan,silver,NaN,2018-05-05,16
10872,5300,2015.0,nissan versa,like new,4.0,gas,108000.0,automatic,sedan,NaN,NaN,2019-01-31,65
8514,5500,1995.0,ford f250,good,8.0,diesel,163475.0,automatic,pickup,green,1.0,2018-06-18,25
47320,6950,2008.0,jeep grand cherokee laredo,like new,6.0,gas,147916.0,automatic,SUV,silver,1.0,2018-12-21,24
19780,19200,2014.0,chevrolet silverado 1500,good,8.0,gas,157000.0,automatic,truck,custom,1.0,2018-06-02,47
16019,11988,2015.0,dodge charger,good,6.0,gas,NaN,automatic,sedan,silver,1.0,2018-06-23,18
33133,8497,2016.0,hyundai elantra,good,NaN,gas,62518.0,automatic,sedan,grey,NaN,2018-12-06,46
17057,11800,2017.0,chevrolet cruze,excellent,4.0,gas,NaN,automatic,coupe,white,NaN,2018-10-06,34
26214,23900,2015.0,jeep wrangler unlimited,excellent,6.0,gas,NaN,automatic,SUV,NaN,1.0,2018-05-24,28
36899,14588,2013.0,ford explorer,good,6.0,gas,153445.0,automatic,SUV,white,1.0,2019-03-03,42
34403,8500,2011.0,nissan altima,like new,4.0,gas,78000.0,automatic,sedan,red,NaN,2019-03-11,10
4331,8500,2005.0,chevrolet tahoe,good,8.0,gas,58880.0,automatic,SUV,white,1.0,2018-05-23,49
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
40224,4000,2007.0,chevrolet silverado 1500,good,6.0,gas,207000.0,automatic,truck,grey,NaN,2018-08-31,9
21892,19995,2016.0,chevrolet colorado,good,6.0,gas,NaN,automatic,truck,white,1.0,2018-05-23,43
6326,23900,2018.0,nissan frontier crew cab sv,good,6.0,gas,15673.0,other,pickup,white,1.0,2018-09-02,29
38541,19700,2018.0,nissan frontier crew cab sv,good,6.0,gas,32502.0,other,pickup,NaN,NaN,2018-11-07,49
25682,6950,2008.0,ford expedition,good,8.0,gas,177000.0,automatic,SUV,blue,1.0,2018-07-13,1
14611,12950,2013.0,chevrolet silverado 2500hd,good,8.0,gas,171545.0,automatic,truck,red,NaN,2018-07-16,44
50405,3450,NaN,subaru outback,good,4.0,gas,246000.0,manual,wagon,green,1.0,2018-11-17,5
29523,7950,2014.0,chevrolet cruze,excellent,4.0,gas,89680.0,automatic,sedan,NaN,NaN,2019-03-22,79
42674,6995,2010.0,toyota camry,excellent,4.0,gas,105000.0,automatic,sedan,grey,NaN,2019-02-02,64
38479,2900,2008.0,honda civic,good,4.0,gas,170000.0,manual,coupe,blue,NaN,2018-08-28,70
5581,4795,2009.0,nissan murano,good,6.0,gas,NaN,automatic,wagon,NaN,1.0,2019-01-16,33
16678,6500,2009.0,gmc acadia,excellent,6.0,gas,NaN,automatic,SUV,white,1.0,2018-09-10,28
40196,9000,2011.0,chevrolet silverado,good,6.0,gas,NaN,automatic,pickup,blue,NaN,2018-08-05,13
4878,18995,2011.0,ram 1500,excellent,8.0,gas,116900.0,automatic,pickup,blue,1.0,2019-03-09,62
5735,7500,2015.0,hyundai elantra,excellent,4.0,gas,813542.0,other,coupe,brown,NaN,2018-11-21,5
35438,6500,1989.0,jeep wrangler,good,NaN,gas,184000.0,manual,offroad,white,1.0,2018-09-09,47
11224,16995,2018.0,dodge grand caravan,excellent,6.0,gas,45677.0,automatic,van,NaN,NaN,2018-12-20,9
37534,2250,2001.0,ram 1500,salvage,8.0,gas,190000.0,manual,pickup,black,1.0,2018-09-08,18
42786,12000,2014.0,chrysler town & country,good,6.0,gas,NaN,automatic,mini-van,blue,NaN,2019-04-17,28
13228,3800,2008.0,toyota prius,excellent,4.0,hybrid,222000.0,automatic,hatchback,grey,NaN,2018-10-18,1
40181,3800,2005.0,honda civic,good,4.0,gas,152231.0,automatic,sedan,silver,NaN,2018-10-20,75
36065,6500,2006.0,ford f-150,good,8.0,gas,87696.0,manual,pickup,white,NaN,2019-02-02,26
14416,4000,2007.0,honda accord,good,6.0,gas,136000.0,manual,sedan,blue,NaN,2018-10-13,27
1629,28671,2018.0,ram 1500,like new,6.0,gas,14500.0,automatic,truck,grey,NaN,2018-05-19,8
40377,12995,2013.0,nissan rogue,excellent,4.0,gas,NaN,automatic,wagon,black,1.0,2018-08-13,103
13792,14799,1998.0,ram 2500,excellent,8.0,diesel,250000.0,manual,pickup,white,1.0,2019-04-09,92
27892,7450,2011.0,honda accord,excellent,4.0,gas,118000.0,automatic,sedan,white,NaN,2018-10-21,26
25653,5900,1999.0,jeep cherokee,excellent,6.0,gas,88121.0,automatic,SUV,NaN,NaN,2018-09-07,27
5658,4800,2010.0,ford focus,excellent,4.0,gas,57457.0,automatic,sedan,white,NaN,2019-03-17,22
37004,8995,2011.0,honda pilot,excellent,6.0,gas,NaN,automatic,SUV,NaN,1.0,2018-08-23,33
11579,15900,NaN,jeep grand cherokee,like new,6.0,gas,96000.0,automatic,SUV,NaN,1.0,2018-05-27,12
3824,5500,1998.0,ford f-150,good,8.0,gas,137272.0,automatic,truck,red,1.0,2019-03-17,31
21669,24980,2015.0,jeep wrangler unlimited,excellent,6.0,gas,47000.0,automatic,SUV,red,1.0,2018-08-05,127
10914,3900,2009.0,toyota camry le,good,4.0,gas,107775.0,automatic,sedan,white,NaN,2018-10-13,20

In [4]:
# EDA: check for nulls/NaN/missing values

# view & identify dataframe attributes with null/missing values
vehicles_df.info()
print('\n\n')

# counts of missing values, nulls, NaNs
print('Missing Value / Null / NaN Counts')
display(vehicles_df.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB



Missing Value / Null / NaN Counts

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

#### Note-2-Self
groupby
model_year       3619
model               0
condition           0
cylinders

read up on groupby transform lambda method reference stack

In [5]:
# EDA: view the unique value and counts in the following columns

display(vehicles_df['model_year'].value_counts(sort=True))
print()

display(vehicles_df['model'].value_counts(sort=True))
print()

display(vehicles_df['condition'].value_counts(sort=True))
print()

display(vehicles_df['cylinders'].value_counts(sort=True))
print()

display(vehicles_df['fuel'].value_counts(sort=True))
print()

display(vehicles_df['transmission'].value_counts(sort=False))
print()

display(vehicles_df['type'].value_counts(sort=True))
print()

display(vehicles_df['paint_color'].value_counts())
print()

display(vehicles_df['is_4wd'].value_counts(sort=True))
print()

model_year
2013.0    3549
2012.0    3468
2014.0    3448
2011.0    3375
2015.0    3323
          ...
1948.0       1
1961.0       1
1936.0       1
1949.0       1
1929.0       1
Name: count, Length: 68, dtype: int64

model
ford f-150                           2796
chevrolet silverado 1500             2171
ram 1500                             1750
chevrolet silverado                  1271
jeep wrangler                        1119
                                     ...
ford f-250 super duty                 241
acura tl                              236
kia sorento                           236
nissan murano                         235
mercedes-benz benze sprinter 2500      41
Name: count, Length: 100, dtype: int64

condition
excellent    24773
good         20145
like new      4742
fair          1607
new            143
salvage        115
Name: count, dtype: int64

cylinders
8.0     15844
6.0     15700
4.0     13864
10.0      549
5.0       272
3.0        34
12.0        2
Name: count, dtype: int64

fuel
gas         47288
diesel       3714
hybrid        409
other         108
electric        6
Name: count, dtype: int64

transmission
automatic    46902
manual        2829
other         1794
Name: count, dtype: int64

type
SUV            12405
truck          12353
sedan          12154
pickup          6988
coupe           2303
wagon           1541
mini-van        1161
hatchback       1047
van              633
convertible      446
other            256
offroad          214
bus               24
Name: count, dtype: int64

paint_color
white     10029
black      7692
silver     6244
grey       5037
blue       4475
red        4421
green      1396
brown      1223
custom     1153
yellow      255
orange      231
purple      102
Name: count, dtype: int64

is_4wd
1.0    25572
Name: count, dtype: int64

In [6]:
# EDA: view the unique value and counts in the 'type' column
# Note: will use `.isin()` method to filter 'type' with NaN for 
    # no_4wd_nan = [sedan, coupe, wagon, mini-van, hatchback, van, convertible, other, bus] 
    # yes_4wd_nan = [SUV, truck, pickup, offroad]

display(vehicles_df['type'].value_counts(sort=True))

type
SUV            12405
truck          12353
sedan          12154
pickup          6988
coupe           2303
wagon           1541
mini-van        1161
hatchback       1047
van              633
convertible      446
other            256
offroad          214
bus               24
Name: count, dtype: int64

### <span style="color: gold;">EDA: Missing Values (*Null / Nan*)</span>

<span style="color: blue;"><u>**OBJECTIVE**</u></span>
- deep dive review of all columns with missing values
- determine how to either replace or fill in the missing values

<br>

<span style="color: red;"><u>**Note-2-Self**</u></span>
- Read/Review the use  `fillna()`  `mode` parameter for fill-in `'model_year'`
- `'odometer'` - take average to fill-in NaN

In [7]:
# EDA: displays rows with missing values

display(vehicles_df[vehicles_df.isna().any(axis=1)].head(60))

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28
6,12990,2015.0,toyota camry,excellent,4.0,gas,79212.0,automatic,sedan,white,NaN,2018-12-27,73
8,11500,2012.0,kia sorento,excellent,4.0,gas,104174.0,automatic,SUV,NaN,1.0,2018-07-16,19
9,9200,2008.0,honda pilot,excellent,NaN,gas,147191.0,automatic,SUV,blue,1.0,2019-02-15,17
11,8990,2012.0,honda accord,excellent,4.0,gas,111142.0,automatic,sedan,grey,NaN,2019-03-28,29
12,18990,2012.0,ram 1500,excellent,8.0,gas,140742.0,automatic,pickup,NaN,1.0,2019-04-02,37
13,16500,2018.0,hyundai sonata,excellent,4.0,gas,22104.0,automatic,sedan,silver,NaN,2019-01-14,29
15,17990,2013.0,ram 1500,excellent,8.0,gas,NaN,automatic,pickup,red,1.0,2018-05-15,111
19,13990,2018.0,hyundai elantra,excellent,4.0,gas,31932.0,automatic,sedan,red,NaN,2018-08-25,27
20,6990,NaN,chevrolet tahoe,excellent,8.0,gas,147485.0,automatic,SUV,silver,1.0,2018-08-05,28
21,5250,2007.0,toyota rav4,good,6.0,gas,154000.0,automatic,SUV,NaN,NaN,2018-08-22,8
23,7500,2004.0,jeep wrangler,good,6.0,gas,NaN,automatic,SUV,red,1.0,2018-05-17,39
24,3950,2009.0,chrysler 200,excellent,4.0,gas,NaN,automatic,sedan,red,NaN,2018-06-11,40
25,11499,2017.0,chevrolet malibu,like new,4.0,gas,NaN,automatic,sedan,NaN,NaN,2018-07-26,43
26,8499,2014.0,ford fusion se,like new,4.0,gas,79523.0,automatic,sedan,red,NaN,2018-10-25,23
27,12999,2015.0,chevrolet impala,like new,6.0,gas,39368.0,automatic,sedan,custom,NaN,2018-05-19,42
28,29800,2012.0,chevrolet corvette,excellent,8.0,gas,57413.0,automatic,coupe,orange,NaN,2018-10-22,101
29,5495,2010.0,chevrolet impala,excellent,6.0,gas,NaN,automatic,sedan,white,NaN,2019-02-18,20
31,11999,2017.0,toyota camry le,excellent,4.0,gas,35721.0,automatic,sedan,NaN,NaN,2018-09-13,25
32,9499,2015.0,nissan altima,like new,4.0,gas,51848.0,automatic,sedan,grey,NaN,2018-11-12,7
34,9500,2008.0,toyota highlander,good,6.0,gas,149799.0,automatic,SUV,NaN,NaN,2018-06-04,121
35,14999,2015.0,dodge charger,good,6.0,gas,63037.0,automatic,sedan,NaN,NaN,2018-05-11,37
36,10499,2013.0,chrysler 300,good,NaN,gas,88042.0,automatic,sedan,NaN,NaN,2018-05-05,22
37,7500,2005.0,toyota tacoma,good,NaN,gas,160000.0,automatic,pickup,NaN,NaN,2018-07-22,44
38,7999,2015.0,chrysler 200,good,4.0,gas,NaN,automatic,sedan,NaN,NaN,2019-03-08,29
41,11995,2017.0,nissan rogue,like new,4.0,gas,NaN,automatic,SUV,silver,1.0,2018-09-20,21
42,34900,2013.0,mercedes-benz benze sprinter 2500,excellent,6.0,diesel,NaN,automatic,van,black,NaN,2019-01-15,16
44,4500,2004.0,jeep grand cherokee,good,6.0,gas,168821.0,automatic,SUV,NaN,1.0,2019-01-31,60
45,2400,2001.0,toyota camry,good,4.0,gas,277564.0,automatic,coupe,yellow,NaN,2018-05-27,51
47,12500,2008.0,toyota 4runner,good,6.0,gas,141098.0,automatic,SUV,grey,NaN,2019-03-10,35
48,9500,2014.0,ford focus,excellent,4.0,diesel,46000.0,automatic,sedan,NaN,NaN,2018-10-09,24
49,3200,2006.0,honda civic,excellent,4.0,gas,255390.0,automatic,sedan,blue,NaN,2018-10-18,23
50,6200,2006.0,ford f-150,excellent,6.0,gas,69698.0,automatic,truck,custom,NaN,2018-05-03,50
51,3800,2012.0,ford focus,good,4.0,gas,130323.0,automatic,sedan,black,NaN,2018-11-29,261
52,3300,2011.0,kia soul,good,4.0,gas,188963.0,manual,SUV,black,NaN,2019-02-16,71
55,19700,2017.0,chevrolet camaro lt coupe 2d,good,6.0,gas,35807.0,other,coupe,NaN,NaN,2018-05-16,99
56,4200,2006.0,jeep grand cherokee,excellent,6.0,gas,NaN,automatic,SUV,white,1.0,2018-07-01,79
57,4877,2012.0,chevrolet cruze,excellent,4.0,gas,163261.0,automatic,sedan,white,NaN,2019-04-18,21
58,3200,2004.0,bmw x5,excellent,6.0,gas,NaN,automatic,SUV,black,1.0,2019-04-09,10
59,5200,2006.0,toyota highlander,good,NaN,gas,186000.0,automatic,SUV,green,NaN,2018-12-20,2
62,10499,2017.0,chevrolet cruze,good,4.0,gas,53601.0,automatic,sedan,black,NaN,2019-01-13,48
63,30000,1966.0,ford mustang,excellent,NaN,gas,51000.0,manual,convertible,red,NaN,2019-01-23,17
64,15999,2017.0,chevrolet cruze,good,4.0,gas,17498.0,automatic,sedan,black,NaN,2018-11-07,54
65,12800,NaN,ford f-150,excellent,6.0,gas,108500.0,automatic,pickup,white,NaN,2018-09-23,15
66,14999,2013.0,chevrolet silverado 3500hd,good,8.0,gas,NaN,automatic,truck,white,1.0,2018-05-09,22
68,6950,2013.0,nissan altima,excellent,4.0,gas,158786.0,automatic,sedan,NaN,NaN,2018-12-24,41
69,7800,NaN,ford f-150,like new,8.0,gas,97510.0,automatic,truck,white,1.0,2019-02-20,39
70,5500,2006.0,honda accord,good,4.0,gas,NaN,automatic,sedan,silver,NaN,2018-11-27,15
71,23300,2018.0,nissan frontier crew cab sv,good,6.0,gas,27493.0,other,pickup,NaN,1.0,2018-10-13,36
72,3650,NaN,subaru impreza,excellent,NaN,gas,74000.0,automatic,sedan,blue,1.0,2018-08-07,60
74,9950,2008.0,toyota 4runner,excellent,6.0,gas,NaN,automatic,SUV,silver,1.0,2018-06-08,53
75,6950,2005.0,chevrolet tahoe,excellent,NaN,gas,186021.0,automatic,SUV,NaN,1.0,2018-10-30,3
76,3000,2010.0,nissan versa,like new,4.0,gas,200412.0,automatic,hatchback,silver,NaN,2018-09-23,33
77,4200,2012.0,ford focus,like new,4.0,gas,144273.0,automatic,sedan,silver,NaN,2018-06-11,19
80,26900,2014.0,chevrolet silverado 1500 crew,good,8.0,gas,68607.0,automatic,pickup,NaN,1.0,2018-09-08,10
81,5900,2000.0,ford f250 super duty,good,8.0,diesel,202752.0,automatic,pickup,red,NaN,2018-07-08,32

#### <span style="color: gold;">`is_4wd` column</span>

<span style="color: blue;"><u>**OBJECTIVE**</u></span>
- review & determine if the `NaN` in `is_4wd` column should be zero (`0` = not 4wd vehicle)

In [8]:
# `is_4wd`: see rows with NaN
rows_with_nan = vehicles_df[vehicles_df['is_4wd'].isna()]

display(rows_with_nan.sample(60))

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
43772,7500,1977.0,chevrolet impala,excellent,8.0,gas,47000.0,automatic,coupe,orange,NaN,2018-08-24,77
25226,4995,2010.0,dodge charger,good,6.0,gas,NaN,automatic,sedan,black,NaN,2019-04-18,150
19180,2600,2007.0,subaru outback,excellent,4.0,gas,201443.0,manual,wagon,blue,NaN,2019-04-19,4
9047,8900,2014.0,dodge charger,excellent,8.0,gas,112000.0,automatic,sedan,white,NaN,2018-07-09,28
152,25600,2017.0,ford mustang gt coupe 2d,good,8.0,gas,42957.0,other,coupe,NaN,NaN,2019-01-24,83
38068,13995,2018.0,jeep cherokee,good,4.0,gas,8064.0,automatic,wagon,grey,NaN,2018-12-22,9
33372,8950,2015.0,ford fusion,good,4.0,gas,90770.0,automatic,sedan,black,NaN,2018-12-18,28
32844,2990,2008.0,ford focus,like new,4.0,gas,143325.0,automatic,sedan,grey,NaN,2018-12-08,50
15466,15995,2016.0,chevrolet camaro,excellent,4.0,gas,55449.0,manual,coupe,black,NaN,2019-01-28,32
17534,7499,NaN,volkswagen passat,like new,NaN,gas,63093.0,automatic,sedan,NaN,NaN,2019-03-13,21
29465,5500,NaN,toyota prius,excellent,4.0,hybrid,113000.0,automatic,hatchback,red,NaN,2018-08-20,14
28218,8999,2011.0,toyota camry,excellent,4.0,gas,102000.0,automatic,sedan,silver,NaN,2018-09-20,49
6045,6995,2014.0,ford focus,good,4.0,gas,127700.0,manual,hatchback,black,NaN,2018-06-19,31
28051,3100,2007.0,ford taurus,excellent,6.0,gas,131000.0,automatic,sedan,green,NaN,2018-10-24,96
48438,23995,2013.0,ford f350,excellent,8.0,gas,96711.0,automatic,truck,white,NaN,2018-06-23,28
12680,17000,NaN,toyota camry,excellent,4.0,gas,27000.0,automatic,sedan,NaN,NaN,2018-10-20,15
46744,4995,2007.0,ford focus,good,4.0,gas,67487.0,automatic,sedan,silver,NaN,2019-04-07,28
14495,4650,2001.0,honda accord,like new,6.0,gas,NaN,automatic,coupe,custom,NaN,2018-09-30,28
12653,8500,2017.0,nissan altima,excellent,4.0,gas,48000.0,automatic,sedan,NaN,NaN,2018-05-08,86
45870,16999,2003.0,chevrolet corvette,excellent,8.0,gas,64445.0,automatic,convertible,red,NaN,2019-02-23,19
13164,25600,2017.0,ford mustang gt coupe 2d,good,NaN,gas,42957.0,other,coupe,black,NaN,2018-12-06,138
6867,18400,2013.0,toyota tundra,good,8.0,gas,75300.0,automatic,pickup,black,NaN,2018-12-26,83
27450,4999,2008.0,ford escape,good,6.0,gas,99000.0,automatic,SUV,white,NaN,2019-04-02,30
30582,9995,2014.0,toyota camry,excellent,4.0,gas,97649.0,automatic,sedan,red,NaN,2019-01-10,17
49640,10995,2008.0,acura tl,good,6.0,gas,95150.0,automatic,sedan,silver,NaN,2019-04-06,58
19690,6999,2008.0,gmc acadia,good,6.0,gas,107047.0,automatic,SUV,custom,NaN,2019-02-04,13
3421,20800,2017.0,chevrolet camaro lt coupe 2d,good,6.0,gas,9816.0,other,coupe,red,NaN,2018-11-22,44
9410,2750,2001.0,nissan frontier,good,NaN,gas,NaN,manual,pickup,grey,NaN,2018-07-06,34
8177,11975,2015.0,nissan altima,good,4.0,gas,69424.0,automatic,sedan,NaN,NaN,2018-12-24,55
48201,8995,NaN,ford f-150,excellent,8.0,gas,165569.0,automatic,truck,white,NaN,2018-10-13,61
15587,20500,2018.0,ford f-150,excellent,8.0,gas,NaN,automatic,pickup,white,NaN,2019-03-10,10
19682,12900,2017.0,nissan altima,good,4.0,gas,44588.0,automatic,sedan,grey,NaN,2019-04-01,13
23862,9999,2009.0,ram 1500,good,8.0,gas,174905.0,automatic,truck,NaN,NaN,2018-06-10,23
12721,10990,2016.0,nissan rogue,excellent,4.0,gas,122846.0,automatic,SUV,NaN,NaN,2018-11-30,9
22736,13950,2015.0,chevrolet silverado 1500,excellent,6.0,gas,104421.0,automatic,truck,white,NaN,2019-01-28,29
44300,8350,2013.0,chrysler town & country,excellent,6.0,gas,NaN,automatic,mini-van,NaN,NaN,2018-10-19,19
280,4900,2007.0,toyota rav4,like new,6.0,gas,NaN,automatic,SUV,blue,NaN,2019-03-17,13
17089,3990,2006.0,ford taurus,like new,6.0,gas,111066.0,automatic,sedan,NaN,NaN,2018-12-15,11
16156,35,2006.0,nissan sentra,excellent,NaN,gas,88.0,automatic,sedan,red,NaN,2019-02-04,20
36720,15995,2016.0,toyota camry,excellent,4.0,gas,68625.0,automatic,sedan,silver,NaN,2019-04-19,20
4577,11120,NaN,ford mustang,excellent,6.0,gas,103781.0,automatic,coupe,black,NaN,2019-01-12,23
43120,7500,2003.0,ram 2500,excellent,8.0,gas,161988.0,automatic,pickup,white,NaN,2018-05-04,12
15956,21500,2018.0,nissan frontier crew cab sv,good,6.0,gas,NaN,other,pickup,white,NaN,2018-10-13,34
47863,3995,2006.0,ford fusion,good,4.0,gas,107990.0,automatic,sedan,NaN,NaN,2018-08-21,26
22052,9000,2017.0,nissan sentra,excellent,NaN,gas,99134.0,automatic,sedan,white,NaN,2018-09-22,24
21684,25900,NaN,ford mustang gt coupe 2d,good,8.0,gas,15853.0,automatic,coupe,silver,NaN,2018-12-30,67
19420,6495,2008.0,toyota camry le,excellent,4.0,gas,NaN,automatic,sedan,brown,NaN,2018-10-26,57
9379,4000,2011.0,chevrolet cruze,like new,NaN,gas,147000.0,manual,sedan,blue,NaN,2018-07-27,162
19083,15998,NaN,chevrolet malibu,excellent,4.0,gas,NaN,automatic,sedan,custom,NaN,2018-11-21,35
44863,6500,2011.0,chevrolet equinox,excellent,4.0,gas,142380.0,automatic,SUV,black,NaN,2018-08-01,39
41167,10500,1994.0,chevrolet camaro,like new,8.0,gas,133210.0,automatic,convertible,NaN,NaN,2018-11-14,25
51417,7495,2011.0,ford edge,good,6.0,gas,100181.0,automatic,wagon,NaN,NaN,2019-03-04,77
13946,14495,2017.0,honda civic,excellent,4.0,gas,29220.0,automatic,sedan,white,NaN,2018-10-18,20
7574,4995,2009.0,toyota corolla,excellent,4.0,gas,176806.0,manual,sedan,white,NaN,2019-01-05,61
7572,3495,2008.0,chevrolet malibu,good,4.0,gas,128000.0,automatic,sedan,silver,NaN,2019-03-19,25
27575,7995,2012.0,gmc acadia,good,6.0,gas,179737.0,automatic,SUV,white,NaN,2018-10-26,75
37613,2997,2004.0,honda civic,good,NaN,gas,212320.0,automatic,coupe,NaN,NaN,2018-12-05,12
32213,5000,2007.0,toyota camry,like new,4.0,gas,90000.0,automatic,sedan,brown,NaN,2019-01-31,52
7348,17400,2012.0,chevrolet camaro lt coupe 2d,good,6.0,gas,58707.0,automatic,coupe,black,NaN,2018-11-28,52
8092,2900,2008.0,hyundai sonata,good,4.0,gas,118122.0,automatic,sedan,black,NaN,2019-02-07,19

In [9]:
# EDA: filter & view NaN in the 'type' column for specifically for the following vehicle types
# OBJECTIVE: replace NaN with zero (0 = Non-4wd vehicle)

# list of vehicle types that will not have 4wd capability and use with `.isin()` to view then later with either `.fillna()` or `.replace()`
no_4wd_nan = ['sedan', 'coupe', 'mini-van', 'hatchback', 'van', 'convertible', 'other', 'bus']

# new dataframe to review rows
sorted_non_4wd_df = vehicles_df[vehicles_df['type'].isin(no_4wd_nan)][['model_year', 'model', 'type', 'is_4wd']].sort_values(by='model')

# review top, bottom, and random selected (60) rows to have confidence to replace NaN with zero (0 = not 4wd capable) in 'type' column
display(sorted_non_4wd_df.head(60))
display(sorted_non_4wd_df.tail(60))
display(sorted_non_4wd_df.sample(60))

       model_year     model   type  is_4wd
33040      2003.0  acura tl  sedan     NaN
38743      2013.0  acura tl  sedan     NaN
41145      2013.0  acura tl  sedan     NaN
38760      2008.0  acura tl  sedan     NaN
23124      2003.0  acura tl  sedan     NaN
11355      2007.0  acura tl  sedan     NaN
23110      2005.0  acura tl  sedan     NaN
32707      2012.0  acura tl  sedan     NaN
23106      2007.0  acura tl  sedan     NaN
11413      2011.0  acura tl  sedan     1.0
38843      2006.0  acura tl  sedan     NaN
50532      2012.0  acura tl  sedan     NaN
38891      2009.0  acura tl  sedan     NaN
50543      2005.0  acura tl  sedan     NaN
38951      2008.0  acura tl  sedan     NaN
38988      2006.0  acura tl  sedan     NaN
44882      2007.0  acura tl  sedan     NaN
31609      2008.0  acura tl  sedan     NaN
44819      2010.0  acura tl  sedan     NaN
22269      2013.0  acura tl  sedan     NaN
12444      2013.0  acura tl  sedan     NaN
21953      2008.0  acura tl  sedan     NaN
21912      2007.0  acura tl  sedan     NaN
39563      2013.0  acura tl  sedan     1.0
33750         NaN  acura tl  sedan     NaN
33749      2011.0  acura tl  sedan     NaN
11267      2011.0  acura tl  sedan     1.0
19032      2006.0  acura tl  sedan     NaN
42617      2001.0  acura tl  sedan     NaN
42582      2005.0  acura tl  sedan     NaN
46065      2004.0  acura tl  sedan     NaN
50253         NaN  acura tl  sedan     NaN
34133      2007.0  acura tl  sedan     NaN
37968      2005.0  acura tl  sedan     NaN
2192       2009.0  acura tl  sedan     NaN
24175      2007.0  acura tl  sedan     NaN
16176         NaN  acura tl  sedan     NaN
24111      2012.0  acura tl  sedan     NaN
10583      2005.0  acura tl  sedan     NaN
16144      2004.0  acura tl  sedan     NaN
10662      2010.0  acura tl  sedan     NaN
38400      2012.0  acura tl  sedan     NaN
23789      2008.0  acura tl  sedan     NaN
10903      2007.0  acura tl  sedan     NaN
350        2006.0  acura tl  sedan     NaN
38628      2012.0  acura tl  sedan     NaN
23529      2005.0  acura tl  sedan     NaN
11039         NaN  acura tl  sedan     NaN
11095      2011.0  acura tl  sedan     1.0
16061      2012.0  acura tl  sedan     NaN
11145      2011.0  acura tl  sedan     1.0
11190      2012.0  acura tl  sedan     NaN
45277      2004.0  acura tl  sedan     NaN
1862       2005.0  acura tl  sedan     NaN
11246      2005.0  acura tl  sedan     NaN
11250      2011.0  acura tl  sedan     1.0
33744      2014.0  acura tl  sedan     NaN
39679      2012.0  acura tl  sedan     NaN
39684      2007.0  acura tl  sedan     NaN
14030      2007.0  acura tl  sedan     NaN

       model_year              model       type  is_4wd
46569      2013.0  volkswagen passat      sedan     NaN
42078      2014.0  volkswagen passat      sedan     NaN
35025      2015.0  volkswagen passat      sedan     NaN
11261      2004.0  volkswagen passat      sedan     NaN
43403      2007.0  volkswagen passat      sedan     NaN
14511      2013.0  volkswagen passat      sedan     NaN
40209      2013.0  volkswagen passat      sedan     NaN
27283      2008.0  volkswagen passat  hatchback     NaN
48302      2015.0  volkswagen passat      sedan     NaN
20865      2016.0  volkswagen passat      sedan     NaN
2395          NaN  volkswagen passat      sedan     NaN
48309      2012.0  volkswagen passat      sedan     NaN
45397      2013.0  volkswagen passat      sedan     NaN
27427         NaN  volkswagen passat      sedan     NaN
36175      2013.0  volkswagen passat      sedan     NaN
29439         NaN  volkswagen passat      sedan     NaN
29415         NaN  volkswagen passat      sedan     NaN
21139      2013.0  volkswagen passat      sedan     NaN
5500       2015.0  volkswagen passat      sedan     NaN
13954      2014.0  volkswagen passat      sedan     NaN
17832      2013.0  volkswagen passat      sedan     NaN
46160      2015.0  volkswagen passat      sedan     NaN
33818      2014.0  volkswagen passat      sedan     NaN
5491       2007.0  volkswagen passat      sedan     NaN
22510      2013.0  volkswagen passat      sedan     NaN
40014      2013.0  volkswagen passat      sedan     NaN
9874       2014.0  volkswagen passat      sedan     NaN
33864      2014.0  volkswagen passat      sedan     NaN
13924      2013.0  volkswagen passat      sedan     NaN
30926      2013.0  volkswagen passat      sedan     NaN
3875       2015.0  volkswagen passat      sedan     NaN
22456      2000.0  volkswagen passat      sedan     NaN
13922      2015.0  volkswagen passat      sedan     NaN
48629      2014.0  volkswagen passat      sedan     NaN
49494      2009.0  volkswagen passat      sedan     NaN
22616      2012.0  volkswagen passat      sedan     NaN
14021      2017.0  volkswagen passat      sedan     NaN
27810      2006.0  volkswagen passat      sedan     NaN
44439      2012.0  volkswagen passat      sedan     NaN
11094         NaN  volkswagen passat      sedan     NaN
11093      2012.0  volkswagen passat      sedan     NaN
41796         NaN  volkswagen passat      sedan     NaN
9424       2017.0  volkswagen passat      sedan     NaN
14157         NaN  volkswagen passat      sedan     NaN
38936      2014.0  volkswagen passat      sedan     NaN
40036      2013.0  volkswagen passat      sedan     NaN
45421      2012.0  volkswagen passat      sedan     NaN
6233       2013.0  volkswagen passat      sedan     NaN
22765      2013.0  volkswagen passat      sedan     NaN
22740      2005.0  volkswagen passat      sedan     NaN
2210       2013.0  volkswagen passat      sedan     NaN
1143       2016.0  volkswagen passat      sedan     NaN
45428      2012.0  volkswagen passat      sedan     NaN
34330      2004.0  volkswagen passat      sedan     NaN
39011      2013.0  volkswagen passat      sedan     NaN
5632       2015.0  volkswagen passat      sedan     NaN
12758      2009.0  volkswagen passat      sedan     NaN
3832       2012.0  volkswagen passat      sedan     NaN
41761      2013.0  volkswagen passat      sedan     NaN
29734      2015.0  volkswagen passat      sedan     1.0

       model_year                         model         type  is_4wd
39477      2012.0                  nissan versa    hatchback     NaN
39426      2000.0             volkswagen passat        sedan     NaN
13348      2015.0                 nissan sentra        sedan     NaN
5489          NaN                  honda accord        sedan     NaN
18658      2009.0                  nissan versa        sedan     NaN
1354       2015.0                  chrysler 200        sedan     NaN
44519      2009.0           dodge grand caravan     mini-van     NaN
41874      2016.0                    ford focus        sedan     NaN
9891       2016.0                  ford mustang  convertible     NaN
19154      2013.0       chrysler town & country     mini-van     NaN
27995      2005.0              chevrolet impala        sedan     NaN
10881      2017.0              chevrolet camaro        coupe     1.0
46305      2012.0                    ford focus    hatchback     NaN
21810      2011.0                  honda accord        sedan     NaN
46653      2010.0                honda civic lx        sedan     NaN
12879      2011.0                  toyota prius    hatchback     NaN
11040      2008.0           dodge grand caravan          van     NaN
2459       2013.0           dodge grand caravan     mini-van     NaN
5812       2013.0              chevrolet malibu        sedan     NaN
15249      2017.0                 nissan sentra        sedan     NaN
14843         NaN                  honda accord        sedan     NaN
8217       2007.0                  toyota camry        sedan     NaN
36411         NaN              chevrolet malibu        sedan     NaN
2761       2013.0                 nissan maxima        sedan     NaN
14031      2015.0  chevrolet camaro lt coupe 2d        coupe     NaN
41444      2011.0                    ford focus        sedan     NaN
48393      2010.0                 nissan sentra        sedan     NaN
36093      2013.0                 nissan sentra        sedan     NaN
45661      2006.0                   ford taurus        sedan     NaN
30706      2005.0                  toyota prius    hatchback     NaN
11231      2001.0                  honda accord        coupe     NaN
4676       2000.0                  honda accord        sedan     NaN
49677      2009.0                   ford fusion        sedan     NaN
38136      2013.0                    ford focus        sedan     NaN
28665      2004.0               hyundai elantra        sedan     NaN
46893      2010.0                honda civic lx        coupe     NaN
38590      2001.0            chevrolet corvette        coupe     NaN
23613      2000.0                  honda accord        sedan     NaN
42647      2017.0                toyota corolla        sedan     NaN
13797      2015.0                      kia soul        sedan     NaN
4672       2008.0              chevrolet impala        sedan     NaN
29816         NaN                  toyota prius    hatchback     NaN
29718      2007.0                  toyota prius    hatchback     NaN
11676      2015.0              chevrolet impala        sedan     NaN
4809       2010.0                    ford focus        sedan     NaN
3098       2002.0            chevrolet corvette  convertible     NaN
42472         NaN                 nissan sentra        sedan     NaN
2880       2012.0                hyundai sonata        sedan     NaN
46816      2011.0                 honda odyssey     mini-van     NaN
42992      2017.0                ford fusion se        sedan     NaN
14443      2010.0                ford econoline          van     NaN
13568      2013.0                ford fusion se        sedan     NaN
36524         NaN                toyota corolla        sedan     NaN
39931      2010.0                hyundai sonata        sedan     NaN
39105      2018.0      ford mustang gt coupe 2d        coupe     NaN
26243      2012.0                    ford focus    hatchback     NaN
50352         NaN               toyota camry le        sedan     NaN
31343      2019.0                 dodge charger        sedan     1.0
37522      1994.0            chevrolet corvette        coupe     NaN
24525      2013.0                hyundai sonata        sedan     NaN

In [10]:
# EDA: filter & view NaN in the 'type' column for specifically for the following vehicle types
# OBJECTIVE: replace NaN with one (1 = 4wd vehicle)

yes_4wd_nan = ['SUV', 'truck', 'pickup', 'wagon', 'offroad']

#yes_4wd_nan = ['truck']

# new dataframe to review rows
sorted_yes_4wd_df = vehicles_df[vehicles_df['type'].isin(yes_4wd_nan)][['model_year', 'model', 'type', 'is_4wd']].sort_values(by='model')


# review top, bottom, and random selected (60) rows to have confidence to replace NaN with zero (0 = not 4wd capable) in 'type' column
display(sorted_yes_4wd_df.head(60))
display(sorted_yes_4wd_df.tail(60))
display(sorted_yes_4wd_df.sample(60))

       model_year     model   type  is_4wd
8133       2007.0  acura tl    SUV     NaN
7029       2007.0  acura tl    SUV     NaN
8675       2007.0  acura tl    SUV     NaN
16496      2008.0    bmw x5    SUV     1.0
16449      2010.0    bmw x5    SUV     1.0
29694      2010.0    bmw x5    SUV     1.0
29704      2011.0    bmw x5    SUV     1.0
43159      2012.0    bmw x5    SUV     1.0
29745      2012.0    bmw x5    SUV     1.0
43196      2011.0    bmw x5    SUV     1.0
29760      2010.0    bmw x5    SUV     1.0
43253      2012.0    bmw x5    SUV     1.0
43255      2012.0    bmw x5    SUV     1.0
4822       2009.0    bmw x5    SUV     1.0
50837         NaN    bmw x5    SUV     1.0
16535      2012.0    bmw x5    SUV     1.0
50851      2012.0    bmw x5    SUV     NaN
30101      2011.0    bmw x5    SUV     1.0
43620      2008.0    bmw x5    SUV     1.0
1012       2005.0    bmw x5    SUV     1.0
43693      2008.0    bmw x5    SUV     1.0
4978          NaN    bmw x5    SUV     1.0
43882      2012.0    bmw x5    SUV     1.0
955        2006.0    bmw x5    SUV     1.0
14850      2012.0    bmw x5    SUV     1.0
30417      2013.0    bmw x5    SUV     1.0
43421      2013.0    bmw x5    SUV     1.0
16595      2011.0    bmw x5    SUV     1.0
0          2011.0    bmw x5    SUV     1.0
944        2012.0    bmw x5  wagon     1.0
17941      2011.0    bmw x5    SUV     1.0
42239      2012.0    bmw x5    SUV     1.0
42243         NaN    bmw x5    SUV     1.0
17754      2003.0    bmw x5    SUV     1.0
17747      2015.0    bmw x5    SUV     1.0
17746      2012.0    bmw x5    SUV     1.0
17745      2011.0    bmw x5    SUV     1.0
17671      2014.0    bmw x5    SUV     NaN
42425      2006.0    bmw x5    SUV     1.0
42434         NaN    bmw x5    SUV     1.0
17519         NaN    bmw x5    SUV     1.0
4677          NaN    bmw x5    SUV     1.0
42512      2015.0    bmw x5    SUV     NaN
17299      2011.0    bmw x5    SUV     1.0
17236      2013.0    bmw x5    SUV     1.0
36521      2003.0    bmw x5    SUV     1.0
17223      2007.0    bmw x5    SUV     1.0
42669      2010.0    bmw x5    SUV     1.0
17178      2010.0    bmw x5    SUV     1.0
4601       2008.0    bmw x5    SUV     1.0
4603       2005.0    bmw x5    SUV     1.0
16904      2013.0    bmw x5    SUV     1.0
29580      2012.0    bmw x5    SUV     1.0
16689      2010.0    bmw x5    SUV     1.0
49200      2011.0    bmw x5    SUV     1.0
14802      2016.0    bmw x5    SUV     NaN
14731      2001.0    bmw x5    SUV     1.0
14536      2002.0    bmw x5    SUV     1.0
51143      2006.0    bmw x5  truck     1.0
45396      2007.0    bmw x5    SUV     1.0

       model_year              model    type  is_4wd
27439      2007.0      toyota tundra   truck     1.0
16725      2006.0      toyota tundra   truck     NaN
2110       2014.0      toyota tundra   truck     1.0
31366      2000.0      toyota tundra   truck     NaN
16724      2003.0      toyota tundra  pickup     NaN
20875      2007.0      toyota tundra   truck     NaN
46479      2001.0      toyota tundra   truck     1.0
31407         NaN      toyota tundra  pickup     1.0
20549      2005.0      toyota tundra  pickup     1.0
40796      2006.0      toyota tundra  pickup     1.0
5005       2018.0      toyota tundra   truck     1.0
12741      2018.0      toyota tundra   truck     1.0
2114       2016.0      toyota tundra   truck     1.0
20917      2000.0      toyota tundra   truck     NaN
20956      2000.0      toyota tundra   truck     NaN
48985      2010.0      toyota tundra   truck     1.0
46254      2005.0   volkswagen jetta   wagon     NaN
25086      2005.0   volkswagen jetta   wagon     NaN
9949       2005.0   volkswagen jetta   wagon     NaN
29931      2005.0   volkswagen jetta   wagon     NaN
659           NaN   volkswagen jetta   wagon     NaN
40144      2013.0   volkswagen jetta   wagon     NaN
22375      2005.0   volkswagen jetta   wagon     NaN
37845      2009.0   volkswagen jetta   wagon     NaN
9371       2013.0   volkswagen jetta   wagon     NaN
4126       2003.0   volkswagen jetta   wagon     NaN
16224      2013.0   volkswagen jetta   wagon     NaN
40825      2009.0   volkswagen jetta   wagon     NaN
38425      2009.0   volkswagen jetta   wagon     NaN
40956      2005.0   volkswagen jetta   wagon     NaN
49502      2013.0   volkswagen jetta   wagon     NaN
31857      2009.0   volkswagen jetta   wagon     NaN
50191      2013.0   volkswagen jetta   wagon     NaN
11848      2002.0   volkswagen jetta   wagon     NaN
45750      2002.0   volkswagen jetta   wagon     NaN
42706      2012.0   volkswagen jetta   wagon     NaN
18465      2013.0   volkswagen jetta   wagon     NaN
4833       2013.0   volkswagen jetta   wagon     NaN
5925          NaN  volkswagen passat   wagon     NaN
5903       2008.0  volkswagen passat   wagon     NaN
38549      2007.0  volkswagen passat   wagon     NaN
3034       2008.0  volkswagen passat   wagon     NaN
23310      2004.0  volkswagen passat   wagon     NaN
31139      2003.0  volkswagen passat   wagon     NaN
19968      2004.0  volkswagen passat   wagon     NaN
693        2008.0  volkswagen passat   wagon     NaN
24818      2005.0  volkswagen passat   wagon     NaN
5215       2010.0  volkswagen passat   wagon     NaN
39391      2003.0  volkswagen passat   wagon     1.0
3373       2007.0  volkswagen passat   wagon     NaN
31728      2001.0  volkswagen passat   wagon     NaN
42457      2003.0  volkswagen passat   wagon     NaN
32639      2008.0  volkswagen passat   wagon     NaN
24314      2008.0  volkswagen passat   wagon     NaN
44606      2007.0  volkswagen passat   wagon     NaN
11343      2007.0  volkswagen passat   wagon     NaN
22773      2000.0  volkswagen passat   wagon     NaN
48643      2005.0  volkswagen passat   wagon     1.0
924        2004.0  volkswagen passat   wagon     NaN
7509       2007.0  volkswagen passat   wagon     NaN

       model_year                          model     type  is_4wd
27347      2000.0                     gmc sierra   pickup     NaN
11487      2018.0                       ram 1500    truck     1.0
51109      2017.0                       ram 3500    truck     1.0
13471      2011.0             chevrolet suburban      SUV     NaN
4271       2013.0                       kia soul    wagon     NaN
27467      1999.0          ford f-250 super duty   pickup     1.0
34527      2016.0                       ram 2500    truck     1.0
23813      2008.0                      ford f250    truck     1.0
24186      2002.0          chevrolet trailblazer    wagon     1.0
11980      2008.0           ford f250 super duty   pickup     NaN
12767      2012.0              chevrolet equinox      SUV     NaN
34066      2017.0                      ford f250   pickup     1.0
50797      2012.0            chevrolet silverado    truck     NaN
26111      2014.0                       ram 1500    truck     1.0
39855      2011.0              gmc sierra 2500hd    truck     1.0
11855      2015.0                     honda cr-v      SUV     NaN
33380      2013.0                     ford f-150   pickup     1.0
43127      2014.0                  toyota tacoma    truck     1.0
23816      2007.0             chevrolet suburban      SUV     1.0
15654      2010.0            chevrolet silverado   pickup     NaN
46177      2019.0    nissan frontier crew cab sv   pickup     1.0
16634      2012.0                     ford f-150   pickup     1.0
17313      2016.0                       ram 1500   pickup     1.0
44614      2002.0                      gmc yukon      SUV     1.0
32833      2014.0    ford f150 supercrew cab xlt   pickup     1.0
3993       2013.0     chevrolet silverado 3500hd    truck     1.0
35042      2010.0                       ram 1500   pickup     1.0
41028      2010.0                       ram 1500    truck     1.0
2791       2011.0                       ram 3500    truck     1.0
35358      2019.0                    toyota rav4      SUV     1.0
5800       2015.0                     ford f-150    truck     NaN
25810      2003.0                         bmw x5    wagon     NaN
17535      2013.0                      ford edge      SUV     1.0
11388         NaN  chevrolet silverado 1500 crew   pickup     1.0
49026      2011.0       chevrolet silverado 1500    truck     1.0
27928      2009.0                       ram 1500   pickup     1.0
46952      2011.0                chevrolet tahoe      SUV     NaN
46133      2004.0              cadillac escalade      SUV     1.0
46094      2000.0                  jeep wrangler      SUV     1.0
43370      2001.0          ford f-250 super duty    truck     1.0
1870       2012.0                     honda cr-v      SUV     1.0
11770      2016.0                       ram 2500    truck     1.0
5829       2016.0                     ford f-150    truck     1.0
2802       2013.0             chevrolet traverse      SUV     NaN
7087       2014.0                     ford f-150    truck     NaN
35088      2015.0                  toyota tacoma  offroad     1.0
463        2007.0             chevrolet suburban      SUV     1.0
19100      2008.0                     ford f-150    truck     1.0
27761      2009.0                  nissan murano    wagon     NaN
25245      2012.0           ford f250 super duty   pickup     1.0
12346      2008.0                  jeep wrangler      SUV     1.0
10204      2017.0                     ford f-150    truck     1.0
478        2015.0                  toyota tacoma   pickup     1.0
2853          NaN            jeep grand cherokee      SUV     1.0
15296      2005.0                     ford f-150   pickup     NaN
41795      2010.0                nissan frontier    truck     1.0
27291      2015.0                  jeep wrangler      SUV     1.0
5337       2012.0                 ford econoline    truck     NaN
12223      2012.0           ford f350 super duty    truck     1.0
30254      2016.0                       ram 2500   pickup     1.0

#### <span style="color: gold;">`model_year` column</span>

<span style="color: blue;"><u>**OBJECTIVE**</u></span>
- review & determine how replace the `NaN` with a year in `model_year` column
- <>

<br>

<span style="color: red;"><u>**Note-2-Self**</u></span>
- Read/Review the use  `fillna()`  `mode` parameter for fill-in `'model_year'`
- `'odometer'` - take average to fill-in NaN
- <>

In [11]:
# EDA: view all the unique value and counts in the 'model_year' column

# created a new dataframe to view the entire (68) unique values
model_year_counts_df = (vehicles_df["model_year"].value_counts(sort=False)).reset_index()

# create the columns to view  in the created dataframe to review the (68) unique years and counts
model_year_counts_df.columns = ['model_year', 'count']

# sort model years in ascending order (ascending=True) or descending order (ascending=False)
model_year_df_sorted = model_year_counts_df.sort_values(by='model_year', ascending=False)

# display all (68) unique model years and its counts in the `model_year` column
display(model_year_df_sorted.head(60))
display(model_year_df_sorted.tail(10))

    model_year  count
18      2019.0    380
8       2018.0   2193
3       2017.0   2419
20      2016.0   2954
5       2015.0   3323
4       2014.0   3448
1       2013.0   3549
6       2012.0   3468
0       2011.0   3375
10      2010.0   2691
9       2009.0   2079
7       2008.0   2924
11      2007.0   2643
15      2006.0   2234
13      2005.0   2025
12      2004.0   1722
2       2003.0   1437
24      2002.0   1037
14      2001.0    845
19      2000.0    709
22      1999.0    546
29      1998.0    378
23      1997.0    327
27      1996.0    189
26      1995.0    184
17      1994.0    118
21      1993.0    108
35      1992.0     57
36      1991.0     51
34      1990.0     58
41      1989.0     58
39      1988.0     40
32      1987.0     31
46      1986.0     39
30      1985.0     18
50      1984.0     20
57      1983.0      7
51      1982.0      9
25      1981.0     10
47      1980.0     12
44      1979.0     19
42      1978.0     15
31      1977.0     13
56      1976.0      3
28      1975.0      7
33      1974.0      4
52      1973.0     15
37      1972.0      5
55      1971.0      7
53      1970.0     10
40      1969.0     10
45      1968.0     16
38      1967.0      7
16      1966.0     23
43      1965.0     10
48      1964.0      7
49      1963.0      3
59      1962.0      3
63      1961.0      1
61      1960.0      3

    model_year  count
63      1961.0      1
61      1960.0      3
66      1958.0      2
54      1955.0      1
58      1954.0      1
65      1949.0      1
60      1948.0      1
64      1936.0      1
67      1929.0      1
62      1908.0      2

### <span style="color: gold;">EDA: Duplicate names in `model` column</span>

<span style="color: blue;"><u>**OBJECTIVE**</u></span>
- review and check if there is duplicate/similar model names in `model` column
    - if found then will need to consolidate by replacing/changing the model names
- <>

<br>

<span style="color: darkorange;"><u>**Findings / Observations**</u></span>
- found several ford model names that can be consolidated
    - `ford f150` (counts=530) with `ford f-150` (counts=2796) 
    - `ford f250` (counts=339) with `ford f-250` (counts=422)
    - `ford f-250 sd` (counts=426) with `ford f-250 super duty` (counts=241)
    - `ford f250 super duty` (counts=370) with `ford f-250 super duty` (counts=241)
    - `ford f-350 sd` (counts=295) with `ford f350 super duty` (counts=246)
    - keep `f-###` model name format 
- <>

<br>

<span style="color: red;"><u>**Note-2-Self**</u></span>
- Read/Review the use  `fillna()`  `mode` parameter for fill-in `'model_year'`
- `'odometer'` - take average to fill-in NaN

In [12]:
# EDA: view all the unique value and counts in the 'model' column
# found several ford model names that can be consolidated i.e. 'ford f250' with 'ford f-250'


# create another dataframe to review the (100) unique vehicle models and its counts
model_counts_df = (vehicles_df['model'].value_counts()).reset_index()


# create the columns to view  in the created dataframe to review the (100) unique vehicle models and counts
model_counts_df.columns = ['model', 'count']


# sort `model` column by alphabectical order 
model_counts_df_sorted = model_counts_df.sort_values(by='model')


display(model_counts_df_sorted.head(60))
display(model_counts_df_sorted.tail(42))

                            model  count
96                       acura tl    236
85                         bmw x5    267
84                  buick enclave    271
65              cadillac escalade    322
49               chevrolet camaro    414
69   chevrolet camaro lt coupe 2d    311
79             chevrolet colorado    286
31             chevrolet corvette    499
40                chevrolet cruze    457
25              chevrolet equinox    591
20               chevrolet impala    674
22               chevrolet malibu    617
3             chevrolet silverado   1271
1        chevrolet silverado 1500   2171
72  chevrolet silverado 1500 crew    303
8      chevrolet silverado 2500hd    915
92     chevrolet silverado 3500hd    243
26             chevrolet suburban    562
17                chevrolet tahoe    713
88          chevrolet trailblazer    255
62             chevrolet traverse    329
93                   chrysler 200    243
67                   chrysler 300    316
81        chrysler town & country    279
48                  dodge charger    415
94                   dodge dakota    242
24            dodge grand caravan    598
75                 ford econoline    296
51                      ford edge    383
11                    ford escape    841
53                ford expedition    372
10                  ford explorer    847
0                      ford f-150   2796
47                     ford f-250    422
44                  ford f-250 sd    426
95          ford f-250 super duty    241
76                  ford f-350 sd    295
29                      ford f150    530
64    ford f150 supercrew cab xlt    327
59                      ford f250    339
54           ford f250 super duty    370
90                      ford f350    250
91           ford f350 super duty    246
16                     ford focus    754
52                  ford focus se    376
27                    ford fusion    544
70                 ford fusion se    309
19                   ford mustang    681
74       ford mustang gt coupe 2d    301
45                    ford ranger    423
71                    ford taurus    303
68                     gmc acadia    315
50                     gmc sierra    388
9                 gmc sierra 1500    906
43              gmc sierra 2500hd    438
61                      gmc yukon    331
7                    honda accord    964
13                    honda civic    815
86                 honda civic lx    262
18                     honda cr-v    685

                                model  count
86                     honda civic lx    262
18                         honda cr-v    685
39                      honda odyssey    457
73                        honda pilot    302
46                    hyundai elantra    423
83                   hyundai santa fe    273
35                     hyundai sonata    477
78                      jeep cherokee    293
15                jeep grand cherokee    806
87         jeep grand cherokee laredo    256
55                       jeep liberty    355
4                       jeep wrangler   1119
42            jeep wrangler unlimited    452
97                        kia sorento    236
57                           kia soul    349
99  mercedes-benz benze sprinter 2500     41
14                      nissan altima    813
80                    nissan frontier    281
58        nissan frontier crew cab sv    345
77                      nissan maxima    294
98                      nissan murano    235
37                       nissan rogue    469
32                      nissan sentra    497
82                       nissan versa    274
2                            ram 1500   1750
5                            ram 2500   1091
36                           ram 3500    475
33                    subaru forester    484
89                     subaru impreza    250
28                     subaru outback    538
41                     toyota 4runner    453
6                        toyota camry    990
66                    toyota camry le    316
21                     toyota corolla    650
60                  toyota highlander    334
34                       toyota prius    482
38                        toyota rav4    461
63                      toyota sienna    329
12                      toyota tacoma    827
23                      toyota tundra    603
30                   volkswagen jetta    519
56                  volkswagen passat    350

## <span style="color: teal;">Feature Engineering (FE)</span>
<span style="color: green;"><u>**Steps / Action Taken**</u></span>
- combined the following ford model names in `model` column
    - `ford f150` (counts=530) with `ford f-150` (counts=2796) 
    - `ford f250` (counts=339) with `ford f-250` (counts=422)
    - `ford f-250 sd` (counts=426) with `ford f-250 super duty` (counts=241)
    - `ford f250 super duty` (counts=370) with `ford f-250 super duty` (counts=241)
    - `ford f-350 sd` (counts=295) with `ford f350 super duty` (counts=246)
- renamed the following ford model names in `model` column
    - `ford f350 super duty` (counts=541) to `ford f-350 super duty`
    - `ford f150 supercrew cab xlt` (counts=327) to `ford f-150 supercrew cab xlt`
    - `ford f350` (counts=250) to `ford f-350`
- created two new columns, `make` and `model_name`, derived from `model`
- <>

<br>

<span style="color: darkorange;"><u>**Findings / Observations**</u></span>
- <>

<br>

<span style="color: red;"><u>**Note-2-Self**</u></span> 
- for now...okay to keep the `date_posted` column as `object` datatype
    - will determine and return if needed to change to `datetime` datatype
- may want to clean the `model_year` column to be 4-digit year (YYYY)
- <>

### <span style="color: green;">Combine & Rename ford model names in `model` column</span>

In [13]:
# FE: replace the following model names in the 'model' column

# `ford f150` (counts=530) with `ford f-150` (counts=2796)
vehicles_df['model'] = vehicles_df['model'].replace('ford f150', 'ford f-150')

# `ford f250` (counts=339) with `ford f-250` (counts=422)
vehicles_df['model'] = vehicles_df['model'].replace('ford f250', 'ford f-250')

# `ford f-250 sd` (counts=426) with `ford f-250 super duty` (counts=241)
vehicles_df['model'] = vehicles_df['model'].replace('ford f-250 sd', 'ford f-250 super duty')

# `ford f250 super duty` (counts=370) with `ford f-250 super duty` (counts=241)
vehicles_df['model'] = vehicles_df['model'].replace('ford f250 super duty', 'ford f-250 super duty')

# `ford f-350 sd` (counts=295) with `ford f350 super duty` (counts=246)
vehicles_df['model'] = vehicles_df['model'].replace('ford f-350 sd', 'ford f350 super duty')

# rename `ford f350 super duty` (counts=541) to `ford f-350 super duty`
vehicles_df['model'] = vehicles_df['model'].replace('ford f350 super duty', 'ford f-350 super duty')

# rename `ford f150 supercrew cab xlt` (counts=327) to `ford f-150 supercrew cab xlt`
vehicles_df['model'] = vehicles_df['model'].replace('ford f150 supercrew cab xlt', 'ford f-150 supercrew cab xlt')

# rename `ford f350` (counts=250) to `ford f-350`
vehicles_df['model'] = vehicles_df['model'].replace('ford f350', 'ford f-350')


# create another dataframe to review the changes above in the 'model' column
model_counts_df = vehicles_df['model'].value_counts().reset_index()


# create the columns to view  in the created dataframe to review the (100) unique vehicle models and counts
model_counts_df.columns = ['model', 'count']

# sort `model` column by alphabectical order 
sorted_model_df = model_counts_df.sort_values(by='model')


display(sorted_model_df)
display(sorted_model_df.head(60))
display(sorted_model_df.tail(36))

                model  count
91           acura tl    236
82             bmw x5    267
81      buick enclave    271
63  cadillac escalade    322
49   chevrolet camaro    414
..                ...    ...
60      toyota sienna    329
13      toyota tacoma    827
25      toyota tundra    603
32   volkswagen jetta    519
55  volkswagen passat    350

[95 rows x 2 columns]

                            model  count
91                       acura tl    236
82                         bmw x5    267
81                  buick enclave    271
63              cadillac escalade    322
49               chevrolet camaro    414
67   chevrolet camaro lt coupe 2d    311
76             chevrolet colorado    286
33             chevrolet corvette    499
42                chevrolet cruze    457
27              chevrolet equinox    591
22               chevrolet impala    674
24               chevrolet malibu    617
3             chevrolet silverado   1271
1        chevrolet silverado 1500   2171
69  chevrolet silverado 1500 crew    303
9      chevrolet silverado 2500hd    915
88     chevrolet silverado 3500hd    243
28             chevrolet suburban    562
19                chevrolet tahoe    713
85          chevrolet trailblazer    255
61             chevrolet traverse    329
89                   chrysler 200    243
65                   chrysler 300    316
78        chrysler town & country    279
48                  dodge charger    415
90                   dodge dakota    242
26            dodge grand caravan    598
73                 ford econoline    296
51                      ford edge    383
12                    ford escape    841
53                ford expedition    372
11                  ford explorer    847
0                      ford f-150   3326
62   ford f-150 supercrew cab xlt    327
17                     ford f-250    761
6           ford f-250 super duty   1037
87                     ford f-350    250
30          ford f-350 super duty    541
18                     ford focus    754
52                  ford focus se    376
29                    ford fusion    544
68                 ford fusion se    309
21                   ford mustang    681
72       ford mustang gt coupe 2d    301
47                    ford ranger    423
70                    ford taurus    303
66                     gmc acadia    315
50                     gmc sierra    388
10                gmc sierra 1500    906
45              gmc sierra 2500hd    438
59                      gmc yukon    331
8                    honda accord    964
14                    honda civic    815
83                 honda civic lx    262
20                     honda cr-v    685
41                  honda odyssey    457
71                    honda pilot    302
46                hyundai elantra    423
80               hyundai santa fe    273
37                 hyundai sonata    477

                                model  count
37                     hyundai sonata    477
75                      jeep cherokee    293
16                jeep grand cherokee    806
84         jeep grand cherokee laredo    256
54                       jeep liberty    355
4                       jeep wrangler   1119
44            jeep wrangler unlimited    452
92                        kia sorento    236
56                           kia soul    349
94  mercedes-benz benze sprinter 2500     41
15                      nissan altima    813
77                    nissan frontier    281
57        nissan frontier crew cab sv    345
74                      nissan maxima    294
93                      nissan murano    235
39                       nissan rogue    469
34                      nissan sentra    497
79                       nissan versa    274
2                            ram 1500   1750
5                            ram 2500   1091
38                           ram 3500    475
35                    subaru forester    484
86                     subaru impreza    250
31                     subaru outback    538
43                     toyota 4runner    453
7                        toyota camry    990
64                    toyota camry le    316
23                     toyota corolla    650
58                  toyota highlander    334
36                       toyota prius    482
40                        toyota rav4    461
60                      toyota sienna    329
13                      toyota tacoma    827
25                      toyota tundra    603
32                   volkswagen jetta    519
55                  volkswagen passat    350

### <span style="color: green;">Create Two New Columns: `make` and `model_name`</span>

In [14]:
# FE: create two new columns, 'make' and 'model_name', derived from 'model' column

# `.str.split(' ')`: This splits each string in the model column by spaces. The default behavior is to split by whitespace.
# `n=1`: This limits the split to 1 occurrence. This means that the string will be split at the first space only. If there are more spaces in the string, they will be ignored for further splitting.
# `expand=True`: This returns a DataFrame where each split part becomes a separate column.
vehicles_df[['make', 'model_name']] = vehicles_df['model'].str.split(' ', n=1, expand=True)


# review & confirm two new columns created
display(vehicles_df.info())
display(vehicles_df.isna().sum())
display(vehicles_df)
display(vehicles_df.head(60))
#display(vehicles_df.tail(60))
#display(vehicles_df.sample(60))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
 13  make          51525 non-null  object
 14  model_name    51525 non-null  object
dtypes: float64(4), int64(2), object(9)
memory usage: 5.9+ MB

None

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
make                0
model_name          0
dtype: int64

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,make,model_name
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19,bmw,x5
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50,ford,f-150
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79,hyundai,sonata
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9,ford,f-150
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28,chrysler,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51520,9249,2013.0,nissan maxima,like new,6.0,gas,88136.0,automatic,sedan,black,NaN,2018-10-03,37,nissan,maxima
51521,2700,2002.0,honda civic,salvage,4.0,gas,181500.0,automatic,sedan,white,NaN,2018-11-14,22,honda,civic
51522,3950,2009.0,hyundai sonata,excellent,4.0,gas,128000.0,automatic,sedan,blue,NaN,2018-11-15,32,hyundai,sonata
51523,7455,2013.0,toyota corolla,good,4.0,gas,139573.0,automatic,sedan,black,NaN,2018-07-02,71,toyota,corolla
51524,6300,2014.0,nissan altima,good,4.0,gas,NaN,automatic,sedan,NaN,NaN,2018-06-05,10,nissan,altima

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,make,model_name
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19,bmw,x5
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50,ford,f-150
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79,hyundai,sonata
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9,ford,f-150
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28,chrysler,200
5,14990,2014.0,chrysler 300,excellent,6.0,gas,57954.0,automatic,sedan,black,1.0,2018-06-20,15,chrysler,300
6,12990,2015.0,toyota camry,excellent,4.0,gas,79212.0,automatic,sedan,white,NaN,2018-12-27,73,toyota,camry
7,15990,2013.0,honda pilot,excellent,6.0,gas,109473.0,automatic,SUV,black,1.0,2019-01-07,68,honda,pilot
8,11500,2012.0,kia sorento,excellent,4.0,gas,104174.0,automatic,SUV,NaN,1.0,2018-07-16,19,kia,sorento
9,9200,2008.0,honda pilot,excellent,NaN,gas,147191.0,automatic,SUV,blue,1.0,2019-02-15,17,honda,pilot
10,19500,2011.0,chevrolet silverado 1500,excellent,8.0,gas,128413.0,automatic,pickup,black,1.0,2018-09-17,38,chevrolet,silverado 1500
11,8990,2012.0,honda accord,excellent,4.0,gas,111142.0,automatic,sedan,grey,NaN,2019-03-28,29,honda,accord
12,18990,2012.0,ram 1500,excellent,8.0,gas,140742.0,automatic,pickup,NaN,1.0,2019-04-02,37,ram,1500
13,16500,2018.0,hyundai sonata,excellent,4.0,gas,22104.0,automatic,sedan,silver,NaN,2019-01-14,29,hyundai,sonata
14,12990,2009.0,gmc yukon,excellent,8.0,gas,132285.0,automatic,SUV,black,1.0,2019-01-31,24,gmc,yukon
15,17990,2013.0,ram 1500,excellent,8.0,gas,NaN,automatic,pickup,red,1.0,2018-05-15,111,ram,1500
16,14990,2010.0,ram 1500,excellent,8.0,gas,130725.0,automatic,pickup,red,1.0,2018-12-30,13,ram,1500
17,13990,2014.0,jeep cherokee,excellent,6.0,gas,100669.0,automatic,SUV,red,1.0,2018-08-16,25,jeep,cherokee
18,12500,2013.0,chevrolet traverse,excellent,6.0,gas,128325.0,automatic,SUV,white,1.0,2019-04-09,13,chevrolet,traverse
19,13990,2018.0,hyundai elantra,excellent,4.0,gas,31932.0,automatic,sedan,red,NaN,2018-08-25,27,hyundai,elantra
20,6990,NaN,chevrolet tahoe,excellent,8.0,gas,147485.0,automatic,SUV,silver,1.0,2018-08-05,28,chevrolet,tahoe
21,5250,2007.0,toyota rav4,good,6.0,gas,154000.0,automatic,SUV,NaN,NaN,2018-08-22,8,toyota,rav4
22,7500,2004.0,chevrolet silverado,like new,8.0,gas,180000.0,automatic,truck,red,1.0,2019-01-05,64,chevrolet,silverado
23,7500,2004.0,jeep wrangler,good,6.0,gas,NaN,automatic,SUV,red,1.0,2018-05-17,39,jeep,wrangler
24,3950,2009.0,chrysler 200,excellent,4.0,gas,NaN,automatic,sedan,red,NaN,2018-06-11,40,chrysler,200
25,11499,2017.0,chevrolet malibu,like new,4.0,gas,NaN,automatic,sedan,NaN,NaN,2018-07-26,43,chevrolet,malibu
26,8499,2014.0,ford fusion se,like new,4.0,gas,79523.0,automatic,sedan,red,NaN,2018-10-25,23,ford,fusion se
27,12999,2015.0,chevrolet impala,like new,6.0,gas,39368.0,automatic,sedan,custom,NaN,2018-05-19,42,chevrolet,impala
28,29800,2012.0,chevrolet corvette,excellent,8.0,gas,57413.0,automatic,coupe,orange,NaN,2018-10-22,101,chevrolet,corvette
29,5495,2010.0,chevrolet impala,excellent,6.0,gas,NaN,automatic,sedan,white,NaN,2019-02-18,20,chevrolet,impala
30,5000,2009.0,jeep liberty,good,6.0,gas,137273.0,automatic,SUV,white,1.0,2019-02-19,14,jeep,liberty
31,11999,2017.0,toyota camry le,excellent,4.0,gas,35721.0,automatic,sedan,NaN,NaN,2018-09-13,25,toyota,camry le
32,9499,2015.0,nissan altima,like new,4.0,gas,51848.0,automatic,sedan,grey,NaN,2018-11-12,7,nissan,altima
33,3890,2011.0,subaru outback,excellent,4.0,gas,300000.0,automatic,SUV,white,1.0,2018-12-25,31,subaru,outback
34,9500,2008.0,toyota highlander,good,6.0,gas,149799.0,automatic,SUV,NaN,NaN,2018-06-04,121,toyota,highlander
35,14999,2015.0,dodge charger,good,6.0,gas,63037.0,automatic,sedan,NaN,NaN,2018-05-11,37,dodge,charger
36,10499,2013.0,chrysler 300,good,NaN,gas,88042.0,automatic,sedan,NaN,NaN,2018-05-05,22,chrysler,300
37,7500,2005.0,toyota tacoma,good,NaN,gas,160000.0,automatic,pickup,NaN,NaN,2018-07-22,44,toyota,tacoma
38,7999,2015.0,chrysler 200,good,4.0,gas,NaN,automatic,sedan,NaN,NaN,2019-03-08,29,chrysler,200
39,8000,2009.0,ford f-150,good,8.0,gas,234000.0,automatic,truck,black,1.0,2019-03-31,1,ford,f-150
40,11499,2017.0,chevrolet equinox,like new,4.0,gas,54772.0,automatic,SUV,grey,1.0,2019-01-12,36,chevrolet,equinox
41,11995,2017.0,nissan rogue,like new,4.0,gas,NaN,automatic,SUV,silver,1.0,2018-09-20,21,nissan,rogue
42,34900,2013.0,mercedes-benz benze sprinter 2500,excellent,6.0,diesel,NaN,automatic,van,black,NaN,2019-01-15,16,mercedes-benz,benze sprinter 2500
43,5100,2008.0,honda cr-v,excellent,4.0,gas,188000.0,automatic,SUV,red,1.0,2018-11-18,10,honda,cr-v
44,4500,2004.0,jeep grand cherokee,good,6.0,gas,168821.0,automatic,SUV,NaN,1.0,2019-01-31,60,jeep,grand cherokee
45,2400,2001.0,toyota camry,good,4.0,gas,277564.0,automatic,coupe,yellow,NaN,2018-05-27,51,toyota,camry
46,11200,2015.0,dodge charger,excellent,6.0,gas,90302.0,automatic,sedan,black,1.0,2018-07-19,73,dodge,charger
47,12500,2008.0,toyota 4runner,good,6.0,gas,141098.0,automatic,SUV,grey,NaN,2019-03-10,35,toyota,4runner
48,9500,2014.0,ford focus,excellent,4.0,diesel,46000.0,automatic,sedan,NaN,NaN,2018-10-09,24,ford,focus
49,3200,2006.0,honda civic,excellent,4.0,gas,255390.0,automatic,sedan,blue,NaN,2018-10-18,23,honda,civic
50,6200,2006.0,ford f-150,excellent,6.0,gas,69698.0,automatic,truck,custom,NaN,2018-05-03,50,ford,f-150
51,3800,2012.0,ford focus,good,4.0,gas,130323.0,automatic,sedan,black,NaN,2018-11-29,261,ford,focus
52,3300,2011.0,kia soul,good,4.0,gas,188963.0,manual,SUV,black,NaN,2019-02-16,71,kia,soul
53,10400,2012.0,chevrolet colorado,excellent,5.0,gas,111871.0,automatic,truck,red,1.0,2019-01-30,27,chevrolet,colorado
54,30300,2017.0,ford f-150 supercrew cab xlt,good,6.0,gas,30339.0,automatic,pickup,brown,1.0,2018-07-15,14,ford,f-150 supercrew cab xlt
55,19700,2017.0,chevrolet camaro lt coupe 2d,good,6.0,gas,35807.0,other,coupe,NaN,NaN,2018-05-16,99,chevrolet,camaro lt coupe 2d
56,4200,2006.0,jeep grand cherokee,excellent,6.0,gas,NaN,automatic,SUV,white,1.0,2018-07-01,79,jeep,grand cherokee
57,4877,2012.0,chevrolet cruze,excellent,4.0,gas,163261.0,automatic,sedan,white,NaN,2019-04-18,21,chevrolet,cruze
58,3200,2004.0,bmw x5,excellent,6.0,gas,NaN,automatic,SUV,black,1.0,2019-04-09,10,bmw,x5
59,5200,2006.0,toyota highlander,good,NaN,gas,186000.0,automatic,SUV,green,NaN,2018-12-20,2,toyota,highlander

In [15]:
# EDA: view the unique value names and counts in the following columns

display(vehicles_df['make'].value_counts(sort=False))
print()

display(vehicles_df['model_name'].value_counts(sort=False))
print()

make
bmw                267
ford             12672
hyundai           1173
chrysler           838
toyota            5445
honda             3485
kia                585
chevrolet        10611
ram               3316
gmc               2378
jeep              3281
nissan            3208
subaru            1272
dodge             1255
mercedes-benz       41
acura              236
cadillac           322
volkswagen         869
buick              271
Name: count, dtype: int64

model_name
x5              267
f-150          3326
sonata          477
200             243
300             316
               ...
dakota          242
f-350           250
trailblazer     255
econoline       296
murano          235
Name: count, Length: 95, dtype: int64

In [16]:
# FE: Consolidating vehicle type value names in the 'type' column

# Combine 'truck' and 'pickup' value names into 'truck' value name in `type` column
#vehicles_df['type'] = vehicles_df['type'].replace('pickup', 'truck')

display(vehicles_df['type'].value_counts(sort=True))

# Combine 'truck' and 'pickup' value names into 'pickup' value name in `type` column
#vehicles_df['type'] = vehicles_df['type'].replace()

type
SUV            12405
truck          12353
sedan          12154
pickup          6988
coupe           2303
wagon           1541
mini-van        1161
hatchback       1047
van              633
convertible      446
other            256
offroad          214
bus               24
Name: count, dtype: int64

Note-2-Self

export large output greater than 120 onto `.csv` or `.txt` or `.xlsx`

## <span style="color: teal;">Remove Missing Value, Null, and NaN (*Not a Number*)</span>

<span style="color: green;"><u>**Steps / Action Taken**</u></span>
- Fill Missing Values
    - `is_4wd` column: replace `NaN` with zero (`0` = not 4wd capable)
    - `paint_color` column: replace `NaN` with `'white'`
- <>

<br>

<span style="color: darkorange;"><u>**Findings / Observations**</u></span>
- <>

<br>

<span style="color: red;"><u>**Note-2-Self**</u></span>
- for now...okay to keep the `date_posted` column as `object` datatype
    - will determine and return if needed to change to `datetime` datatype
- may want to clean the `model_year` column to be 4-digit year (YYYY)
- <>

### <span style="color: green;">Fill Missing Value: `is_4wd` column</span>

In [17]:
# MISSING VALUES: replace NaN with zero (0 = not 4wd) in 'is_4wd' column 
vehicles_df['is_4wd'] = vehicles_df['is_4wd'].fillna(0)

### <span style="color: green;">Fill Missing Value: `paint_color` column</span>

In [18]:
# EDA: using `.describe()` on `paint_color` column
vehicles_df['paint_color'].describe()


# MISSING VALUES: replace NaN with zero (0 = not 4wd) in 'is_4wd' column 
vehicles_df['paint_color'] = vehicles_df['paint_color'].fillna('white')

### Filling Missing Value: `odometer` column

In [19]:
# EDA: using `.describe()` on `odometer` column
vehicles_df['odometer'].describe()

count     43633.000000
mean     115553.461738
std       65094.611341
min           0.000000
25%       70000.000000
50%      113000.000000
75%      155000.000000
max      990000.000000
Name: odometer, dtype: float64

In [20]:
vehicles_df.shape

(51525, 15)

In [21]:
vehicles_df.isna().sum()

price              0
model_year      3619
model              0
condition          0
cylinders       5260
fuel               0
odometer        7892
transmission       0
type               0
paint_color        0
is_4wd             0
date_posted        0
days_listed        0
make               0
model_name         0
dtype: int64

In [24]:
# Fill Missing odometer

vehicles_df['odometer'] = vehicles_df['odometer'].fillna(vehicles_df.groupby(['model', 'model_year'])['odometer'].transform('median'))

vehicles_df.isna().sum()

price              0
model_year      3619
model              0
condition          0
cylinders       5260
fuel               0
odometer         621
transmission       0
type               0
paint_color        0
is_4wd             0
date_posted        0
days_listed        0
make               0
model_name         0
dtype: int64

In [ ]:
vehicles_df.isna().sum()

In [ ]:
# SANITY CHECK: check the groupby().transform('median')

vehicles_df.groupby('model')['odometer'].transform('median')

In [ ]:
display(vehicles_df.groupby('model')['odometer'])

In [ ]:
# REFERENCE CODE:  use `groupby()` and `transform()` to fill in missing values


#df['value'] = df['value'].fillna(df.groupby('name')['value'].transform('mean'))

In [ ]:
# EDA: 

# view rows pertaining to bmw 
bmw_df = vehicles_df.query("make == 'bmw'")[['model', 'model_year', 'cylinders', 'odometer', 'type', 'make', 'model_name']]

# sort dataframe by model year then by model then by cylinder in ascending order
sort_bmw_df = bmw_df.sort_values(by=['model_year', 'model', 'cylinders'], ascending=[True, True, True])

#display(bmw_df.head(60))
display(sort_bmw_df.head(60))

In [ ]:
# groupby

#group_vehicles = vehicles_df.groupby(['model', 'model_year', 'cylinders'])['model_name'].count()

group_bmw = bmw_df.groupby(['model', 'model_year', 'cylinders'])['model_name'].count()

display(group_bmw)

In [ ]:
# convert groupby() into dataframe

group_bmw_df = group_bmw.reset_index()

display(group_bmw_df)

In [ ]:
# TEST CODE:

# view rows with NaN in `cylinders` column
cylinders_df = vehicles_df[vehicles_df['cylinders'].isna()]

# sort rows in ascending order, or descending order (ascending=False), under `cylinders` column
sort_cylinders_df = cylinders_df.sort_values(by='model', ascending=False)


display(cylinders_df.sample(10))
display(sort_cylinders_df.head(10))
display(sort_cylinders_df.tail(10))

In [ ]:
# SANITY CHECK:
display(vehicles_df.isna().sum())
print()

vehicles_df.info()

In [ ]:
# pull all rows containing the specific 'model_year' column

#specific_model = 

#filtered_models = vehicles_df.loc[vehicles_df['model']]

In [ ]:
# Reference Code - double check the `model` column


# SANTIY CHECK: Spot Check for specific user ID's total monthly call counts = total 2018 call count


# Replace with the user_id you want to filter
#specific_user_id = 1498  

# pull all rows containing the specific user ID
#filtered_df_call_counts = df_user_monthly_call_count.loc[df_user_monthly_call_count['user_id'] == specific_user_id]

# sums the sepcific user ID's monthly call counts
#user_total_call_count = filtered_df_call_counts['total_calls'].sum()

# notice this equals the User ID's total call counts in 2018
#print(f"User ID: {specific_user_id} total call count in 2018 is {user_total_call_count}.")


# Display the filtered dataframe
#display(filtered_df_call_counts)

In [ ]:
# CLEANING DATA - remove NaN values in `model_year` column

In [ ]:
# Feature Engineering - parse manufacturer and model name in 'model' column
# code to reference to parse manufacturer and model
# use later.  Need to clean.
# remove null / Nan / missing values


#vehicles_df[['make', 'model']] = vehicles_df['model'].str.split(' ', n=1, expand=True)