# Initialization

In [1]:
# Load libraries
import pandas as pd
import numpy as np
import plotly.express as px
from IPython.display import display

## Load Data

In [2]:
# load *.csv file into dataframes
try:
    vehicles_df = pd.read_csv('vehicles_us.csv')
except:
    vehicles_df = pd.read_csv('https://practicum-content.s3.us-west-1.amazonaws.com/datasets/vehicles_us.csv')

# EDA - Exploratory Data Analysis

<span style="color: blue;"><u>**OBJECTIVE**</u></span>
1. Review uploaded `vehicles_us.csv` file
2. Check for missing values, `Nulls`, `NaN` (*Not a Number*)

<br>

<span style="color: darkorange;"><u>**Findings / Observations**</u></span>
- 51525 row with 13 columns
- missing values, `Nulls`, & `NaNs` found in the following (5) attributes:
    1. `model_year` (3619)
    2. `cylinders` (5260)
    3. `odometer` (7892)
    4. `paint_color` (9267)
    5. `is_4wd` (25953)
- `is_4wd` column is boolean logic (1 = Y vs. 0 = N)
    - `NaN` found and may need to determine if these will be zero (0 = No)
- found several ford model names that can be consolidated
    - `ford f150` (counts=530) with `ford f-150` (counts=2796) 
    - `ford f250` (counts=339) with `ford f-250` (counts=422)
    - `ford f-250 sd` (counts=426) with `ford f-250 super duty` (counts=241)
    - `ford f250 super duty` (counts=370) with `ford f-250 super duty` (counts=241)
    - `ford f-350 sd` (counts=295) with `ford f350 super duty` (counts=246)
    - keep `f-###` model name format 
- <>

<br>

<span style="color: red;"><u>**Note-2-Self**</u></span>
- will need to parse out the manufacturer and vehicle model from `model` column
    - *see code shared by Jester* 
- `date_posted` and `model_year` column as `object` datatype
    - convert to `datetime` datatype
- `model_year` column as `float` datatype
    - convert to `datetime` datatype for ease of data visualization
- may want to clean the `model_year` column to be 4-digit year (YYYY)
- <>

In [3]:
# EDA: preview data
display(vehicles_df.sample(60))
#display(vehicles_df.head(60))
#display(vehicles_df.tail(60))

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
28136,1000,2001.0,ford explorer,fair,6.0,gas,234000.0,automatic,truck,green,1.0,2019-04-10,63
44029,3995,2001.0,ford f-150,good,8.0,gas,207269.0,automatic,truck,black,NaN,2019-01-19,116
26428,10900,2006.0,toyota 4runner,excellent,8.0,gas,170215.0,automatic,wagon,NaN,1.0,2019-02-17,197
7413,4995,2009.0,ford focus,good,NaN,gas,93415.0,automatic,sedan,grey,NaN,2019-04-18,59
38035,14500,2017.0,chevrolet silverado,like new,6.0,gas,84000.0,automatic,truck,white,NaN,2018-08-16,36
20466,6600,2012.0,nissan rogue,excellent,4.0,gas,143000.0,automatic,SUV,white,1.0,2018-05-13,3
29720,13995,2016.0,nissan altima,excellent,6.0,gas,5500.0,automatic,sedan,white,NaN,2019-02-26,20
21,5250,2007.0,toyota rav4,good,6.0,gas,154000.0,automatic,SUV,NaN,NaN,2018-08-22,8
41669,5995,2006.0,ford f-150,good,6.0,gas,108000.0,automatic,pickup,white,NaN,2018-06-29,40
50323,19995,2006.0,chevrolet silverado 2500hd,good,8.0,gas,NaN,automatic,truck,grey,1.0,2018-12-08,58
47004,2950,NaN,toyota prius,good,4.0,gas,NaN,automatic,sedan,blue,NaN,2018-10-07,22
7419,4900,2006.0,honda odyssey,good,6.0,gas,135000.0,automatic,mini-van,blue,NaN,2018-08-19,11
23762,5999,2006.0,ford expedition,good,8.0,gas,217.0,automatic,SUV,silver,NaN,2018-11-23,55
12325,9999,2011.0,chevrolet silverado 2500hd,excellent,8.0,gas,245633.0,automatic,pickup,white,NaN,2019-01-23,42
40830,19650,NaN,toyota highlander,good,6.0,gas,93698.0,automatic,SUV,grey,NaN,2019-02-22,33
26566,9500,1991.0,jeep wrangler,excellent,4.0,gas,0.0,manual,SUV,white,1.0,2019-04-12,77
44266,7995,2007.0,chevrolet silverado,good,NaN,gas,166862.0,automatic,pickup,silver,NaN,2018-09-21,28
20975,4895,2003.0,hyundai santa fe,good,NaN,gas,140657.0,automatic,SUV,white,1.0,2018-05-08,24
22941,25300,2018.0,chevrolet camaro lt coupe 2d,good,6.0,gas,NaN,other,coupe,yellow,NaN,2019-02-22,25
32689,39900,2015.0,gmc sierra 2500hd,good,8.0,diesel,88892.0,automatic,truck,NaN,1.0,2018-10-26,9
29604,29900,2017.0,buick enclave,excellent,6.0,gas,8247.0,automatic,SUV,black,NaN,2018-07-23,42
12976,15900,2014.0,buick enclave,good,6.0,gas,66945.0,automatic,SUV,silver,NaN,2018-06-18,15
29247,10495,2013.0,ford edge,excellent,NaN,gas,103000.0,automatic,SUV,blue,NaN,2018-09-12,52
13877,5600,NaN,toyota camry le,excellent,4.0,gas,88000.0,automatic,sedan,grey,NaN,2018-06-07,6
17902,7800,2014.0,nissan maxima,excellent,8.0,gas,90000.0,automatic,sedan,purple,NaN,2018-12-14,41
31147,4100,2004.0,chevrolet silverado,good,6.0,gas,187600.0,automatic,pickup,custom,NaN,2018-06-23,56
1971,34500,2015.0,chevrolet corvette,excellent,8.0,gas,24000.0,automatic,convertible,yellow,NaN,2018-05-21,6
197,10000,2006.0,ford f-150,excellent,8.0,gas,181000.0,automatic,truck,silver,1.0,2018-07-17,9
28739,12980,2008.0,toyota tundra,good,NaN,gas,105868.0,automatic,truck,red,NaN,2018-10-21,23
30403,5495,2008.0,ford escape,excellent,6.0,gas,126293.0,automatic,wagon,grey,1.0,2019-01-12,101
20117,24000,2014.0,toyota tacoma,excellent,6.0,gas,105000.0,automatic,pickup,NaN,1.0,2018-07-10,23
36538,9995,2005.0,ford f-150,good,8.0,gas,259207.0,automatic,truck,custom,1.0,2018-07-31,62
26599,4500,2004.0,ford f-250,good,8.0,gas,263071.0,automatic,truck,grey,1.0,2018-08-31,26
44475,5500,2004.0,ford f-150,good,NaN,gas,160000.0,automatic,pickup,black,1.0,2018-11-14,99
15075,6500,2004.0,ram 1500,good,8.0,gas,181000.0,automatic,pickup,black,NaN,2018-09-29,78
47080,5000,2009.0,toyota camry,excellent,4.0,gas,155053.0,automatic,sedan,black,NaN,2018-12-19,29
44500,9500,1998.0,chevrolet corvette,excellent,8.0,gas,97000.0,automatic,convertible,grey,NaN,2018-09-03,51
39980,4999,2008.0,ford f-150,good,8.0,gas,88300.0,automatic,truck,white,1.0,2018-10-28,26
7018,8999,1999.0,ford f350 super duty,excellent,NaN,diesel,350598.0,automatic,truck,NaN,1.0,2018-07-07,68
45204,1200,1998.0,ford f-150,fair,8.0,gas,NaN,automatic,truck,blue,1.0,2018-07-25,17
3520,19500,2013.0,ram 1500,good,8.0,gas,84150.0,automatic,truck,black,1.0,2018-12-20,43
23556,18700,2017.0,nissan frontier crew cab sv,good,6.0,gas,40002.0,other,pickup,white,NaN,2018-06-13,15
43096,4800,2005.0,subaru forester,excellent,4.0,gas,160000.0,automatic,hatchback,black,1.0,2018-07-12,37
42736,28950,2017.0,jeep wrangler,excellent,6.0,gas,39888.0,automatic,SUV,NaN,1.0,2019-02-26,15
33863,14995,2011.0,gmc sierra 1500,excellent,8.0,gas,NaN,automatic,truck,blue,1.0,2019-02-22,18
16703,21900,2008.0,chevrolet silverado 3500hd,excellent,8.0,diesel,203000.0,automatic,truck,white,1.0,2018-11-20,27
43252,4850,2007.0,toyota prius,good,4.0,hybrid,17800.0,automatic,hatchback,red,NaN,2018-07-03,34
870,9995,2014.0,chrysler 300,excellent,6.0,gas,107445.0,automatic,sedan,black,NaN,2018-08-15,45
3706,5995,2000.0,ford f-250,good,10.0,gas,NaN,automatic,truck,blue,NaN,2019-01-05,19
43046,20997,2015.0,buick enclave,like new,6.0,gas,84769.0,automatic,SUV,white,NaN,2019-04-12,38
45151,23000,2012.0,ford f250 super duty,good,8.0,gas,55000.0,automatic,truck,grey,1.0,2018-08-16,82
5658,4800,2010.0,ford focus,excellent,4.0,gas,57457.0,automatic,sedan,white,NaN,2019-03-17,22
655,1999,2007.0,honda pilot,good,6.0,gas,288000.0,automatic,SUV,custom,1.0,2018-12-18,83
5879,6995,2008.0,ford ranger,excellent,6.0,gas,78000.0,automatic,pickup,white,NaN,2018-05-27,19
10795,28000,2016.0,ford mustang gt coupe 2d,good,8.0,gas,10357.0,other,coupe,black,NaN,2018-10-09,6
24004,4400,2000.0,gmc sierra,excellent,8.0,gas,192374.0,automatic,pickup,NaN,1.0,2018-06-05,32
40543,13490,2012.0,ford econoline,good,8.0,gas,NaN,automatic,truck,NaN,NaN,2018-07-16,47
23128,7300,2000.0,jeep wrangler,good,6.0,gas,279937.0,automatic,SUV,NaN,1.0,2019-01-03,13
17983,19491,2015.0,ford f-150,excellent,6.0,gas,96373.0,automatic,pickup,green,NaN,2018-10-04,35
46938,7900,2013.0,kia soul,excellent,4.0,gas,71956.0,automatic,wagon,white,NaN,2019-01-11,85

In [4]:
# EDA: check for nulls/NaN/missing values

# view & identify dataframe attributes with null/missing values
vehicles_df.info()
print('\n\n')

# counts of missing values, nulls, NaNs
print('Missing Value / Null / NaN Counts')
display(vehicles_df.isna().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB



Missing Value / Null / NaN Counts

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

In [5]:
# EDA: view the unique value and counts in the following columns

display(vehicles_df['model_year'].value_counts(sort=True))
print()

display(vehicles_df['model'].value_counts(sort=True))
print()

display(vehicles_df['condition'].value_counts(sort=True))
print()

display(vehicles_df['cylinders'].value_counts(sort=True))
print()

display(vehicles_df['fuel'].value_counts(sort=True))
print()

display(vehicles_df['transmission'].value_counts(sort=False))
print()

display(vehicles_df['type'].value_counts(sort=True))
print()

display(vehicles_df['paint_color'].value_counts())
print()

display(vehicles_df['is_4wd'].value_counts(sort=True))
print()

model_year
2013.0    3549
2012.0    3468
2014.0    3448
2011.0    3375
2015.0    3323
          ...
1948.0       1
1961.0       1
1936.0       1
1949.0       1
1929.0       1
Name: count, Length: 68, dtype: int64

model
ford f-150                           2796
chevrolet silverado 1500             2171
ram 1500                             1750
chevrolet silverado                  1271
jeep wrangler                        1119
                                     ...
ford f-250 super duty                 241
acura tl                              236
kia sorento                           236
nissan murano                         235
mercedes-benz benze sprinter 2500      41
Name: count, Length: 100, dtype: int64

condition
excellent    24773
good         20145
like new      4742
fair          1607
new            143
salvage        115
Name: count, dtype: int64

cylinders
8.0     15844
6.0     15700
4.0     13864
10.0      549
5.0       272
3.0        34
12.0        2
Name: count, dtype: int64

fuel
gas         47288
diesel       3714
hybrid        409
other         108
electric        6
Name: count, dtype: int64

transmission
automatic    46902
manual        2829
other         1794
Name: count, dtype: int64

type
SUV            12405
truck          12353
sedan          12154
pickup          6988
coupe           2303
wagon           1541
mini-van        1161
hatchback       1047
van              633
convertible      446
other            256
offroad          214
bus               24
Name: count, dtype: int64

paint_color
white     10029
black      7692
silver     6244
grey       5037
blue       4475
red        4421
green      1396
brown      1223
custom     1153
yellow      255
orange      231
purple      102
Name: count, dtype: int64

is_4wd
1.0    25572
Name: count, dtype: int64

In [6]:
# EDA: view the unique value and counts in the 'type' column
# Note: will use `.isin()` method to filter 'type' with NaN for 
    # no_4wd_nan = [sedan, coupe, wagon, mini-van, hatchback, van, convertible, other, bus] 
    # yes_4wd_nan = [SUV, truck, pickup, offroad]

display(vehicles_df['type'].value_counts(sort=True))

type
SUV            12405
truck          12353
sedan          12154
pickup          6988
coupe           2303
wagon           1541
mini-van        1161
hatchback       1047
van              633
convertible      446
other            256
offroad          214
bus               24
Name: count, dtype: int64

### <span style="color: gold;">EDA: Missing Values (*Null / NaN*)</span>

<span style="color: blue;"><u>**OBJECTIVE**</u></span>
- deep dive review of all columns with missing values
- determine how to either replace or fill in the missing values

<br>

<span style="color: red;"><u>**Note-2-Self**</u></span>
- Read/Review the use  `fillna()`  `mode` parameter for fill-in `'model_year'`
- `'odometer'` - take average to fill-in NaN

In [7]:
# EDA: review rows with missing values

display(vehicles_df[vehicles_df.isna().any(axis=1)].head(60))

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28
6,12990,2015.0,toyota camry,excellent,4.0,gas,79212.0,automatic,sedan,white,NaN,2018-12-27,73
8,11500,2012.0,kia sorento,excellent,4.0,gas,104174.0,automatic,SUV,NaN,1.0,2018-07-16,19
9,9200,2008.0,honda pilot,excellent,NaN,gas,147191.0,automatic,SUV,blue,1.0,2019-02-15,17
11,8990,2012.0,honda accord,excellent,4.0,gas,111142.0,automatic,sedan,grey,NaN,2019-03-28,29
12,18990,2012.0,ram 1500,excellent,8.0,gas,140742.0,automatic,pickup,NaN,1.0,2019-04-02,37
13,16500,2018.0,hyundai sonata,excellent,4.0,gas,22104.0,automatic,sedan,silver,NaN,2019-01-14,29
15,17990,2013.0,ram 1500,excellent,8.0,gas,NaN,automatic,pickup,red,1.0,2018-05-15,111
19,13990,2018.0,hyundai elantra,excellent,4.0,gas,31932.0,automatic,sedan,red,NaN,2018-08-25,27
20,6990,NaN,chevrolet tahoe,excellent,8.0,gas,147485.0,automatic,SUV,silver,1.0,2018-08-05,28
21,5250,2007.0,toyota rav4,good,6.0,gas,154000.0,automatic,SUV,NaN,NaN,2018-08-22,8
23,7500,2004.0,jeep wrangler,good,6.0,gas,NaN,automatic,SUV,red,1.0,2018-05-17,39
24,3950,2009.0,chrysler 200,excellent,4.0,gas,NaN,automatic,sedan,red,NaN,2018-06-11,40
25,11499,2017.0,chevrolet malibu,like new,4.0,gas,NaN,automatic,sedan,NaN,NaN,2018-07-26,43
26,8499,2014.0,ford fusion se,like new,4.0,gas,79523.0,automatic,sedan,red,NaN,2018-10-25,23
27,12999,2015.0,chevrolet impala,like new,6.0,gas,39368.0,automatic,sedan,custom,NaN,2018-05-19,42
28,29800,2012.0,chevrolet corvette,excellent,8.0,gas,57413.0,automatic,coupe,orange,NaN,2018-10-22,101
29,5495,2010.0,chevrolet impala,excellent,6.0,gas,NaN,automatic,sedan,white,NaN,2019-02-18,20
31,11999,2017.0,toyota camry le,excellent,4.0,gas,35721.0,automatic,sedan,NaN,NaN,2018-09-13,25
32,9499,2015.0,nissan altima,like new,4.0,gas,51848.0,automatic,sedan,grey,NaN,2018-11-12,7
34,9500,2008.0,toyota highlander,good,6.0,gas,149799.0,automatic,SUV,NaN,NaN,2018-06-04,121
35,14999,2015.0,dodge charger,good,6.0,gas,63037.0,automatic,sedan,NaN,NaN,2018-05-11,37
36,10499,2013.0,chrysler 300,good,NaN,gas,88042.0,automatic,sedan,NaN,NaN,2018-05-05,22
37,7500,2005.0,toyota tacoma,good,NaN,gas,160000.0,automatic,pickup,NaN,NaN,2018-07-22,44
38,7999,2015.0,chrysler 200,good,4.0,gas,NaN,automatic,sedan,NaN,NaN,2019-03-08,29
41,11995,2017.0,nissan rogue,like new,4.0,gas,NaN,automatic,SUV,silver,1.0,2018-09-20,21
42,34900,2013.0,mercedes-benz benze sprinter 2500,excellent,6.0,diesel,NaN,automatic,van,black,NaN,2019-01-15,16
44,4500,2004.0,jeep grand cherokee,good,6.0,gas,168821.0,automatic,SUV,NaN,1.0,2019-01-31,60
45,2400,2001.0,toyota camry,good,4.0,gas,277564.0,automatic,coupe,yellow,NaN,2018-05-27,51
47,12500,2008.0,toyota 4runner,good,6.0,gas,141098.0,automatic,SUV,grey,NaN,2019-03-10,35
48,9500,2014.0,ford focus,excellent,4.0,diesel,46000.0,automatic,sedan,NaN,NaN,2018-10-09,24
49,3200,2006.0,honda civic,excellent,4.0,gas,255390.0,automatic,sedan,blue,NaN,2018-10-18,23
50,6200,2006.0,ford f-150,excellent,6.0,gas,69698.0,automatic,truck,custom,NaN,2018-05-03,50
51,3800,2012.0,ford focus,good,4.0,gas,130323.0,automatic,sedan,black,NaN,2018-11-29,261
52,3300,2011.0,kia soul,good,4.0,gas,188963.0,manual,SUV,black,NaN,2019-02-16,71
55,19700,2017.0,chevrolet camaro lt coupe 2d,good,6.0,gas,35807.0,other,coupe,NaN,NaN,2018-05-16,99
56,4200,2006.0,jeep grand cherokee,excellent,6.0,gas,NaN,automatic,SUV,white,1.0,2018-07-01,79
57,4877,2012.0,chevrolet cruze,excellent,4.0,gas,163261.0,automatic,sedan,white,NaN,2019-04-18,21
58,3200,2004.0,bmw x5,excellent,6.0,gas,NaN,automatic,SUV,black,1.0,2019-04-09,10
59,5200,2006.0,toyota highlander,good,NaN,gas,186000.0,automatic,SUV,green,NaN,2018-12-20,2
62,10499,2017.0,chevrolet cruze,good,4.0,gas,53601.0,automatic,sedan,black,NaN,2019-01-13,48
63,30000,1966.0,ford mustang,excellent,NaN,gas,51000.0,manual,convertible,red,NaN,2019-01-23,17
64,15999,2017.0,chevrolet cruze,good,4.0,gas,17498.0,automatic,sedan,black,NaN,2018-11-07,54
65,12800,NaN,ford f-150,excellent,6.0,gas,108500.0,automatic,pickup,white,NaN,2018-09-23,15
66,14999,2013.0,chevrolet silverado 3500hd,good,8.0,gas,NaN,automatic,truck,white,1.0,2018-05-09,22
68,6950,2013.0,nissan altima,excellent,4.0,gas,158786.0,automatic,sedan,NaN,NaN,2018-12-24,41
69,7800,NaN,ford f-150,like new,8.0,gas,97510.0,automatic,truck,white,1.0,2019-02-20,39
70,5500,2006.0,honda accord,good,4.0,gas,NaN,automatic,sedan,silver,NaN,2018-11-27,15
71,23300,2018.0,nissan frontier crew cab sv,good,6.0,gas,27493.0,other,pickup,NaN,1.0,2018-10-13,36
72,3650,NaN,subaru impreza,excellent,NaN,gas,74000.0,automatic,sedan,blue,1.0,2018-08-07,60
74,9950,2008.0,toyota 4runner,excellent,6.0,gas,NaN,automatic,SUV,silver,1.0,2018-06-08,53
75,6950,2005.0,chevrolet tahoe,excellent,NaN,gas,186021.0,automatic,SUV,NaN,1.0,2018-10-30,3
76,3000,2010.0,nissan versa,like new,4.0,gas,200412.0,automatic,hatchback,silver,NaN,2018-09-23,33
77,4200,2012.0,ford focus,like new,4.0,gas,144273.0,automatic,sedan,silver,NaN,2018-06-11,19
80,26900,2014.0,chevrolet silverado 1500 crew,good,8.0,gas,68607.0,automatic,pickup,NaN,1.0,2018-09-08,10
81,5900,2000.0,ford f250 super duty,good,8.0,diesel,202752.0,automatic,pickup,red,NaN,2018-07-08,32

#### <span style="color: gold;">`'is_4wd'` column</span>

<span style="color: blue;"><u>**OBJECTIVE**</u></span>
- review & determine if the `NaN` in `is_4wd` column should be zero (`0` = not 4wd vehicle)

In [8]:
# `is_4wd`: see rows with NaN
rows_with_nan = vehicles_df[vehicles_df['is_4wd'].isna()]

display(rows_with_nan.sample(60))

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
39068,7950,2012.0,volkswagen jetta,excellent,4.0,diesel,62000.0,manual,sedan,silver,NaN,2018-10-15,44
21093,8995,2014.0,toyota camry,excellent,4.0,gas,80000.0,automatic,sedan,black,NaN,2019-01-12,2
32279,16990,2008.0,ford econoline,good,8.0,gas,104738.0,automatic,truck,white,NaN,2018-10-31,29
12440,9999,2013.0,toyota tacoma,excellent,4.0,gas,158025.0,automatic,pickup,white,NaN,2018-06-07,95
9742,12500,2018.0,nissan altima,like new,NaN,gas,320000.0,automatic,sedan,silver,NaN,2018-08-14,75
9416,12995,2016.0,kia soul,excellent,4.0,gas,28207.0,automatic,SUV,NaN,NaN,2018-06-11,129
24500,5500,2005.0,nissan maxima,excellent,6.0,gas,107190.0,automatic,sedan,silver,NaN,2019-02-24,39
4974,3750,2004.0,ford taurus,excellent,6.0,gas,130000.0,automatic,sedan,silver,NaN,2018-08-21,31
6969,7988,2009.0,chevrolet trailblazer,excellent,6.0,gas,72800.0,automatic,SUV,white,NaN,2018-11-11,50
25541,5750,NaN,toyota corolla,like new,4.0,gas,NaN,automatic,sedan,silver,NaN,2019-02-05,30
9035,18999,2017.0,toyota tundra,excellent,NaN,gas,50000.0,automatic,truck,white,NaN,2018-08-28,29
45102,3400,2009.0,ford fusion se,good,6.0,gas,NaN,automatic,sedan,black,NaN,2018-07-04,18
48861,7900,2009.0,toyota camry,excellent,4.0,gas,106894.0,automatic,sedan,NaN,NaN,2019-03-22,100
3913,15500,2017.0,honda accord,excellent,4.0,gas,31700.0,automatic,sedan,NaN,NaN,2018-10-26,41
2372,6450,NaN,chevrolet tahoe,excellent,8.0,gas,NaN,automatic,SUV,blue,NaN,2018-11-29,42
28352,7900,2013.0,chrysler 200,good,6.0,gas,103998.0,automatic,sedan,black,NaN,2019-02-17,93
45434,5900,2005.0,ram 3500,fair,6.0,diesel,NaN,manual,pickup,white,NaN,2018-06-18,14
42359,3495,2007.0,chevrolet impala,excellent,6.0,gas,100000.0,automatic,sedan,red,NaN,2018-06-28,16
48755,15998,2017.0,chevrolet malibu,excellent,4.0,gas,24631.0,automatic,sedan,custom,NaN,2018-05-29,10
25244,5988,2004.0,chevrolet silverado,excellent,6.0,gas,NaN,automatic,truck,red,NaN,2018-11-05,25
46106,3500,2007.0,ford fusion,good,6.0,gas,174150.0,automatic,sedan,grey,NaN,2019-02-14,75
14498,16995,2018.0,chevrolet impala,like new,6.0,gas,35258.0,automatic,sedan,silver,NaN,2018-08-17,53
15810,34988,2019.0,chevrolet silverado,like new,4.0,gas,3000.0,automatic,truck,silver,NaN,2019-03-04,66
31262,9500,2010.0,toyota prius,excellent,4.0,gas,79600.0,automatic,hatchback,white,NaN,2019-02-15,42
13561,16990,2008.0,ford econoline,good,8.0,gas,99693.0,automatic,truck,white,NaN,2019-03-06,7
41813,2250,2003.0,nissan altima,excellent,6.0,gas,180000.0,manual,sedan,NaN,NaN,2018-09-03,123
20414,4789,2006.0,honda accord,excellent,4.0,gas,145865.0,automatic,sedan,blue,NaN,2018-06-20,54
5209,13990,2015.0,chevrolet equinox,excellent,4.0,gas,76555.0,automatic,SUV,white,NaN,2019-04-18,79
6357,25600,2014.0,ford mustang gt coupe 2d,good,8.0,gas,2589.0,other,coupe,NaN,NaN,2018-07-30,62
28663,8000,2007.0,ford f350 super duty,good,8.0,diesel,266000.0,automatic,truck,NaN,NaN,2018-06-10,5
16244,6995,2012.0,toyota prius,excellent,4.0,hybrid,143180.0,automatic,hatchback,green,NaN,2018-12-02,30
42223,975,2006.0,volkswagen jetta,fair,4.0,gas,165000.0,automatic,sedan,blue,NaN,2018-08-12,7
7357,4000,2006.0,chevrolet malibu,good,6.0,gas,10942.0,automatic,sedan,silver,NaN,2019-02-05,37
16546,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2018-07-25,44
5243,2995,2009.0,hyundai sonata,excellent,4.0,gas,106000.0,manual,sedan,grey,NaN,2018-12-27,90
34879,8500,2006.0,ram 1500,good,8.0,gas,105000.0,automatic,truck,grey,NaN,2018-05-09,77
20702,2200,2006.0,hyundai sonata,good,6.0,gas,160000.0,automatic,sedan,grey,NaN,2018-10-06,30
31711,20990,2015.0,chevrolet silverado 1500,good,8.0,gas,NaN,automatic,truck,black,NaN,2019-02-13,17
45616,2200,NaN,ford taurus,like new,6.0,gas,155000.0,automatic,sedan,blue,NaN,2018-11-29,7
51388,1995,2001.0,toyota camry,good,4.0,gas,195894.0,automatic,sedan,custom,NaN,2018-12-21,18
20979,12905,2009.0,chevrolet tahoe,good,8.0,gas,118608.0,automatic,SUV,NaN,NaN,2018-11-08,156
7858,5500,NaN,nissan versa,good,4.0,gas,86159.0,automatic,sedan,NaN,NaN,2018-12-10,27
7844,7499,2006.0,ford ranger,excellent,NaN,gas,127478.0,automatic,truck,black,NaN,2018-11-21,70
42720,10495,2015.0,chrysler 200,excellent,4.0,gas,72283.0,automatic,sedan,black,NaN,2018-12-04,21
45750,4400,2002.0,volkswagen jetta,good,4.0,diesel,103000.0,automatic,wagon,silver,NaN,2018-12-12,46
27733,25000,1964.0,ford mustang,like new,8.0,gas,47000.0,manual,coupe,red,NaN,2018-07-09,64
26926,1300,2002.0,volkswagen jetta,good,4.0,gas,210000.0,automatic,sedan,blue,NaN,2018-08-04,12
1947,12995,2016.0,volkswagen jetta,like new,4.0,gas,NaN,automatic,sedan,grey,NaN,2019-02-06,12
17211,2699,2006.0,toyota corolla,good,4.0,gas,128414.0,automatic,sedan,NaN,NaN,2018-06-27,19
10823,16846,2014.0,ford f-150,excellent,8.0,gas,81975.0,automatic,truck,white,NaN,2018-05-22,44
47058,9900,2017.0,hyundai elantra,good,4.0,gas,0.0,automatic,sedan,red,NaN,2018-06-11,61
17102,244,2017.0,ford focus,excellent,4.0,gas,15830.0,automatic,hatchback,black,NaN,2018-07-14,38
35920,9995,2015.0,nissan sentra,good,4.0,gas,89971.0,automatic,sedan,NaN,NaN,2018-12-29,29
13785,5200,2003.0,ford mustang,good,8.0,gas,110000.0,automatic,coupe,red,NaN,2018-05-08,13
20899,14988,2010.0,chevrolet silverado 1500,good,8.0,gas,103588.0,automatic,truck,silver,NaN,2019-03-25,12
35234,15500,2016.0,dodge grand caravan,excellent,6.0,gas,59304.0,automatic,mini-van,black,NaN,2018-12-23,40
302,7999,2013.0,ford focus,good,4.0,gas,127230.0,automatic,sedan,red,NaN,2018-09-28,9
42113,9995,NaN,nissan altima,excellent,NaN,gas,NaN,automatic,sedan,white,NaN,2018-08-23,16
14974,3999,2011.0,ford f150,good,NaN,gas,218000.0,automatic,pickup,NaN,NaN,2018-10-20,34
234,8595,2010.0,toyota prius,excellent,4.0,gas,99630.0,automatic,hatchback,white,NaN,2019-02-05,44

In [9]:
# EDA: filter & view NaN in the 'type' column for specifically for the following vehicle types
# OBJECTIVE: replace NaN with zero (0 = Non-4wd vehicle)

# list of vehicle types that will not have 4wd capability and use with `.isin()` to view then later with either `.fillna()` or `.replace()`
no_4wd_nan = ['sedan', 'coupe', 'mini-van', 'hatchback', 'van', 'convertible', 'other', 'bus']

# new dataframe to review rows
sorted_non_4wd_df = vehicles_df[vehicles_df['type'].isin(no_4wd_nan)][['model_year', 'model', 'type', 'is_4wd']].sort_values(by='model')

# review top, bottom, and random selected (60) rows to have confidence to replace NaN with zero (0 = not 4wd capable) in 'type' column
display(sorted_non_4wd_df.head(60))
display(sorted_non_4wd_df.tail(60))
display(sorted_non_4wd_df.sample(60))

       model_year     model   type  is_4wd
33040      2003.0  acura tl  sedan     NaN
38743      2013.0  acura tl  sedan     NaN
41145      2013.0  acura tl  sedan     NaN
38760      2008.0  acura tl  sedan     NaN
23124      2003.0  acura tl  sedan     NaN
11355      2007.0  acura tl  sedan     NaN
23110      2005.0  acura tl  sedan     NaN
32707      2012.0  acura tl  sedan     NaN
23106      2007.0  acura tl  sedan     NaN
11413      2011.0  acura tl  sedan     1.0
38843      2006.0  acura tl  sedan     NaN
50532      2012.0  acura tl  sedan     NaN
38891      2009.0  acura tl  sedan     NaN
50543      2005.0  acura tl  sedan     NaN
38951      2008.0  acura tl  sedan     NaN
38988      2006.0  acura tl  sedan     NaN
44882      2007.0  acura tl  sedan     NaN
31609      2008.0  acura tl  sedan     NaN
44819      2010.0  acura tl  sedan     NaN
22269      2013.0  acura tl  sedan     NaN
12444      2013.0  acura tl  sedan     NaN
21953      2008.0  acura tl  sedan     NaN
21912      2007.0  acura tl  sedan     NaN
39563      2013.0  acura tl  sedan     1.0
33750         NaN  acura tl  sedan     NaN
33749      2011.0  acura tl  sedan     NaN
11267      2011.0  acura tl  sedan     1.0
19032      2006.0  acura tl  sedan     NaN
42617      2001.0  acura tl  sedan     NaN
42582      2005.0  acura tl  sedan     NaN
46065      2004.0  acura tl  sedan     NaN
50253         NaN  acura tl  sedan     NaN
34133      2007.0  acura tl  sedan     NaN
37968      2005.0  acura tl  sedan     NaN
2192       2009.0  acura tl  sedan     NaN
24175      2007.0  acura tl  sedan     NaN
16176         NaN  acura tl  sedan     NaN
24111      2012.0  acura tl  sedan     NaN
10583      2005.0  acura tl  sedan     NaN
16144      2004.0  acura tl  sedan     NaN
10662      2010.0  acura tl  sedan     NaN
38400      2012.0  acura tl  sedan     NaN
23789      2008.0  acura tl  sedan     NaN
10903      2007.0  acura tl  sedan     NaN
350        2006.0  acura tl  sedan     NaN
38628      2012.0  acura tl  sedan     NaN
23529      2005.0  acura tl  sedan     NaN
11039         NaN  acura tl  sedan     NaN
11095      2011.0  acura tl  sedan     1.0
16061      2012.0  acura tl  sedan     NaN
11145      2011.0  acura tl  sedan     1.0
11190      2012.0  acura tl  sedan     NaN
45277      2004.0  acura tl  sedan     NaN
1862       2005.0  acura tl  sedan     NaN
11246      2005.0  acura tl  sedan     NaN
11250      2011.0  acura tl  sedan     1.0
33744      2014.0  acura tl  sedan     NaN
39679      2012.0  acura tl  sedan     NaN
39684      2007.0  acura tl  sedan     NaN
14030      2007.0  acura tl  sedan     NaN

       model_year              model       type  is_4wd
46569      2013.0  volkswagen passat      sedan     NaN
42078      2014.0  volkswagen passat      sedan     NaN
35025      2015.0  volkswagen passat      sedan     NaN
11261      2004.0  volkswagen passat      sedan     NaN
43403      2007.0  volkswagen passat      sedan     NaN
14511      2013.0  volkswagen passat      sedan     NaN
40209      2013.0  volkswagen passat      sedan     NaN
27283      2008.0  volkswagen passat  hatchback     NaN
48302      2015.0  volkswagen passat      sedan     NaN
20865      2016.0  volkswagen passat      sedan     NaN
2395          NaN  volkswagen passat      sedan     NaN
48309      2012.0  volkswagen passat      sedan     NaN
45397      2013.0  volkswagen passat      sedan     NaN
27427         NaN  volkswagen passat      sedan     NaN
36175      2013.0  volkswagen passat      sedan     NaN
29439         NaN  volkswagen passat      sedan     NaN
29415         NaN  volkswagen passat      sedan     NaN
21139      2013.0  volkswagen passat      sedan     NaN
5500       2015.0  volkswagen passat      sedan     NaN
13954      2014.0  volkswagen passat      sedan     NaN
17832      2013.0  volkswagen passat      sedan     NaN
46160      2015.0  volkswagen passat      sedan     NaN
33818      2014.0  volkswagen passat      sedan     NaN
5491       2007.0  volkswagen passat      sedan     NaN
22510      2013.0  volkswagen passat      sedan     NaN
40014      2013.0  volkswagen passat      sedan     NaN
9874       2014.0  volkswagen passat      sedan     NaN
33864      2014.0  volkswagen passat      sedan     NaN
13924      2013.0  volkswagen passat      sedan     NaN
30926      2013.0  volkswagen passat      sedan     NaN
3875       2015.0  volkswagen passat      sedan     NaN
22456      2000.0  volkswagen passat      sedan     NaN
13922      2015.0  volkswagen passat      sedan     NaN
48629      2014.0  volkswagen passat      sedan     NaN
49494      2009.0  volkswagen passat      sedan     NaN
22616      2012.0  volkswagen passat      sedan     NaN
14021      2017.0  volkswagen passat      sedan     NaN
27810      2006.0  volkswagen passat      sedan     NaN
44439      2012.0  volkswagen passat      sedan     NaN
11094         NaN  volkswagen passat      sedan     NaN
11093      2012.0  volkswagen passat      sedan     NaN
41796         NaN  volkswagen passat      sedan     NaN
9424       2017.0  volkswagen passat      sedan     NaN
14157         NaN  volkswagen passat      sedan     NaN
38936      2014.0  volkswagen passat      sedan     NaN
40036      2013.0  volkswagen passat      sedan     NaN
45421      2012.0  volkswagen passat      sedan     NaN
6233       2013.0  volkswagen passat      sedan     NaN
22765      2013.0  volkswagen passat      sedan     NaN
22740      2005.0  volkswagen passat      sedan     NaN
2210       2013.0  volkswagen passat      sedan     NaN
1143       2016.0  volkswagen passat      sedan     NaN
45428      2012.0  volkswagen passat      sedan     NaN
34330      2004.0  volkswagen passat      sedan     NaN
39011      2013.0  volkswagen passat      sedan     NaN
5632       2015.0  volkswagen passat      sedan     NaN
12758      2009.0  volkswagen passat      sedan     NaN
3832       2012.0  volkswagen passat      sedan     NaN
41761      2013.0  volkswagen passat      sedan     NaN
29734      2015.0  volkswagen passat      sedan     1.0

       model_year                         model         type  is_4wd
28808      2012.0                   ford fusion        sedan     NaN
34418      2014.0              volkswagen jetta        sedan     NaN
15621      2018.0                honda civic lx        sedan     NaN
24319      2018.0  chevrolet camaro lt coupe 2d        coupe     NaN
3353       2015.0              volkswagen jetta        sedan     NaN
46396      2018.0                 nissan sentra        sedan     NaN
4844       2010.0              chevrolet malibu        sedan     NaN
46702      2011.0                  chrysler 300        sedan     NaN
24162      2015.0      ford mustang gt coupe 2d        coupe     NaN
12251      2014.0              volkswagen jetta        sedan     NaN
30679      2014.0                 ford focus se        sedan     NaN
44202      2009.0                  toyota camry        sedan     NaN
28041      1999.0                  honda accord        sedan     NaN
46103      2010.0                ford fusion se        sedan     NaN
25617      2016.0                  chrysler 300        sedan     NaN
41450         NaN                  honda accord        sedan     NaN
19635      2003.0               toyota camry le        sedan     NaN
28624      2010.0           dodge grand caravan          van     NaN
34369      2010.0                  honda accord        sedan     NaN
12548      2016.0                   honda civic        sedan     NaN
15055      2017.0      ford mustang gt coupe 2d        coupe     NaN
38735      2009.0              chevrolet malibu        sedan     NaN
19164      2008.0                 dodge charger        sedan     NaN
4213       2015.0            chevrolet corvette  convertible     NaN
20534      2011.0                      acura tl        sedan     1.0
36332      2005.0           dodge grand caravan     mini-van     NaN
5109       2013.0              volkswagen jetta        sedan     NaN
48786      2008.0                     ford edge        sedan     1.0
32348      2010.0              chevrolet impala        sedan     NaN
28050      2012.0                 honda odyssey          van     NaN
17263      2012.0           dodge grand caravan     mini-van     NaN
51127      2011.0                   ford fusion        sedan     1.0
31054      2015.0                   ford taurus        sedan     NaN
9120       2005.0              volkswagen jetta        sedan     NaN
37145      2005.0               toyota camry le        sedan     NaN
44204      2010.0              chevrolet malibu        sedan     NaN
2328       2014.0                  nissan versa        sedan     NaN
23732      2012.0                  ford mustang        coupe     NaN
8096       2005.0                      acura tl        sedan     NaN
25045      2013.0                 ford focus se        sedan     NaN
3670       2005.0                toyota corolla        sedan     NaN
51298      2005.0                  toyota camry        sedan     NaN
1218       2008.0                     ford edge        sedan     1.0
24612      2011.0                    ford focus        sedan     NaN
38326      2008.0               hyundai elantra        sedan     NaN
47776      2002.0                  ford mustang        coupe     NaN
48574      2013.0                  chrysler 300        sedan     NaN
41504      2014.0                hyundai sonata        sedan     NaN
44024      2015.0                 ford focus se        sedan     NaN
48289      2014.0                 nissan sentra        sedan     NaN
20349         NaN       chrysler town & country     mini-van     NaN
49507         NaN                  honda accord        sedan     NaN
13416      2009.0                  toyota camry        sedan     NaN
40792      2013.0                 nissan altima        sedan     NaN
36488      2005.0       chrysler town & country          van     NaN
19148      2018.0                  honda accord        sedan     NaN
22809         NaN                    ford focus        sedan     NaN
51514      2012.0              volkswagen jetta        sedan     NaN
10953      2006.0                  chrysler 300        sedan     1.0
12814      2015.0                      ram 3500        other     NaN

In [10]:
# EDA: filter & view NaN in the 'type' column for specifically for the following vehicle types
# OBJECTIVE: replace NaN with one (1 = 4wd vehicle)

yes_4wd_nan = ['SUV', 'truck', 'pickup', 'wagon', 'offroad']

#yes_4wd_nan = ['truck']

# new dataframe to review rows
sorted_yes_4wd_df = vehicles_df[vehicles_df['type'].isin(yes_4wd_nan)][['model_year', 'model', 'type', 'is_4wd']].sort_values(by='model')


# review top, bottom, and random selected (60) rows to have confidence to replace NaN with zero (0 = not 4wd capable) in 'type' column
display(sorted_yes_4wd_df.head(60))
display(sorted_yes_4wd_df.tail(60))
display(sorted_yes_4wd_df.sample(60))

       model_year     model   type  is_4wd
8133       2007.0  acura tl    SUV     NaN
7029       2007.0  acura tl    SUV     NaN
8675       2007.0  acura tl    SUV     NaN
16496      2008.0    bmw x5    SUV     1.0
16449      2010.0    bmw x5    SUV     1.0
29694      2010.0    bmw x5    SUV     1.0
29704      2011.0    bmw x5    SUV     1.0
43159      2012.0    bmw x5    SUV     1.0
29745      2012.0    bmw x5    SUV     1.0
43196      2011.0    bmw x5    SUV     1.0
29760      2010.0    bmw x5    SUV     1.0
43253      2012.0    bmw x5    SUV     1.0
43255      2012.0    bmw x5    SUV     1.0
4822       2009.0    bmw x5    SUV     1.0
50837         NaN    bmw x5    SUV     1.0
16535      2012.0    bmw x5    SUV     1.0
50851      2012.0    bmw x5    SUV     NaN
30101      2011.0    bmw x5    SUV     1.0
43620      2008.0    bmw x5    SUV     1.0
1012       2005.0    bmw x5    SUV     1.0
43693      2008.0    bmw x5    SUV     1.0
4978          NaN    bmw x5    SUV     1.0
43882      2012.0    bmw x5    SUV     1.0
955        2006.0    bmw x5    SUV     1.0
14850      2012.0    bmw x5    SUV     1.0
30417      2013.0    bmw x5    SUV     1.0
43421      2013.0    bmw x5    SUV     1.0
16595      2011.0    bmw x5    SUV     1.0
0          2011.0    bmw x5    SUV     1.0
944        2012.0    bmw x5  wagon     1.0
17941      2011.0    bmw x5    SUV     1.0
42239      2012.0    bmw x5    SUV     1.0
42243         NaN    bmw x5    SUV     1.0
17754      2003.0    bmw x5    SUV     1.0
17747      2015.0    bmw x5    SUV     1.0
17746      2012.0    bmw x5    SUV     1.0
17745      2011.0    bmw x5    SUV     1.0
17671      2014.0    bmw x5    SUV     NaN
42425      2006.0    bmw x5    SUV     1.0
42434         NaN    bmw x5    SUV     1.0
17519         NaN    bmw x5    SUV     1.0
4677          NaN    bmw x5    SUV     1.0
42512      2015.0    bmw x5    SUV     NaN
17299      2011.0    bmw x5    SUV     1.0
17236      2013.0    bmw x5    SUV     1.0
36521      2003.0    bmw x5    SUV     1.0
17223      2007.0    bmw x5    SUV     1.0
42669      2010.0    bmw x5    SUV     1.0
17178      2010.0    bmw x5    SUV     1.0
4601       2008.0    bmw x5    SUV     1.0
4603       2005.0    bmw x5    SUV     1.0
16904      2013.0    bmw x5    SUV     1.0
29580      2012.0    bmw x5    SUV     1.0
16689      2010.0    bmw x5    SUV     1.0
49200      2011.0    bmw x5    SUV     1.0
14802      2016.0    bmw x5    SUV     NaN
14731      2001.0    bmw x5    SUV     1.0
14536      2002.0    bmw x5    SUV     1.0
51143      2006.0    bmw x5  truck     1.0
45396      2007.0    bmw x5    SUV     1.0

       model_year              model    type  is_4wd
27439      2007.0      toyota tundra   truck     1.0
16725      2006.0      toyota tundra   truck     NaN
2110       2014.0      toyota tundra   truck     1.0
31366      2000.0      toyota tundra   truck     NaN
16724      2003.0      toyota tundra  pickup     NaN
20875      2007.0      toyota tundra   truck     NaN
46479      2001.0      toyota tundra   truck     1.0
31407         NaN      toyota tundra  pickup     1.0
20549      2005.0      toyota tundra  pickup     1.0
40796      2006.0      toyota tundra  pickup     1.0
5005       2018.0      toyota tundra   truck     1.0
12741      2018.0      toyota tundra   truck     1.0
2114       2016.0      toyota tundra   truck     1.0
20917      2000.0      toyota tundra   truck     NaN
20956      2000.0      toyota tundra   truck     NaN
48985      2010.0      toyota tundra   truck     1.0
46254      2005.0   volkswagen jetta   wagon     NaN
25086      2005.0   volkswagen jetta   wagon     NaN
9949       2005.0   volkswagen jetta   wagon     NaN
29931      2005.0   volkswagen jetta   wagon     NaN
659           NaN   volkswagen jetta   wagon     NaN
40144      2013.0   volkswagen jetta   wagon     NaN
22375      2005.0   volkswagen jetta   wagon     NaN
37845      2009.0   volkswagen jetta   wagon     NaN
9371       2013.0   volkswagen jetta   wagon     NaN
4126       2003.0   volkswagen jetta   wagon     NaN
16224      2013.0   volkswagen jetta   wagon     NaN
40825      2009.0   volkswagen jetta   wagon     NaN
38425      2009.0   volkswagen jetta   wagon     NaN
40956      2005.0   volkswagen jetta   wagon     NaN
49502      2013.0   volkswagen jetta   wagon     NaN
31857      2009.0   volkswagen jetta   wagon     NaN
50191      2013.0   volkswagen jetta   wagon     NaN
11848      2002.0   volkswagen jetta   wagon     NaN
45750      2002.0   volkswagen jetta   wagon     NaN
42706      2012.0   volkswagen jetta   wagon     NaN
18465      2013.0   volkswagen jetta   wagon     NaN
4833       2013.0   volkswagen jetta   wagon     NaN
5925          NaN  volkswagen passat   wagon     NaN
5903       2008.0  volkswagen passat   wagon     NaN
38549      2007.0  volkswagen passat   wagon     NaN
3034       2008.0  volkswagen passat   wagon     NaN
23310      2004.0  volkswagen passat   wagon     NaN
31139      2003.0  volkswagen passat   wagon     NaN
19968      2004.0  volkswagen passat   wagon     NaN
693        2008.0  volkswagen passat   wagon     NaN
24818      2005.0  volkswagen passat   wagon     NaN
5215       2010.0  volkswagen passat   wagon     NaN
39391      2003.0  volkswagen passat   wagon     1.0
3373       2007.0  volkswagen passat   wagon     NaN
31728      2001.0  volkswagen passat   wagon     NaN
42457      2003.0  volkswagen passat   wagon     NaN
32639      2008.0  volkswagen passat   wagon     NaN
24314      2008.0  volkswagen passat   wagon     NaN
44606      2007.0  volkswagen passat   wagon     NaN
11343      2007.0  volkswagen passat   wagon     NaN
22773      2000.0  volkswagen passat   wagon     NaN
48643      2005.0  volkswagen passat   wagon     1.0
924        2004.0  volkswagen passat   wagon     NaN
7509       2007.0  volkswagen passat   wagon     NaN

       model_year                        model    type  is_4wd
35991      2010.0                     ram 1500   truck     1.0
4101       2004.0                 dodge dakota  pickup     1.0
26595      2011.0                  ford escape     SUV     1.0
32129      2017.0              ford expedition     SUV     1.0
48142      2005.0          chevrolet silverado   truck     1.0
46787         NaN                     ram 1500  pickup     NaN
3722       2014.0                jeep cherokee     SUV     1.0
7254       2016.0                    ford f250   truck     1.0
46821      2009.0                   honda cr-v     SUV     1.0
898        2014.0     chevrolet silverado 1500  pickup     1.0
43574      2018.0              subaru forester     SUV     1.0
2473       2016.0                   ford f-150   truck     1.0
15114      2012.0             hyundai santa fe     SUV     NaN
22988      2002.0               subaru outback   wagon     1.0
2240       1995.0     chevrolet silverado 1500  pickup     NaN
1385          NaN        ford f-250 super duty   truck     1.0
14083      2010.0                toyota tundra   truck     NaN
24144      2018.0            toyota highlander     SUV     1.0
12656      2003.0                     ram 2500   truck     1.0
45086      2004.0                  ford escape     SUV     NaN
9794       2011.0                ford f-350 sd   truck     1.0
31238      2000.0                toyota tundra   truck     NaN
19261         NaN                ford f-350 sd   truck     1.0
13555      1999.0                jeep cherokee     SUV     1.0
17108      2018.0                   ford f-150   truck     1.0
25322      2007.0     chevrolet silverado 1500   truck     1.0
14912      2018.0  nissan frontier crew cab sv  pickup     1.0
17819      2014.0                   honda cr-v     SUV     1.0
32300      2010.0                  ford escape     SUV     1.0
29286      2016.0                   ford f-150  pickup     1.0
40288      2017.0                    ford edge     SUV     NaN
1357       2008.0        ford f-250 super duty   truck     NaN
2795       1996.0                  ford ranger   truck     1.0
48188      2014.0                  honda pilot     SUV     NaN
43422         NaN                     ram 1500   truck     NaN
11046      2011.0             hyundai santa fe     SUV     NaN
45995      2012.0            chevrolet equinox     SUV     NaN
47202      2011.0           chevrolet traverse     SUV     NaN
4868       2017.0                ford explorer     SUV     1.0
39261      2012.0              chevrolet tahoe     SUV     1.0
11940      2012.0                     ram 1500  pickup     1.0
20352      2006.0            gmc sierra 2500hd   truck     1.0
30931      2007.0                toyota tundra  pickup     1.0
41012      2018.0              subaru forester     SUV     1.0
43474      2008.0                ford explorer     SUV     1.0
3073       2006.0              gmc sierra 1500   truck     1.0
44050      2004.0           chevrolet colorado  pickup     NaN
16274      2002.0        chevrolet trailblazer     SUV     1.0
23896      2008.0                 jeep liberty     SUV     1.0
38602      2016.0               toyota 4runner     SUV     1.0
46631      2016.0                     ram 1500   truck     1.0
36781      2003.0   chevrolet silverado 2500hd   truck     1.0
41879      2000.0               subaru impreza   wagon     1.0
43165         NaN          chevrolet silverado   truck     1.0
35202         NaN                  kia sorento     SUV     1.0
2063       2014.0  ford f150 supercrew cab xlt  pickup     1.0
17813      2016.0                  kia sorento     SUV     1.0
22390      2009.0                    ford edge     SUV     1.0
46698         NaN                     ram 1500   truck     1.0
17916      2011.0                    ford f350   truck     1.0

#### <span style="color: gold;">`model_year` column</span>

<span style="color: blue;"><u>**OBJECTIVE**</u></span>
- review & determine how replace the `NaN` with a year in `model_year` column
- <>

<br>

<span style="color: red;"><u>**Note-2-Self**</u></span>
- Read/Review the use  `fillna()`  `mode` parameter for fill-in `'model_year'`
- `'odometer'` - take average to fill-in NaN
- <>

In [11]:
# EDA: view all the unique value and counts in the 'model_year' column

# created a new dataframe to view the entire (68) unique values
model_year_counts_df = (vehicles_df["model_year"].value_counts(sort=False)).reset_index()

# create the columns to view  in the created dataframe to review the (68) unique years and counts
model_year_counts_df.columns = ['model_year', 'count']

# sort model years in ascending order (ascending=True) or descending order (ascending=False)
model_year_df_sorted = model_year_counts_df.sort_values(by='model_year', ascending=False)

# display all (68) unique model years and its counts in the `model_year` column
display(model_year_df_sorted.head(60))
display(model_year_df_sorted.tail(10))

    model_year  count
18      2019.0    380
8       2018.0   2193
3       2017.0   2419
20      2016.0   2954
5       2015.0   3323
4       2014.0   3448
1       2013.0   3549
6       2012.0   3468
0       2011.0   3375
10      2010.0   2691
9       2009.0   2079
7       2008.0   2924
11      2007.0   2643
15      2006.0   2234
13      2005.0   2025
12      2004.0   1722
2       2003.0   1437
24      2002.0   1037
14      2001.0    845
19      2000.0    709
22      1999.0    546
29      1998.0    378
23      1997.0    327
27      1996.0    189
26      1995.0    184
17      1994.0    118
21      1993.0    108
35      1992.0     57
36      1991.0     51
34      1990.0     58
41      1989.0     58
39      1988.0     40
32      1987.0     31
46      1986.0     39
30      1985.0     18
50      1984.0     20
57      1983.0      7
51      1982.0      9
25      1981.0     10
47      1980.0     12
44      1979.0     19
42      1978.0     15
31      1977.0     13
56      1976.0      3
28      1975.0      7
33      1974.0      4
52      1973.0     15
37      1972.0      5
55      1971.0      7
53      1970.0     10
40      1969.0     10
45      1968.0     16
38      1967.0      7
16      1966.0     23
43      1965.0     10
48      1964.0      7
49      1963.0      3
59      1962.0      3
63      1961.0      1
61      1960.0      3

    model_year  count
63      1961.0      1
61      1960.0      3
66      1958.0      2
54      1955.0      1
58      1954.0      1
65      1949.0      1
60      1948.0      1
64      1936.0      1
67      1929.0      1
62      1908.0      2

### <span style="color: gold;">EDA: Duplicate names in `model` column</span>

<span style="color: blue;"><u>**OBJECTIVE**</u></span>
- review and check if there is duplicate/similar model names in `model` column
    - if found then will need to consolidate by replacing/changing the model names
- <>

<br>

<span style="color: darkorange;"><u>**Findings / Observations**</u></span>
- found several ford model names that can be consolidated
    - `ford f150` (counts=530) with `ford f-150` (counts=2796) 
    - `ford f250` (counts=339) with `ford f-250` (counts=422)
    - `ford f-250 sd` (counts=426) with `ford f-250 super duty` (counts=241)
    - `ford f250 super duty` (counts=370) with `ford f-250 super duty` (counts=241)
    - `ford f-350 sd` (counts=295) with `ford f350 super duty` (counts=246)
    - keep `f-###` model name format 
- <>

<br>

<span style="color: red;"><u>**Note-2-Self**</u></span>
- Read/Review the use  `fillna()`  `mode` parameter for fill-in `'model_year'`
- `'odometer'` - take average to fill-in NaN

In [12]:
# EDA: view all the unique value and counts in the 'model' column
# found several ford model names that can be consolidated i.e. 'ford f250' with 'ford f-250'


# create another dataframe to review the (100) unique vehicle models and its counts
model_counts_df = (vehicles_df['model'].value_counts()).reset_index()


# create the columns to view  in the created dataframe to review the (100) unique vehicle models and counts
model_counts_df.columns = ['model', 'count']


# sort `model` column by alphabectical order 
model_counts_df_sorted = model_counts_df.sort_values(by='model')


display(model_counts_df_sorted.head(60))
display(model_counts_df_sorted.tail(42))

                            model  count
96                       acura tl    236
85                         bmw x5    267
84                  buick enclave    271
65              cadillac escalade    322
49               chevrolet camaro    414
69   chevrolet camaro lt coupe 2d    311
79             chevrolet colorado    286
31             chevrolet corvette    499
40                chevrolet cruze    457
25              chevrolet equinox    591
20               chevrolet impala    674
22               chevrolet malibu    617
3             chevrolet silverado   1271
1        chevrolet silverado 1500   2171
72  chevrolet silverado 1500 crew    303
8      chevrolet silverado 2500hd    915
92     chevrolet silverado 3500hd    243
26             chevrolet suburban    562
17                chevrolet tahoe    713
88          chevrolet trailblazer    255
62             chevrolet traverse    329
93                   chrysler 200    243
67                   chrysler 300    316
81        chrysler town & country    279
48                  dodge charger    415
94                   dodge dakota    242
24            dodge grand caravan    598
75                 ford econoline    296
51                      ford edge    383
11                    ford escape    841
53                ford expedition    372
10                  ford explorer    847
0                      ford f-150   2796
47                     ford f-250    422
44                  ford f-250 sd    426
95          ford f-250 super duty    241
76                  ford f-350 sd    295
29                      ford f150    530
64    ford f150 supercrew cab xlt    327
59                      ford f250    339
54           ford f250 super duty    370
90                      ford f350    250
91           ford f350 super duty    246
16                     ford focus    754
52                  ford focus se    376
27                    ford fusion    544
70                 ford fusion se    309
19                   ford mustang    681
74       ford mustang gt coupe 2d    301
45                    ford ranger    423
71                    ford taurus    303
68                     gmc acadia    315
50                     gmc sierra    388
9                 gmc sierra 1500    906
43              gmc sierra 2500hd    438
61                      gmc yukon    331
7                    honda accord    964
13                    honda civic    815
86                 honda civic lx    262
18                     honda cr-v    685

                                model  count
86                     honda civic lx    262
18                         honda cr-v    685
39                      honda odyssey    457
73                        honda pilot    302
46                    hyundai elantra    423
83                   hyundai santa fe    273
35                     hyundai sonata    477
78                      jeep cherokee    293
15                jeep grand cherokee    806
87         jeep grand cherokee laredo    256
55                       jeep liberty    355
4                       jeep wrangler   1119
42            jeep wrangler unlimited    452
97                        kia sorento    236
57                           kia soul    349
99  mercedes-benz benze sprinter 2500     41
14                      nissan altima    813
80                    nissan frontier    281
58        nissan frontier crew cab sv    345
77                      nissan maxima    294
98                      nissan murano    235
37                       nissan rogue    469
32                      nissan sentra    497
82                       nissan versa    274
2                            ram 1500   1750
5                            ram 2500   1091
36                           ram 3500    475
33                    subaru forester    484
89                     subaru impreza    250
28                     subaru outback    538
41                     toyota 4runner    453
6                        toyota camry    990
66                    toyota camry le    316
21                     toyota corolla    650
60                  toyota highlander    334
34                       toyota prius    482
38                        toyota rav4    461
63                      toyota sienna    329
12                      toyota tacoma    827
23                      toyota tundra    603
30                   volkswagen jetta    519
56                  volkswagen passat    350

## <span style="color: teal;">Feature Engineering (FE)</span>
<span style="color: green;"><u>**Steps / Action Taken**</u></span>
- combined the following ford model names in `model` column
    - `ford f150` (counts=530) with `ford f-150` (counts=2796) 
    - `ford f250` (counts=339) with `ford f-250` (counts=422)
    - `ford f-250 sd` (counts=426) with `ford f-250 super duty` (counts=241)
    - `ford f250 super duty` (counts=370) with `ford f-250 super duty` (counts=241)
    - `ford f-350 sd` (counts=295) with `ford f350 super duty` (counts=246)
- renamed the following ford model names in `model` column
    - `ford f350 super duty` (counts=541) to `ford f-350 super duty`
    - `ford f150 supercrew cab xlt` (counts=327) to `ford f-150 supercrew cab xlt`
    - `ford f350` (counts=250) to `ford f-350`
- created two new columns, `make` and `model_name`, derived from `model`
- <>

<br>

<span style="color: darkorange;"><u>**Findings / Observations**</u></span>
- <>

<br>

<span style="color: red;"><u>**Note-2-Self**</u></span> 
- for now...okay to keep the `date_posted` column as `object` datatype
    - will determine and return if needed to change to `datetime` datatype
- may want to clean the `model_year` column to be 4-digit year (YYYY)
- <>

### <span style="color: green;">Combine & Rename ford model names in `model` column</span>

In [13]:
# FE: replace the following model names in the 'model' column

# `ford f150` (counts=530) with `ford f-150` (counts=2796)
vehicles_df['model'] = vehicles_df['model'].replace('ford f150', 'ford f-150')

# `ford f250` (counts=339) with `ford f-250` (counts=422)
vehicles_df['model'] = vehicles_df['model'].replace('ford f250', 'ford f-250')

# `ford f-250 sd` (counts=426) with `ford f-250 super duty` (counts=241)
vehicles_df['model'] = vehicles_df['model'].replace('ford f-250 sd', 'ford f-250 super duty')

# `ford f250 super duty` (counts=370) with `ford f-250 super duty` (counts=241)
vehicles_df['model'] = vehicles_df['model'].replace('ford f250 super duty', 'ford f-250 super duty')

# `ford f-350 sd` (counts=295) with `ford f350 super duty` (counts=246)
vehicles_df['model'] = vehicles_df['model'].replace('ford f-350 sd', 'ford f350 super duty')

# rename `ford f350 super duty` (counts=541) to `ford f-350 super duty`
vehicles_df['model'] = vehicles_df['model'].replace('ford f350 super duty', 'ford f-350 super duty')

# rename `ford f150 supercrew cab xlt` (counts=327) to `ford f-150 supercrew cab xlt`
vehicles_df['model'] = vehicles_df['model'].replace('ford f150 supercrew cab xlt', 'ford f-150 supercrew cab xlt')

# rename `ford f350` (counts=250) to `ford f-350`
vehicles_df['model'] = vehicles_df['model'].replace('ford f350', 'ford f-350')


# create another dataframe to review the changes above in the 'model' column
model_counts_df = vehicles_df['model'].value_counts().reset_index()


# create the columns to view  in the created dataframe to review the (100) unique vehicle models and counts
model_counts_df.columns = ['model', 'count']

# sort `model` column by alphabectical order 
sorted_model_df = model_counts_df.sort_values(by='model')


display(sorted_model_df)
display(sorted_model_df.head(60))
display(sorted_model_df.tail(36))

                model  count
91           acura tl    236
82             bmw x5    267
81      buick enclave    271
63  cadillac escalade    322
49   chevrolet camaro    414
..                ...    ...
60      toyota sienna    329
13      toyota tacoma    827
25      toyota tundra    603
32   volkswagen jetta    519
55  volkswagen passat    350

[95 rows x 2 columns]

                            model  count
91                       acura tl    236
82                         bmw x5    267
81                  buick enclave    271
63              cadillac escalade    322
49               chevrolet camaro    414
67   chevrolet camaro lt coupe 2d    311
76             chevrolet colorado    286
33             chevrolet corvette    499
42                chevrolet cruze    457
27              chevrolet equinox    591
22               chevrolet impala    674
24               chevrolet malibu    617
3             chevrolet silverado   1271
1        chevrolet silverado 1500   2171
69  chevrolet silverado 1500 crew    303
9      chevrolet silverado 2500hd    915
88     chevrolet silverado 3500hd    243
28             chevrolet suburban    562
19                chevrolet tahoe    713
85          chevrolet trailblazer    255
61             chevrolet traverse    329
89                   chrysler 200    243
65                   chrysler 300    316
78        chrysler town & country    279
48                  dodge charger    415
90                   dodge dakota    242
26            dodge grand caravan    598
73                 ford econoline    296
51                      ford edge    383
12                    ford escape    841
53                ford expedition    372
11                  ford explorer    847
0                      ford f-150   3326
62   ford f-150 supercrew cab xlt    327
17                     ford f-250    761
6           ford f-250 super duty   1037
87                     ford f-350    250
30          ford f-350 super duty    541
18                     ford focus    754
52                  ford focus se    376
29                    ford fusion    544
68                 ford fusion se    309
21                   ford mustang    681
72       ford mustang gt coupe 2d    301
47                    ford ranger    423
70                    ford taurus    303
66                     gmc acadia    315
50                     gmc sierra    388
10                gmc sierra 1500    906
45              gmc sierra 2500hd    438
59                      gmc yukon    331
8                    honda accord    964
14                    honda civic    815
83                 honda civic lx    262
20                     honda cr-v    685
41                  honda odyssey    457
71                    honda pilot    302
46                hyundai elantra    423
80               hyundai santa fe    273
37                 hyundai sonata    477

                                model  count
37                     hyundai sonata    477
75                      jeep cherokee    293
16                jeep grand cherokee    806
84         jeep grand cherokee laredo    256
54                       jeep liberty    355
4                       jeep wrangler   1119
44            jeep wrangler unlimited    452
92                        kia sorento    236
56                           kia soul    349
94  mercedes-benz benze sprinter 2500     41
15                      nissan altima    813
77                    nissan frontier    281
57        nissan frontier crew cab sv    345
74                      nissan maxima    294
93                      nissan murano    235
39                       nissan rogue    469
34                      nissan sentra    497
79                       nissan versa    274
2                            ram 1500   1750
5                            ram 2500   1091
38                           ram 3500    475
35                    subaru forester    484
86                     subaru impreza    250
31                     subaru outback    538
43                     toyota 4runner    453
7                        toyota camry    990
64                    toyota camry le    316
23                     toyota corolla    650
58                  toyota highlander    334
36                       toyota prius    482
40                        toyota rav4    461
60                      toyota sienna    329
13                      toyota tacoma    827
25                      toyota tundra    603
32                   volkswagen jetta    519
55                  volkswagen passat    350

### <span style="color: green;">Create Two New Columns: `make` and `model_name`</span>

In [14]:
# FE: create two new columns, 'make' and 'model_name', derived from 'model' column

# `.str.split(' ')`: This splits each string in the model column by spaces. The default behavior is to split by whitespace.
# `n=1`: This limits the split to 1 occurrence. This means that the string will be split at the first space only. If there are more spaces in the string, they will be ignored for further splitting.
# `expand=True`: This returns a DataFrame where each split part becomes a separate column.
vehicles_df[['make', 'model_name']] = vehicles_df['model'].str.split(' ', n=1, expand=True)


# review & confirm two new columns created
display(vehicles_df.info())
display(vehicles_df.isna().sum())
display(vehicles_df)
display(vehicles_df.head(60))
#display(vehicles_df.tail(60))
#display(vehicles_df.sample(60))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
 13  make          51525 non-null  object
 14  model_name    51525 non-null  object
dtypes: float64(4), int64(2), object(9)
memory usage: 5.9+ MB

None

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
make                0
model_name          0
dtype: int64

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,make,model_name
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19,bmw,x5
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50,ford,f-150
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79,hyundai,sonata
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9,ford,f-150
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28,chrysler,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51520,9249,2013.0,nissan maxima,like new,6.0,gas,88136.0,automatic,sedan,black,NaN,2018-10-03,37,nissan,maxima
51521,2700,2002.0,honda civic,salvage,4.0,gas,181500.0,automatic,sedan,white,NaN,2018-11-14,22,honda,civic
51522,3950,2009.0,hyundai sonata,excellent,4.0,gas,128000.0,automatic,sedan,blue,NaN,2018-11-15,32,hyundai,sonata
51523,7455,2013.0,toyota corolla,good,4.0,gas,139573.0,automatic,sedan,black,NaN,2018-07-02,71,toyota,corolla
51524,6300,2014.0,nissan altima,good,4.0,gas,NaN,automatic,sedan,NaN,NaN,2018-06-05,10,nissan,altima

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,make,model_name
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19,bmw,x5
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50,ford,f-150
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79,hyundai,sonata
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9,ford,f-150
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28,chrysler,200
5,14990,2014.0,chrysler 300,excellent,6.0,gas,57954.0,automatic,sedan,black,1.0,2018-06-20,15,chrysler,300
6,12990,2015.0,toyota camry,excellent,4.0,gas,79212.0,automatic,sedan,white,NaN,2018-12-27,73,toyota,camry
7,15990,2013.0,honda pilot,excellent,6.0,gas,109473.0,automatic,SUV,black,1.0,2019-01-07,68,honda,pilot
8,11500,2012.0,kia sorento,excellent,4.0,gas,104174.0,automatic,SUV,NaN,1.0,2018-07-16,19,kia,sorento
9,9200,2008.0,honda pilot,excellent,NaN,gas,147191.0,automatic,SUV,blue,1.0,2019-02-15,17,honda,pilot
10,19500,2011.0,chevrolet silverado 1500,excellent,8.0,gas,128413.0,automatic,pickup,black,1.0,2018-09-17,38,chevrolet,silverado 1500
11,8990,2012.0,honda accord,excellent,4.0,gas,111142.0,automatic,sedan,grey,NaN,2019-03-28,29,honda,accord
12,18990,2012.0,ram 1500,excellent,8.0,gas,140742.0,automatic,pickup,NaN,1.0,2019-04-02,37,ram,1500
13,16500,2018.0,hyundai sonata,excellent,4.0,gas,22104.0,automatic,sedan,silver,NaN,2019-01-14,29,hyundai,sonata
14,12990,2009.0,gmc yukon,excellent,8.0,gas,132285.0,automatic,SUV,black,1.0,2019-01-31,24,gmc,yukon
15,17990,2013.0,ram 1500,excellent,8.0,gas,NaN,automatic,pickup,red,1.0,2018-05-15,111,ram,1500
16,14990,2010.0,ram 1500,excellent,8.0,gas,130725.0,automatic,pickup,red,1.0,2018-12-30,13,ram,1500
17,13990,2014.0,jeep cherokee,excellent,6.0,gas,100669.0,automatic,SUV,red,1.0,2018-08-16,25,jeep,cherokee
18,12500,2013.0,chevrolet traverse,excellent,6.0,gas,128325.0,automatic,SUV,white,1.0,2019-04-09,13,chevrolet,traverse
19,13990,2018.0,hyundai elantra,excellent,4.0,gas,31932.0,automatic,sedan,red,NaN,2018-08-25,27,hyundai,elantra
20,6990,NaN,chevrolet tahoe,excellent,8.0,gas,147485.0,automatic,SUV,silver,1.0,2018-08-05,28,chevrolet,tahoe
21,5250,2007.0,toyota rav4,good,6.0,gas,154000.0,automatic,SUV,NaN,NaN,2018-08-22,8,toyota,rav4
22,7500,2004.0,chevrolet silverado,like new,8.0,gas,180000.0,automatic,truck,red,1.0,2019-01-05,64,chevrolet,silverado
23,7500,2004.0,jeep wrangler,good,6.0,gas,NaN,automatic,SUV,red,1.0,2018-05-17,39,jeep,wrangler
24,3950,2009.0,chrysler 200,excellent,4.0,gas,NaN,automatic,sedan,red,NaN,2018-06-11,40,chrysler,200
25,11499,2017.0,chevrolet malibu,like new,4.0,gas,NaN,automatic,sedan,NaN,NaN,2018-07-26,43,chevrolet,malibu
26,8499,2014.0,ford fusion se,like new,4.0,gas,79523.0,automatic,sedan,red,NaN,2018-10-25,23,ford,fusion se
27,12999,2015.0,chevrolet impala,like new,6.0,gas,39368.0,automatic,sedan,custom,NaN,2018-05-19,42,chevrolet,impala
28,29800,2012.0,chevrolet corvette,excellent,8.0,gas,57413.0,automatic,coupe,orange,NaN,2018-10-22,101,chevrolet,corvette
29,5495,2010.0,chevrolet impala,excellent,6.0,gas,NaN,automatic,sedan,white,NaN,2019-02-18,20,chevrolet,impala
30,5000,2009.0,jeep liberty,good,6.0,gas,137273.0,automatic,SUV,white,1.0,2019-02-19,14,jeep,liberty
31,11999,2017.0,toyota camry le,excellent,4.0,gas,35721.0,automatic,sedan,NaN,NaN,2018-09-13,25,toyota,camry le
32,9499,2015.0,nissan altima,like new,4.0,gas,51848.0,automatic,sedan,grey,NaN,2018-11-12,7,nissan,altima
33,3890,2011.0,subaru outback,excellent,4.0,gas,300000.0,automatic,SUV,white,1.0,2018-12-25,31,subaru,outback
34,9500,2008.0,toyota highlander,good,6.0,gas,149799.0,automatic,SUV,NaN,NaN,2018-06-04,121,toyota,highlander
35,14999,2015.0,dodge charger,good,6.0,gas,63037.0,automatic,sedan,NaN,NaN,2018-05-11,37,dodge,charger
36,10499,2013.0,chrysler 300,good,NaN,gas,88042.0,automatic,sedan,NaN,NaN,2018-05-05,22,chrysler,300
37,7500,2005.0,toyota tacoma,good,NaN,gas,160000.0,automatic,pickup,NaN,NaN,2018-07-22,44,toyota,tacoma
38,7999,2015.0,chrysler 200,good,4.0,gas,NaN,automatic,sedan,NaN,NaN,2019-03-08,29,chrysler,200
39,8000,2009.0,ford f-150,good,8.0,gas,234000.0,automatic,truck,black,1.0,2019-03-31,1,ford,f-150
40,11499,2017.0,chevrolet equinox,like new,4.0,gas,54772.0,automatic,SUV,grey,1.0,2019-01-12,36,chevrolet,equinox
41,11995,2017.0,nissan rogue,like new,4.0,gas,NaN,automatic,SUV,silver,1.0,2018-09-20,21,nissan,rogue
42,34900,2013.0,mercedes-benz benze sprinter 2500,excellent,6.0,diesel,NaN,automatic,van,black,NaN,2019-01-15,16,mercedes-benz,benze sprinter 2500
43,5100,2008.0,honda cr-v,excellent,4.0,gas,188000.0,automatic,SUV,red,1.0,2018-11-18,10,honda,cr-v
44,4500,2004.0,jeep grand cherokee,good,6.0,gas,168821.0,automatic,SUV,NaN,1.0,2019-01-31,60,jeep,grand cherokee
45,2400,2001.0,toyota camry,good,4.0,gas,277564.0,automatic,coupe,yellow,NaN,2018-05-27,51,toyota,camry
46,11200,2015.0,dodge charger,excellent,6.0,gas,90302.0,automatic,sedan,black,1.0,2018-07-19,73,dodge,charger
47,12500,2008.0,toyota 4runner,good,6.0,gas,141098.0,automatic,SUV,grey,NaN,2019-03-10,35,toyota,4runner
48,9500,2014.0,ford focus,excellent,4.0,diesel,46000.0,automatic,sedan,NaN,NaN,2018-10-09,24,ford,focus
49,3200,2006.0,honda civic,excellent,4.0,gas,255390.0,automatic,sedan,blue,NaN,2018-10-18,23,honda,civic
50,6200,2006.0,ford f-150,excellent,6.0,gas,69698.0,automatic,truck,custom,NaN,2018-05-03,50,ford,f-150
51,3800,2012.0,ford focus,good,4.0,gas,130323.0,automatic,sedan,black,NaN,2018-11-29,261,ford,focus
52,3300,2011.0,kia soul,good,4.0,gas,188963.0,manual,SUV,black,NaN,2019-02-16,71,kia,soul
53,10400,2012.0,chevrolet colorado,excellent,5.0,gas,111871.0,automatic,truck,red,1.0,2019-01-30,27,chevrolet,colorado
54,30300,2017.0,ford f-150 supercrew cab xlt,good,6.0,gas,30339.0,automatic,pickup,brown,1.0,2018-07-15,14,ford,f-150 supercrew cab xlt
55,19700,2017.0,chevrolet camaro lt coupe 2d,good,6.0,gas,35807.0,other,coupe,NaN,NaN,2018-05-16,99,chevrolet,camaro lt coupe 2d
56,4200,2006.0,jeep grand cherokee,excellent,6.0,gas,NaN,automatic,SUV,white,1.0,2018-07-01,79,jeep,grand cherokee
57,4877,2012.0,chevrolet cruze,excellent,4.0,gas,163261.0,automatic,sedan,white,NaN,2019-04-18,21,chevrolet,cruze
58,3200,2004.0,bmw x5,excellent,6.0,gas,NaN,automatic,SUV,black,1.0,2019-04-09,10,bmw,x5
59,5200,2006.0,toyota highlander,good,NaN,gas,186000.0,automatic,SUV,green,NaN,2018-12-20,2,toyota,highlander

In [15]:
# EDA: view the unique value names and counts in the following columns

display(vehicles_df['make'].value_counts(sort=False))
print()

display(vehicles_df['model_name'].value_counts(sort=False))
print()

make
bmw                267
ford             12672
hyundai           1173
chrysler           838
toyota            5445
honda             3485
kia                585
chevrolet        10611
ram               3316
gmc               2378
jeep              3281
nissan            3208
subaru            1272
dodge             1255
mercedes-benz       41
acura              236
cadillac           322
volkswagen         869
buick              271
Name: count, dtype: int64

model_name
x5              267
f-150          3326
sonata          477
200             243
300             316
               ...
dakota          242
f-350           250
trailblazer     255
econoline       296
murano          235
Name: count, Length: 95, dtype: int64

In [16]:
# FE: Consolidating vehicle type value names in the 'type' column

# Combine 'truck' and 'pickup' value names into 'truck' value name in `type` column
#vehicles_df['type'] = vehicles_df['type'].replace('pickup', 'truck')

display(vehicles_df['type'].value_counts(sort=True))

# Combine 'truck' and 'pickup' value names into 'pickup' value name in `type` column
#vehicles_df['type'] = vehicles_df['type'].replace()

type
SUV            12405
truck          12353
sedan          12154
pickup          6988
coupe           2303
wagon           1541
mini-van        1161
hatchback       1047
van              633
convertible      446
other            256
offroad          214
bus               24
Name: count, dtype: int64

Note-2-Self

export large output greater than 120 onto `.csv` or `.txt` or `.xlsx`

## <span style="color: teal;">Remove Missing Value, Null, and NaN (*Not a Number*)</span>

<span style="color: green;"><u>**Steps / Action Taken**</u></span>
- Fill Missing Values
    - `is_4wd` column: replace `NaN` with zero (`0` = not 4wd capable)
    - `paint_color` column: replace `NaN` with `'white'`
- <>

<br>

<span style="color: darkorange;"><u>**Findings / Observations**</u></span>
- <>

<br>

<span style="color: red;"><u>**Note-2-Self**</u></span>
- for now...okay to keep the `date_posted` column as `object` datatype
    - will determine and return if needed to change to `datetime` datatype
- may want to clean the `model_year` column to be 4-digit year (YYYY)
- <>

### <span style="color: green;">Fill Missing Value: `'is_4wd'` column</span>

In [17]:
# MISSING VALUES: replace NaN with zero (0 = not 4wd) in 'is_4wd' column 
vehicles_df['is_4wd'] = vehicles_df['is_4wd'].fillna(0)

### <span style="color: green;">Fill Missing Value: `'paint_color'` column</span>

In [18]:
# EDA: using `.describe()` on `paint_color` column
vehicles_df['paint_color'].describe()


# MISSING VALUES: replace NaN with zero (0 = not 4wd) in 'is_4wd' column 
vehicles_df['paint_color'] = vehicles_df['paint_color'].fillna('white')

### <span style="color: green;">Filling Missing Value: `'model_year'` column</span>

In [19]:
# SANITY CHECK: before filling in missing values in 'model_year' column
vehicles_df.isna().sum()

price              0
model_year      3619
model              0
condition          0
cylinders       5260
fuel               0
odometer        7892
transmission       0
type               0
paint_color        0
is_4wd             0
date_posted        0
days_listed        0
make               0
model_name         0
dtype: int64

In [20]:
# MISSING VALUES: replace NaN with 'median' model year calculation in 'model_year' column
    # use df['column_with_NaN'] = df.fillna(df.groupby(['column-1', 'column-2'])['column_with_NaN'].transform('median'))
    # 'column-1' = this 1st column name must have some relavance to 'column_with_NaN'
    # 'column-2' = this 2nd column name must have some relavance to 'column_with_NaN'
        # REMINDER:  additional column names to groupby reduces the groupings size when calculating either the 'median' or 'mean'
            # Thus the chance the reductions of NaN may not be filled in with `.transform('median')`

vehicles_df['model_year'] = vehicles_df['model_year'].fillna(vehicles_df.groupby(['model'])['model_year'].transform('median'))

In [21]:
# SANITY CHECK: after filling in missing values in 'model_year' column
vehicles_df.isna().sum()

price              0
model_year         0
model              0
condition          0
cylinders       5260
fuel               0
odometer        7892
transmission       0
type               0
paint_color        0
is_4wd             0
date_posted        0
days_listed        0
make               0
model_name         0
dtype: int64

### <span style="color: green;">Filling Missing Value: `'odometer'` column</span>

In [22]:
# EDA: using `.describe()` on `odometer` column
vehicles_df['odometer'].describe()

count     43633.000000
mean     115553.461738
std       65094.611341
min           0.000000
25%       70000.000000
50%      113000.000000
75%      155000.000000
max      990000.000000
Name: odometer, dtype: float64

In [23]:
# SANITY CHECK: before filling in missing values in 'odometer' column
vehicles_df.isna().sum()

price              0
model_year         0
model              0
condition          0
cylinders       5260
fuel               0
odometer        7892
transmission       0
type               0
paint_color        0
is_4wd             0
date_posted        0
days_listed        0
make               0
model_name         0
dtype: int64

In [24]:
# MISSING VALUES: replace NaN with 'median' odometer calculation in 'odometer' column
    # use df['column_with_NaN'] = df.fillna(df.groupby(['column-1', 'column-2'])['column_with_NaN'].transform('median'))
    # 'column-1' = this 1st column name must have some relavance to 'column_with_NaN'
    # 'column-2' = this 2nd column name must have some relavance to 'column_with_NaN'
        # REMINDER:  additional column names to groupby reduces the groupings size when calculating either the 'median' or 'mean'
            # Thus the chance the reductions of NaN may not be filled in with `.transform('median')`

vehicles_df['odometer'] = vehicles_df['odometer'].fillna(vehicles_df.groupby(['model', 'model_year'])['odometer'].transform('median'))

In [25]:
# SANITY CHECK: after filling in missing values in 'odometer' column
vehicles_df.isna().sum()

price              0
model_year         0
model              0
condition          0
cylinders       5260
fuel               0
odometer          79
transmission       0
type               0
paint_color        0
is_4wd             0
date_posted        0
days_listed        0
make               0
model_name         0
dtype: int64

In [26]:
# REFERENCE CODE:  use `groupby()` and `transform()` to fill in missing values

#df['value'] = df['value'].fillna(df.groupby('name')['value'].transform('mean'))

### <span style="color: green;">Filling Missing Value: `'cylinders'` column</span>

In [27]:
# SANITY CHECK: before filling in missing values in 'cylinders' column
vehicles_df.isna().sum()

price              0
model_year         0
model              0
condition          0
cylinders       5260
fuel               0
odometer          79
transmission       0
type               0
paint_color        0
is_4wd             0
date_posted        0
days_listed        0
make               0
model_name         0
dtype: int64

In [28]:
# MISSING VALUES: replace NaN with 'median' cylinder calculation in 'cylinders' column
    # use df['column_with_NaN'] = df.fillna(df.groupby(['column-1', 'column-2'])['column_with_NaN'].transform('median'))
    # 'column-1' = this 1st column name must have some relavance to 'column_with_NaN'
    # 'column-2' = this 2nd column name must have some relavance to 'column_with_NaN'
        # REMINDER:  additional column names to groupby reduces the groupings size when calculating either the 'median' or 'mean'
            # Thus the chance the reductions of NaN may not be filled in with `.transform('median')`

vehicles_df['cylinders'] = vehicles_df['cylinders'].fillna(vehicles_df.groupby(['model', 'model_year'])['cylinders'].transform('median'))

In [29]:
# SANITY CHECK: after filling in missing values in 'cylinders' column
display(vehicles_df.isna().sum())
print()

vehicles_df.info()

price            0
model_year       0
model            0
condition        0
cylinders       23
fuel             0
odometer        79
transmission     0
type             0
paint_color      0
is_4wd           0
date_posted      0
days_listed      0
make             0
model_name       0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    51525 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     51502 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      51446 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   51525 non-null  object
 10  is_4wd        51525 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
 13  make          51525 non-null  object
 14  model_name    51525 non-null  object
dtypes: float64(4), int64(2), object(9)
memory usage: 5.9+ MB

### <span style="color: green;">Dropping Missing Value: `'odometer'` & `'cylinders'` column</span>

<span style="color: green;"><u>**Steps / Action Taken**</u></span>
- Drop the remaining Missing Values unable to either fill in or replace
    - `'cylinders'` (counts=23)
    - `'odometer'` (counts=79)
- <>

<br>

<span style="color: darkorange;"><u>**Findings / Observations**</u></span>
- <>

<br>

<span style="color: red;"><u>**Note-2-Self**</u></span>
- <>

## <span style="color: red;">TEST CODES (DID NOT USE)</span>

In [30]:
# EDA: 

# view rows pertaining to bmw 
bmw_df = vehicles_df.query("make == 'bmw'")[['model', 'model_year', 'cylinders', 'odometer', 'type', 'make', 'model_name']]

# sort dataframe by model year then by model then by cylinder in ascending order
sort_bmw_df = bmw_df.sort_values(by=['model_year', 'model', 'cylinders'], ascending=[True, True, True])

#display(bmw_df.head(60))
display(sort_bmw_df.head(60))

        model  model_year  cylinders  odometer       type make model_name
14731  bmw x5      2001.0        6.0  140000.0        SUV  bmw         x5
40844  bmw x5      2001.0        6.0  165273.0        SUV  bmw         x5
50828  bmw x5      2001.0        6.0  153000.0  hatchback  bmw         x5
456    bmw x5      2001.0        8.0  190108.0        SUV  bmw         x5
1425   bmw x5      2001.0        8.0  190108.0        SUV  bmw         x5
10433  bmw x5      2001.0        8.0  118000.0        SUV  bmw         x5
26000  bmw x5      2001.0        8.0  157146.0        SUV  bmw         x5
349    bmw x5      2002.0        6.0  153000.0        SUV  bmw         x5
14536  bmw x5      2002.0        6.0  163000.0        SUV  bmw         x5
23532  bmw x5      2002.0        6.0  163000.0        SUV  bmw         x5
5723   bmw x5      2002.0        8.0  164000.0        SUV  bmw         x5
5220   bmw x5      2003.0        6.0  103000.0        SUV  bmw         x5
31210  bmw x5      2003.0        6.0  149000.0        SUV  bmw         x5
36521  bmw x5      2003.0        6.0  157000.0        SUV  bmw         x5
41193  bmw x5      2003.0        6.0  165300.0        SUV  bmw         x5
51474  bmw x5      2003.0        6.0  170000.0        SUV  bmw         x5
9569   bmw x5      2003.0        8.0  218435.0        SUV  bmw         x5
17754  bmw x5      2003.0        8.0  115086.0        SUV  bmw         x5
25810  bmw x5      2003.0        8.0  215211.0      wagon  bmw         x5
27577  bmw x5      2003.0        8.0  215211.0      wagon  bmw         x5
27796  bmw x5      2003.0        8.0  215211.0      wagon  bmw         x5
27991  bmw x5      2003.0        8.0  215211.0      wagon  bmw         x5
41211  bmw x5      2003.0        8.0  120000.0      sedan  bmw         x5
46736  bmw x5      2003.0        8.0  170000.0        SUV  bmw         x5
48324  bmw x5      2003.0        8.0  215211.0      wagon  bmw         x5
58     bmw x5      2004.0        6.0  127148.0        SUV  bmw         x5
392    bmw x5      2004.0        6.0  127148.0        SUV  bmw         x5
2728   bmw x5      2004.0        6.0  110224.0        SUV  bmw         x5
3121   bmw x5      2004.0        6.0  127148.0        SUV  bmw         x5
4058   bmw x5      2004.0        6.0  249000.0        SUV  bmw         x5
6168   bmw x5      2004.0        6.0  125000.0        SUV  bmw         x5
13361  bmw x5      2004.0        6.0  106000.0        SUV  bmw         x5
18304  bmw x5      2004.0        6.0  105000.0        SUV  bmw         x5
19058  bmw x5      2004.0        6.0  127148.0        SUV  bmw         x5
19725  bmw x5      2004.0        6.0  196093.0        SUV  bmw         x5
21233  bmw x5      2004.0        6.0      90.0      sedan  bmw         x5
23414  bmw x5      2004.0        6.0  127148.0        SUV  bmw         x5
25102  bmw x5      2004.0        6.0  182405.0        SUV  bmw         x5
25296  bmw x5      2004.0        6.0  154578.0        SUV  bmw         x5
36758  bmw x5      2004.0        6.0  127148.0        SUV  bmw         x5
18292  bmw x5      2004.0        8.0  198000.0        SUV  bmw         x5
32971  bmw x5      2004.0        8.0   88671.0        SUV  bmw         x5
38536  bmw x5      2004.0        8.0  179000.0        SUV  bmw         x5
39159  bmw x5      2004.0        8.0   88671.0        SUV  bmw         x5
49391  bmw x5      2004.0        8.0  143399.0        SUV  bmw         x5
1012   bmw x5      2005.0        6.0  240000.0        SUV  bmw         x5
4603   bmw x5      2005.0        6.0  120000.0        SUV  bmw         x5
14277  bmw x5      2005.0        6.0  141060.5        SUV  bmw         x5
40241  bmw x5      2005.0        6.0  157000.0        SUV  bmw         x5
40976  bmw x5      2005.0        6.0  128000.0        SUV  bmw         x5
44148  bmw x5      2005.0        6.0  129584.0        SUV  bmw         x5
45795  bmw x5      2005.0        6.0  163489.0        SUV  bmw         x5
50505  bmw x5      2005.0        6.0  134121.0        SUV  bmw         x5
21111  bmw x5      2005.0        8.0  148000.0        SUV  bmw         x5
25831  bmw x5      2005.0        8.0  141060.5        SUV  bmw         x5
955    bmw x5      2006.0        6.0  157124.0        SUV  bmw         x5
8165   bmw x5      2006.0        6.0  133113.0        SUV  bmw         x5
22279  bmw x5      2006.0        6.0  143849.5        SUV  bmw         x5
22755  bmw x5      2006.0        6.0   18000.0        SUV  bmw         x5
38300  bmw x5      2006.0        6.0  141959.0        SUV  bmw         x5

In [31]:
# groupby

#group_vehicles = vehicles_df.groupby(['model', 'model_year', 'cylinders'])['model_name'].count()

group_bmw = bmw_df.groupby(['model', 'model_year', 'cylinders'])['model_name'].count()

display(group_bmw)

model   model_year  cylinders
bmw x5  2001.0      6.0           3
                    8.0           4
        2002.0      6.0           3
                    8.0           1
        2003.0      6.0           5
                    8.0           9
        2004.0      6.0          15
                    8.0           5
        2005.0      6.0           8
                    8.0           2
        2006.0      6.0           9
                    8.0           5
        2007.0      6.0          15
        2008.0      6.0          13
                    8.0           8
        2009.0      6.0          12
                    8.0           1
        2010.0      6.0          35
                    8.0          10
        2011.0      6.0          24
                    8.0           3
        2012.0      6.0          39
                    8.0           1
        2013.0      6.0          15
                    8.0           1
        2014.0      6.0           3
        2015.0      6.0          11
        2016.0      6.0           2
        2017.0      6.0           3
        2018.0      6.0           1
                    8.0           1
Name: model_name, dtype: int64

In [32]:
# convert groupby() into dataframe

group_bmw_df = group_bmw.reset_index()

display(group_bmw_df)

     model  model_year  cylinders  model_name
0   bmw x5      2001.0        6.0           3
1   bmw x5      2001.0        8.0           4
2   bmw x5      2002.0        6.0           3
3   bmw x5      2002.0        8.0           1
4   bmw x5      2003.0        6.0           5
5   bmw x5      2003.0        8.0           9
6   bmw x5      2004.0        6.0          15
7   bmw x5      2004.0        8.0           5
8   bmw x5      2005.0        6.0           8
9   bmw x5      2005.0        8.0           2
10  bmw x5      2006.0        6.0           9
11  bmw x5      2006.0        8.0           5
12  bmw x5      2007.0        6.0          15
13  bmw x5      2008.0        6.0          13
14  bmw x5      2008.0        8.0           8
15  bmw x5      2009.0        6.0          12
16  bmw x5      2009.0        8.0           1
17  bmw x5      2010.0        6.0          35
18  bmw x5      2010.0        8.0          10
19  bmw x5      2011.0        6.0          24
20  bmw x5      2011.0        8.0           3
21  bmw x5      2012.0        6.0          39
22  bmw x5      2012.0        8.0           1
23  bmw x5      2013.0        6.0          15
24  bmw x5      2013.0        8.0           1
25  bmw x5      2014.0        6.0           3
26  bmw x5      2015.0        6.0          11
27  bmw x5      2016.0        6.0           2
28  bmw x5      2017.0        6.0           3
29  bmw x5      2018.0        6.0           1
30  bmw x5      2018.0        8.0           1

In [33]:
# TEST CODE:

# view rows with NaN in `cylinders` column
cylinders_df = vehicles_df[vehicles_df['cylinders'].isna()]

# sort rows in ascending order, or descending order (ascending=False), under `cylinders` column
sort_cylinders_df = cylinders_df.sort_values(by='model', ascending=False)


display(cylinders_df.sample(10))
display(sort_cylinders_df.head(10))
display(sort_cylinders_df.tail(10))

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,make,model_name
29822,1800,1989.0,toyota camry,excellent,NaN,gas,196617.0,automatic,sedan,blue,0.0,2019-03-01,32,toyota,camry
39952,1900,1990.0,toyota camry,good,NaN,gas,156481.0,automatic,sedan,white,0.0,2018-09-29,43,toyota,camry
47761,3800,1984.0,honda accord,new,NaN,gas,121000.0,manual,sedan,blue,0.0,2019-01-05,162,honda,accord
1101,9200,1975.0,ford f-150,excellent,NaN,gas,NaN,automatic,truck,green,0.0,2018-08-28,40,ford,f-150
15623,5300,2005.0,dodge charger,excellent,NaN,gas,125000.0,automatic,sedan,red,0.0,2018-10-30,46,dodge,charger
35818,1700,1986.0,nissan sentra,excellent,NaN,gas,152000.0,manual,coupe,blue,0.0,2018-09-29,23,nissan,sentra
7113,84900,2019.0,ford f-350,new,NaN,diesel,9000.0,automatic,pickup,white,1.0,2019-03-26,7,ford,f-350
33965,5800,1971.0,ford econoline,good,NaN,gas,78000.0,automatic,van,blue,0.0,2019-04-01,40,ford,econoline
36582,44900,1949.0,chevrolet suburban,good,NaN,gas,1800.0,automatic,wagon,orange,0.0,2018-08-19,10,chevrolet,suburban
3844,1900,1986.0,nissan sentra,excellent,NaN,gas,152000.0,manual,coupe,blue,0.0,2018-10-29,63,nissan,sentra

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,make,model_name
12760,1050,1995.0,toyota corolla,fair,NaN,gas,428000.0,manual,sedan,black,0.0,2018-06-13,12,toyota,corolla
39952,1900,1990.0,toyota camry,good,NaN,gas,156481.0,automatic,sedan,white,0.0,2018-09-29,43,toyota,camry
29822,1800,1989.0,toyota camry,excellent,NaN,gas,196617.0,automatic,sedan,blue,0.0,2019-03-01,32,toyota,camry
27075,3800,1988.0,ram 2500,good,NaN,gas,64000.0,automatic,pickup,white,1.0,2018-08-26,34,ram,2500
3844,1900,1986.0,nissan sentra,excellent,NaN,gas,152000.0,manual,coupe,blue,0.0,2018-10-29,63,nissan,sentra
35818,1700,1986.0,nissan sentra,excellent,NaN,gas,152000.0,manual,coupe,blue,0.0,2018-09-29,23,nissan,sentra
36935,3995,2009.0,kia sorento,excellent,NaN,gas,211698.0,automatic,SUV,grey,1.0,2018-10-08,56,kia,sorento
43595,5995,1988.0,jeep wrangler,good,NaN,gas,100309.0,manual,SUV,white,1.0,2018-08-17,12,jeep,wrangler
7121,6900,2009.0,jeep cherokee,excellent,NaN,gas,130023.0,automatic,SUV,black,1.0,2018-09-03,19,jeep,cherokee
47761,3800,1984.0,honda accord,new,NaN,gas,121000.0,manual,sedan,blue,0.0,2019-01-05,162,honda,accord

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,make,model_name
14752,15000,1954.0,ford f-150,excellent,NaN,gas,3565.0,manual,pickup,black,0.0,2019-02-16,13,ford,f-150
1101,9200,1975.0,ford f-150,excellent,NaN,gas,NaN,automatic,truck,green,0.0,2018-08-28,40,ford,f-150
33965,5800,1971.0,ford econoline,good,NaN,gas,78000.0,automatic,van,blue,0.0,2019-04-01,40,ford,econoline
15623,5300,2005.0,dodge charger,excellent,NaN,gas,125000.0,automatic,sedan,red,0.0,2018-10-30,46,dodge,charger
36582,44900,1949.0,chevrolet suburban,good,NaN,gas,1800.0,automatic,wagon,orange,0.0,2018-08-19,10,chevrolet,suburban
6982,3900,1977.0,chevrolet suburban,fair,NaN,gas,NaN,automatic,SUV,custom,0.0,2019-02-02,71,chevrolet,suburban
3914,9750,2007.0,chevrolet silverado 1500 crew,excellent,NaN,gas,133000.0,automatic,pickup,grey,0.0,2018-08-22,55,chevrolet,silverado 1500 crew
37000,6800,1980.0,chevrolet malibu,good,NaN,gas,NaN,automatic,coupe,brown,0.0,2019-02-26,33,chevrolet,malibu
28799,45900,1971.0,chevrolet camaro,like new,NaN,gas,0.0,manual,coupe,orange,0.0,2019-01-10,75,chevrolet,camaro
11087,16000,1971.0,chevrolet camaro,excellent,NaN,gas,0.0,manual,coupe,brown,0.0,2018-12-28,125,chevrolet,camaro

In [34]:
# SANITY CHECK:
display(vehicles_df.isna().sum())
print()

vehicles_df.info()

price            0
model_year       0
model            0
condition        0
cylinders       23
fuel             0
odometer        79
transmission     0
type             0
paint_color      0
is_4wd           0
date_posted      0
days_listed      0
make             0
model_name       0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    51525 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     51502 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      51446 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   51525 non-null  object
 10  is_4wd        51525 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
 13  make          51525 non-null  object
 14  model_name    51525 non-null  object
dtypes: float64(4), int64(2), object(9)
memory usage: 5.9+ MB

In [35]:
# pull all rows containing the specific 'model_year' column

#specific_model = 

#filtered_models = vehicles_df.loc[vehicles_df['model']]

In [36]:
# Reference Code - double check the `model` column


# SANTIY CHECK: Spot Check for specific user ID's total monthly call counts = total 2018 call count


# Replace with the user_id you want to filter
#specific_user_id = 1498  

# pull all rows containing the specific user ID
#filtered_df_call_counts = df_user_monthly_call_count.loc[df_user_monthly_call_count['user_id'] == specific_user_id]

# sums the sepcific user ID's monthly call counts
#user_total_call_count = filtered_df_call_counts['total_calls'].sum()

# notice this equals the User ID's total call counts in 2018
#print(f"User ID: {specific_user_id} total call count in 2018 is {user_total_call_count}.")


# Display the filtered dataframe
#display(filtered_df_call_counts)

In [37]:
# CLEANING DATA - remove NaN values in `model_year` column

In [38]:
# Feature Engineering - parse manufacturer and model name in 'model' column
# code to reference to parse manufacturer and model
# use later.  Need to clean.
# remove null / Nan / missing values


#vehicles_df[['make', 'model']] = vehicles_df['model'].str.split(' ', n=1, expand=True)